<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/">
                    <span>Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/institutos_de_investigacion/">
                    <span>Institutos de Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Instituto de Hidrología</span>
            </li>
        </ol>
    </nav>
</div>
<div class="wrapper">
        <div class="region region-sidebar-first">
            <!-- Menú lateral -->
            <nav role="navigation" aria-labelledby="block-menuinvestigacion-menu" id="block-menuinvestigacion" class="clearfix block block-menu navigation menu--menu-investigacion">
                <h4 class="visually-hidden" id="block-menuinvestigacion-menu">Menú-Investigación</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/investigacion/institutos_de_investigacion" data-drupal-link-system-path="node/72" class="is-active">Institutos de Investigación</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/investigacion/institutos_de_investigacion/huajuapan_de_leon" data-drupal-link-system-path="node/74">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let instituto of institutos">
                                        <a [ngClass]="{ 'highlight-red': instituto.nombre === 'Instituto de Minería' }" 
                                        (click)="navigateTo(instituto.nombre)">{{instituto.nombre }}</a>
                                      </li> 
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/investigacion/productos_de_la_investigacion" data-drupal-link-system-path="node/73">Productos de la Investigación</a>
                    </li>
                </ul>
            </nav>
        </div>
    
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Instituto de Hidrología</span></h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" about="/home/investigacion/institutos_de_investigacion/instituto_de_hidrologia" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Instituto de Hidrología</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/hidrologia1.jpeg" width="730" height="280" alt="Instituto de Hidrología" typeof="foaf:Image" />
                    </div>

                    <div class="text-container text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <p>Con la fundación de la Universidad Tecnológica de la Mixteca en 1990, se establecieron institutos de enseñanza e investigación, entre ellos el Instituto de Hidrología, cuyo objetivo se orientó a buscar soluciones científicas a los problemas de degradación de los recursos naturales (agua, suelo y vegetación), base para el desarrollo urbano, agrícola e industrial; buscando con ello incrementar la cantidad y calidad de estos recursos y elevar el nivel de vida de la sociedad en la región mixteca, el estado de Oaxaca y el país.</p>
                        
                        <p><strong>Objetivo</strong></p>
                        <p>Buscar que la solución de los problemas y el desarrollo de la Hidrología se enfoque como una ciencia con visión integral, cuyo trabajo de investigación se base en un esquema multi e interdisciplinario, para dar soluciones completas e incluyentes, que abarquen los tres pilares del desarrollo sostenible: progreso social, crecimiento económico y protección ambiental.</p>

                        <p><strong>Objetivos Específicos</strong></p>
                        <p>Los objetivos particulares de este instituto son los siguiente:</p>
                        <ul class="reduce-spacing">
                            <li >Desarrollar investigación científica y tecnológica que contribuya al manejo y aprovechamiento sostenible del agua, suelo y vegetación.</li>
                            <li >Aplicar los resultados de las investigaciones para la promoción del desarrollo sostenible de las comunidades en las regiones de Oaxaca.</li>
                            <li>Formar y capacitar recursos humanos en el manejo y aprovechamiento sostenible del agua, suelo y vegetación.</li>
                        </ul>

    
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
