<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licienciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Licenciatura en Matematicas Aplicadas</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
       <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas" class="highlight-red">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/licenciatura_estudios_mexicanos.html" target="_blank">Licenciatura en Estudios Mexicanos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
    
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Licenciatura en Matematicas Aplicadas</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Licenciatura en Matematicas Aplicadas</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Licenciatura en Matematicas Aplicadas" typeof="foaf:Image" />
                    </div>

                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                            <ul class="contact-info">
                                                <li><h3>Dr. Franco Barragán Mendoza</h3></li>
                                                <li><i class="fas fa-envelope"></i>jcmatematicasaplicadas@mixteco.utm.mx</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="i === 1">
                                        <div class="mision-content">
                                          <p>Misión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                        
                                        </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                          <div class="vision-content">
                                            <p>Visión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                          </div>
                                          </div>
                                        <div *ngIf="i === 3">
                                           <div class="objetivo-content">
                                            <p>Objetivo en revisión por parte de las autoridades universitarias correspondientes.</p>
                                        </div>
                                      </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-ingreso-content">
                                                <p>El aspirante a cursar la Licenciatura en Matemáticas Aplicadas en la UTM deberá tener los siguientes conocimientos, habilidades y actitudes y valores:</p>
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Aritmética.</li>
                                                  <li>Álgebra básica.</li>
                                                  <li>Trigonometría.</li>
                                                  <li>Geometría.</li>
                                                </ul>
                                                <li><strong>Habilidades para:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Realizar razonamientos y emitir juicios.</li>
                                                  <li>Resolver e interpretar problemas.</li>
                                                  <li>Trabajar en equipo y de forma individual.</li>
                                                </ul>
                                                <li><strong>Actitudes y valores:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Interés por el estudio de las matemáticas.</li>
                                                  <li>Gusto por enfrentar retos donde sea necesario el uso de razonamientos lógicos.</li>
                                                  <li>Actitud positiva, apertura para conocer nuevos conceptos, procesos y técnicas.</li>
                                                  <li>Ser perseverante y persistente para adquirir conocimiento.</li>
                                                  <li>Comprensión, respeto, aprecio y tolerancia hacia la diversidad.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <div class="perfil-egreso-content">
                                                <p>El Licenciado en Matemáticas Aplicadas, es un profesional con una sólida formación en Matemáticas y sus aplicaciones actuales, posee gran capacidad de abstracción de la realidad, es capaz de interpretar, crear y resolver modelos matemáticos. Tiene una preparación de calidad que le permite realizar estudios de posgrado en el país y el extranjero. Al mismo tiempo, se desempeña en el sector público y de servicios, en centros de investigación científica y aplicada.</p>
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul class="reduce-spacing">
                                                    <li>Sólidos en las áreas del conocimiento: Análisis Matemático, Álgebra, Geometría y Topología, Probabilidad y Estadística y Modelado Matemático.</li>
                                                     <li>Básicos de Programación, Inglés, Mecánica Clásica, Economía Matemática y Lógica Matemática.</li>
                                                    <li>Sólidos en por lo menos una de las líneas terminales con orientación a:</li>
                                                     <ul>
                                                        <li>Ciencia de Datos e Inteligencia Artificial.</li>
                                                      
                                                         <li>Economía y Finanzas.</li>
                                                           <li>Aproximación y Optimización.</li>
                                                            <li>Topología y Sistemas Dinámicos.</li>
                                                             <li>Biología Matemática.</li>
                                                              <li>Probabilidad y Estadística.</li>
                                                    </ul>  
                                                    <li>Del enfoque axiomático y de los métodos de validación en la construcción de las teorías matemáticas, y que sustentarán cualquier tipo de investigación aplicada.</li>
                                                    <li>De los conceptos, métodos y teorías de las áreas fundamentales de las matemáticas, además de la diversa gama de posibilidades de aplicación.</li>  
                                                </ul>
                                                
                                                <li><strong>Habilidades:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Construir y desarrollar argumentaciones lógicas con una identificación clara de hipótesis y conclusiones, así como de identificación de inconsistencias.</li>
                                                  <li>Discernir el desarrollo lógico de teorías matemáticas y abstraer las relaciones entre ellas.</li>
                                                  <li>Aplicar la matemática y sus estructuras lógicas, para resolver problemas de las ciencias exactas, naturales, sociales y/o la tecnología.</li>
                                                  <li>Construir modelos matemáticos simplificados que describan una situación compleja, identificando sus elementos esenciales y efectuando las aproximaciones necesarias; conjeturando y creando estrategias de solución, analíticas y/o numéricas.</li>
                                                  <li>Extraer información a partir de grandes volúmenes de datos, analizar y realizar predicciones.</li>
                                                  <li>Generar procesos o proyectos de difusión u divulgación del conocimiento y valor de la matemática que impacten en su comunidad, así como elaborar e impartir cursos de matemáticas a distintos niveles.</li>
                                                  <li>Razonar de manera estructurada, comunicar con claridad y precisión conceptos, procesos de investigación y resultados científicos en lenguaje oral y escrito ante sus pares, y en situaciones de enseñanza y de divulgación.</li>
                                                </ul>
                                                
                                                <li><strong>Actitudes y valores:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Desarrollar los valores éticos de la profesión que le permitan actuar adecuadamente dentro del campo laboral y social de manera cooperativa y colaborativa.</li>
                                                  <li>Abordar los conflictos a través del diálogo y la negociación, ejerciendo los valores del pluralismo, democracia, equidad, solidaridad, tolerancia y paz.</li>
                                                  <li>Ser líder íntegro y humanista, promotor de la convivencia multicultural y capaz de tener apertura al cambio, comprensión y tolerancia hacia la diversidad.</li>
                                                  <li>Desarrollar investigación con responsabilidad social en equipos interdisciplinarios.</li>
                                                  <li>Desarrollar un pensamiento abierto y flexible, con capacidad de asombro, que le permita la integración de nuevos saberes, para un aprendizaje a lo largo de la vida.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 6">
                                            <div class="campo-de-accion-content">
                                                <p>El Licenciado en Matemáticas Aplicadas tendrá conocimientos sólidos y habilidades para integrarse, entre otros, en los ámbitos laborales siguientes:</p>
                                                <ul style="list-style-type: none;">
                                                  <li><strong>Como profesionista independiente:</strong></li>
                                                  <ul class="reduce-spacing">
                                                    <li>Consultor en estadística, control de calidad y estudios de factibilidad.</li>
                                                    <li>Dirección de empresas de investigación de mercados y estudios de opinión.</li>
                                                    <li>Asesor para el desarrollo y la administración económica de empresas.</li>
                                                    <li>Diseñador de software.</li>
                                                  </ul>
                                                  <li><strong>Como miembro de una Empresa o Industria:</strong></li>
                                                  <ul class="reduce-spacing">
                                                    <li>Empresas públicas o privadas que requieren de análisis numéricos y métodos computacionales, análisis de datos e inteligencia artificial para análisis de mercado y toma de decisiones.</li>
                                                    <li>Control y optimización de procesos productivos en diversas empresas o industrias.</li>
                                                    <li>Simulación de sistemas, investigación de operaciones y experimentación en la industria.</li>
                                                    <li>Empresas dedicadas al desarrollo de software o departamentos de planeación y logística.</li>
                                                  </ul>
                                                  <li><strong>Como miembro de alguna Institución u Organización:</strong></li>
                                                  <ul class="reduce-spacing">
                                                    <li>Catedrático y/o investigador en instituciones educativas públicas o privadas a nivel medio superior y superior.</li>
                                                    <li>En organismos que se dediquen a recolectar, organizar, analizar e interpretar grandes cantidades de datos.</li>
                                                    <li>Tendrá los conocimientos suficientes para integrarse a programas afines de posgrados de excelencia, dentro y fuera del país.</li>
                                                  </ul>
                                                </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 7">
                                            <div class="plan-de-estudios-content">
                                                <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
                                                  <tbody>
                                                    <tr style="background-color:#ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Matemáticas Básicas <br />
                                                              Geometría Euclidiana <br />
                                                              Fundamentos Programación Estructurada <br />
                                                              Historia del Pensamiento Filosófico <br />
                                                              <br />	
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Álgebra Superior <br />
                                                              Cálculo Diferencial <br />
                                                              Geometría Analítica <br />
                                                              Elementos de Estructura de Datos <br />
                                                              Teoría General de Sistemas
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Álgebra Lineal I <br />
                                                              Cálculo Integral <br />
                                                              Matemáticas Discretas <br />
                                                              Herramientas Computacionales <br />
                                                              Mecánica
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Álgebra Lineal II <br />
                                                              Cálculo Diferencial en Varias Variables <br />
                                                              Ecuaciones Diferenciales Ordinarias <br />
                                                              Análisis Numérico I <br />
                                                              Análisis de Algoritmos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color:#ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Álgebra Moderna I <br />
                                                              Cálculo Integral en Varias Variables <br />
                                                              Lógica Matemática <br />
                                                              Análisis Numérico II <br />
                                                              Probabilidad
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Álgebra Moderna II <br />
                                                              Análisis Matemático I <br />
                                                              Ecuaciones Diferenciales Parciales <br />
                                                              Procesos Estocásticos <br />
                                                              <br />
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Teoría de Optimización <br />
                                                              Análisis Matemático II <br />
                                                              Topología General <br />
                                                              Inteligencia Artificial
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Teoría de la Medida <br />
                                                              Sistemas Dinámicos Continuos <br />
                                                              Introducción a Ciencia de Datos <br />
                                                              Temas de Estadística Aplicada
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color:#ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Análisis de Fourier <br />
                                                              Variable Compleja <br />
                                                              Modelación Matemática <br />
                                                              Metodología de la Investigación <br />
                                                              Optativa II
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Análisis Funcional <br />
                                                              Economía Matemática <br />
                                                              Seminario de Tesis <br />
                                                              Optativa III <br />
                                                              <br />
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff;">
                                                      <td colspan="2" style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">LÍNEAS TERMINALES</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                             • Biología Matemática<br />
                                                             • Aproximación y Optimización<br />
                                                             • Inteligencia Artificial y Ciencia de Datos<br />
                                                             • Topología y Sistemas Dinámicos<br />
                                                             • Probabilidad y Estadística<br />
                                                             • Economía y Finanzas
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              
                                              <div class="optativas-content">
                                                <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
                                                  <tbody>
                                                    <tr style="background-color: #ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">OPTATIVAS</font></strong>
                                                          </span>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <strong>SEMESTRE</strong>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <strong>MATERIAS</strong>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        Octavo
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        Dinámica de poblaciones <br />
                                                        Introducción a Sistemas Dinámicos Discretos <br />
                                                        Investigación de Operaciones <br />
                                                        Redes Neuronales Artificiales <br />
                                                        Simulación Estadística con R <br />
                                                        Teoría de Inversiones
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        Noveno
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        Estimación de parámetros <br />
                                                        Geometría computacional <br />
                                                        Introducción a la Teoría de Aproximación <br />
                                                        Minería de Datos Estáticos <br />
                                                        Series de Tiempo <br />
                                                        Modelación Financiera I
                                                      </td>
                                                    </tr>
                                                    <tr style="background-color: #ffffff;">
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        Décimo
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        Temas Selectos de Biología Matemática <br />
                                                        Análisis Topológico de Datos <br />
                                                        Métodos de Optimización No Lineal <br />
                                                        Datos Masivos <br />
                                                        Teoría de Muestreo <br />
                                                        Modelación Financiera II
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sección Convocatoria -->
                    <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                        <h2 class="title">Convocatoria</h2>
                        <div class="content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>
                                    <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
