<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="content">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Cultura</span>
            </li>
        </ol>
    </nav>
</div>

<!--Aquí comienza el resto de la página-->

<div class="region region-content">
    <div id="block-suneo-umar-page-title" class="clearfix block block-core block-page-title-block">
        <div class="content">
            <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Cultura</span></h1>
        </div>
    </div>
</div>

<!--Aquí van las imágenes de enlaces-->

<div class="views-element-container clearfix block block-views block-views-blockvista-nuestra-universidad-block-1" id="block-views-block-vista-nuestra-universidad-block-1">
    <div class="content">
        <div class="cards-grid view view-vista-nuestra-universidad view-id-vista_nuestra_universidad view-display-id-block_1 js-view-dom-id-2d5d65fe762e84bd8aeab2d3a11955b56857df25ece17453c89145a3fa9ff320">
            <div class="view-content">
                <div class="views-view-grid">
                    <div class="views-row">
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/cultura/publicaciones" hreflang="es">Publicaciones</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/UTM-Historia.png" class="img-fluid" />
                            <a href="/home/cultura/librerias" hreflang="es">Librerias</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/UTM-Modelo.png" class="img-fluid" />
                            <a href="/home/cultura/actividades_culturales_y_deportivas" hreflang="es">Actividades Culturales & Deportivas</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/UTM-Premios.png" class="img-fluid" />
                            <a href="/home/cultura/multimedia" hreflang="es">Multimedia</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
