<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Investigacion</span>
            </li>
        </ol>
    </nav>
</div>

<!-- Contenido Principal -->
<div class="region region-content">
    <div id="block-suneo-umar-page-title" class="clearfix block block-core block-page-title-block">
        <div class="content">
            <h1 class="title page-title">
                <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Investigación</span>
            </h1>
        </div>
    </div>
    <div class="views-element-container clearfix block block-views block-views-blockvista-nuestra-universidad-block-10" id="block-views-block-vista-nuestra-universidad-block-10">
        <div class="content">
            <div class="cards-grid view view-vista-nuestra-universidad view-id-vista_nuestra_universidad view-display-id-block_10 js-view-dom-id-46b1c296ed4c218cec37d4e861ecf059b7cb5f13f9ae33ac142b2ea97e1840dd">
                <div class="view-content">
                    <div class="views-view-grid horizontal cols-4 clearfix">
                        <div class="views-row clearfix row-1">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 views-col col-1">
                                <div class="views-field views-field-field-portada-investigacion">
                                    <div class="field-content">
                                        <img src="/assets/images/Computacion.png" class="img-fluid" />
                                    </div>
                                </div>
                                <span class="views-field views-field-title">
                                    <span class="field-content">
                                        <a href="/home/investigacion/institutos_de_investigacion/" hreflang="es">Institutos de Investigación</a>
                                    </span>
                                </span>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 views-col col-2">
                                <div class="views-field views-field-field-portada-investigacion">
                                    <div class="field-content">
                                        <img src="/assets/images/Computacion.png" class="img-fluid" />
                                    </div>
                                </div>
                                <span class="views-field views-field-title">
                                    <span class="field-content">
                                        <a href="/web/investigacion/productos_de_la_investigacion" hreflang="es">Productos de la Investigación</a>
                                    </span>
                                </span>
                            </div>
                            <!-- Agrega más tarjetas aquí -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<article data-history-node-id="18" role="article" about="/web/investigacion" typeof="schema:WebPage" class="node node--type-page node--view-mode-full clearfix">
    <div class="node__container">
        <div class="node__main-content clearfix">
            <header class="node__header">
                <h2 class="node__title title sr-only">
                    <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Investigación</span>
                </h2>
                <span property="schema:name" content="Investigación" class="rdf-meta hidden"></span>
            </header>
        </div>
    </div>
</article>
