<div class="region region-content">
  <!-- Barra de navegación (breadcrumb) -->
  <div class="content">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
          <h2 id="system-breadcrumb" class="visually-hidden"></h2>
          <ol class="breadcrumb__items">
              <li class="breadcrumb__item">
                  <a href="/home/web/">
                      <span>Inicio</span>
                  </a>
              </li>
              <li class="breadcrumb__item">
                  <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                  <a href="/home/nuestra_universidad">
                      <span>Nuestra Universidad</span>
                  </a>
              </li>
              <li class="breadcrumb__item">
                  <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                  <span>Premios &amp; Reconocimientos</span>
              </li>
          </ol>
      </nav>
  </div>
  <div class="wrapper">
      <div class="region-sidebar-first">
          <!-- Menú lateral -->
          <nav role="navigation" aria-labelledby="block-menunuestrauniversidad-menu" id="block-menunuestrauniversidad"
              class="clearfix block block-menu navigation menu--menu-nuestra-universidad">
              <h2 class="visually-hidden" id="block-menunuestrauniversidad-menu">Menú Lateral</h2>
              <ul class="menu">
                  <li class="menu-item">
                      <a href="/home/nuestra_universidad/que_es_la_utm" data-drupal-link-system-path="node/26">¿Qué
                          es la UTM?</a>
                  </li>
                  <li class="menu-item">
                      <a href="/home/nuestra_universidad/historia" data-drupal-link-system-path="node/25">Historia</a>
                  </li>
                  <li class="menu-item">
                      <a href="/home/nuestra_universidad/modelo_educativo"
                          data-drupal-link-system-path="node/24">Modelo Educativo</a>
                  </li>
                  <li class="menu-item">
                      <a href="/home/nuestra_universidad/premios_reconocimientos"
                          data-drupal-link-system-path="node/23" class="highlight-red">Premios & Reconocimientos</a>
                  </li>
                  <li class="menu-item">
                      <a href="/home/nuestra_universidad/estructura_general"
                          data-drupal-link-system-path="node/22">Estructura General</a>
                  </li>
                  <li class="menu-item">
                      <a href="/home/nuestra_universidad/legislacion_universitaria"
                          data-drupal-link-system-path="node/21">Legislación Universitaria</a>
                  </li>
                  <li class="menu-item menu-item--active-trail">
                      <a href="/home/nuestra_universidad/correo_electronico" data-drupal-link-system-path="node/401"
                          class="is-active">Correo electrónico</a>
                  </li>
                  <li class="menu-item">
                      <a href="/home/nuestra_universidad/contacto" data-drupal-link-system-path="node/406">Contacto</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="node__main-content clearfix">
          <!-- Contenido principal -->
          <header class="node__header">
              <h1 class="title page-title">
                  <span class="field field--name-title field--type-string field--label-hidden">Premios &
                      Reconocimientos</span>
              </h1>
          </header>
          <div class="image-container">
              <div class="field field--name-field-portada-nuestra-universida field--type-image field--label-hidden field__item">
                  <img loading="lazy" src="/assets/images/UTM-Premios.png" width="1140" height="450"
                      alt="Premios & Reconocimientos" />
              </div>
          </div>
          <div
              class="text-container clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
              <p>La calidad de la educación en la Universidad del Mar se ve reflejada en los premios y reconocimientos
                  que han recibido sus alumnos.</p>
              <img src="/assets/images/CENEVAL.png" data-entity-uuid="f721b1aa-e8b8-4264-8d7e-2dbe5e8e4c05"
                  data-entity-type="file" alt="ceneval" loading="lazy" />
          </div>
      </div>
  </div>
</div>
