<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/">
                    <span>Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/institutos_de_investigacion/">
                    <span>Institutos de Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Instituto de Física y Matemáticas</span>
            </li>
        </ol>
    </nav>
</div>
<div class="wrapper">
       <div class="region region-sidebar-first">
            <!-- Menú lateral -->
            <nav role="navigation" aria-labelledby="block-menuinvestigacion-menu" id="block-menuinvestigacion" class="clearfix block block-menu navigation menu--menu-investigacion">
                <h4 class="visually-hidden" id="block-menuinvestigacion-menu">Menú-Investigación</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/investigacion/institutos_de_investigacion" data-drupal-link-system-path="node/72" class="is-active">Institutos de Investigación</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/investigacion/institutos_de_investigacion/hujuapan_de_leon" data-drupal-link-system-path="node/74">Hujuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_computacion" data-drupal-link-system-path="node/77">Instituto de Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_electronica_y_mecatronica" data-drupal-link-system-path="node/77">Instituto de Electrónica y Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_diseno" data-drupal-link-system-path="node/77">Instituto de Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_fisica_y_matematicas" data-drupal-link-system-path="node/77" class="highlight-red">Instituto de Física y Matemáticas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ciencias_sociales_y_humanidades" data-drupal-link-system-path="node/77">Instituto de Ciencias Sociales y Humanidades</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_agroindustrias" data-drupal-link-system-path="node/77">Instituto de Agroindustrias</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_hidrologia" data-drupal-link-system-path="node/77">Instituto de Hidrología</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_mineria" data-drupal-link-system-path="node/77">Instituto de Minería</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ingenieria_industrial_y_automotriz" data-drupal-link-system-path="node/77">Instituto de Ingeniería Industrial y Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/centro_de_estudios_de_nuevos_materiales" data-drupal-link-system-path="node/77">Centro de Estudios de Nuevos Materiales</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/investigacion/productos_de_la_investigacion" data-drupal-link-system-path="node/73">Productos de la Investigación</a>
                    </li>
                </ul>
            </nav>
        </div>
   
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Instituto de Física y Matemáticas</span></h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" about="/home/investigacion/institutos_de_investigacion/instituto_de_fisica_y_matematicas" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Instituto de Física y Matemáticas</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/fismat1.jpeg" width="730" height="280" alt="Instituto de Física y Matemáticas" typeof="foaf:Image" />
                    </div>

                    <div class="text-container text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <p>El Instituto de Física y Matemáticas, IFM, es el encargado de otorgar los conocimientos suficientes y de alta calidad, tanto de física como de matemáticas a los estudiantes de todas las ingenierías, que imparte la Universidad; para generar profesionistas altamente calificados tanto a nivel nacional como internacional. En cuestión de investigación científica el instituto ha sobresalido con la participación en congresos y la publicación de artículos a nivel nacional e internacional.</p>
                        
                        <p>El Instituto cuenta con proyectos aprobados y financiados por Conacyt, esto demuestra la alta calidad y la cantidad de la investigación desarrollada en el IFM. Además, algunos Profesores-Investigadores pertenecen al Sistema Nacional de Investigadores. Con respecto a Cuerpos Académicos, en el IFM se han creado tres: dos en el área de la física y uno en el área de las matemática, y una cantidad importante de Profesores-Investigadores adscritos a estos Cuerpos Académicos cuenta con el perfil PROMEP, esto demuestra también la calidad en la docencia impartida en el IFM.</p>

                        <p><strong>Objetivos específicos</strong></p>
                        <ul>
                            <li class="reduce-spacing">Formar licenciados en Matemáticas Aplicadas altamente calificados y competitivos a nivel nacional e internacional.</li>
                            <li class="reduce-spacing">Formar ingenieros en Física Aplicada altamente calificados y competitivos a nivel nacional e internacional.</li>
                            <li class="reduce-spacing">Impartir los conocimientos, suficientes y de alta calidad, de matemáticas y física a las Ingenierías impartidas por la Universidad para generar Profesionistas altamente calificados y competitivos a nivel nacional e internacional.</li>
                            <li class="reduce-spacing">Generar investigación científica de alto nivel, competitiva a nivel internacional, en las áreas de las matemáticas, la física y áreas afines.</li>
                        </ul>

                        <p><strong>Actividades más importantes</strong></p>
                        
                        <ul>
                            <li style="list-style-type: none;"><strong>Docencia</strong></li>
                        
                        <ul>
                            <li>Preparación e impartición de cursos.</li>
                            <li>Preparación e impartición de cursos de actualización a profesores de nivel medio superior.</li>
                            <li>Impartición de asesorías.</li>
                            <li>Impartición de cursos complementarios para la presentación del examen del Ceneval.</li>
                            <li>Actualización y creación de planes y programas de estudio.</li>
                            <li>Generación de material didáctico como apoyo a los cursos impartidos.</li>
                            <li>Dirección de tesis.</li>
                        </ul>
                        <li style="list-style-type:none;"><strong>Investigación</strong></li>
                        <ul>
                            <li>Publicación de artículos de investigación.</li>
                            <li>Participación en congresos nacionales e internacionales.</li>
                            <li>Creación de proyectos de investigación.</li>
                            <li>Realización de estancias posdoctorales y sabáticas de investigación.</li>
                            <li>Estancias cortas de investigación en Institutos de investigación de alto nivel.</li>
                        </ul>
                    </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
