<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licenciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>{{datos_carrera.nombre_carrera}}</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
       <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                  <li class="menu-item" *ngFor="let licenciatura of licenciaturas">
                                    <a 
                                      [ngClass]="{ 'highlight-red': licenciatura.nombre === datos_carrera.nombre_carrera }"
                                      (click)="navigateTo(licenciatura.nombre)">
                                      {{ licenciatura.nombre }}
                                    </a>
                                  </li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                  <li class="menu-item" *ngFor="let posgrado of posgrados">
                                    <a 
                                      
                                      (click)="navigateTo(posgrado.nombre)">
                                      {{ posgrado.nombre }}
                                    </a>
                                  </li>  
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
   

    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">{{datos_carrera.nombre_carrera}}</span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">{{datos_carrera.nombre_carrera}}</span>
                            </h2>
                        </header>

                        <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                            <img loading="lazy" src="{{datos_carrera.url_imagen}}" width="1140" height="450" alt="Ingenieria Civil" typeof="foaf:Image" />
                        </div>

                        <div class="accordion-container">
                            <div class="panel-group">
                                <div *ngFor="let panel of panels; let i = index" class="panel">
                                    <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                        <div class="panel-title">
                                            {{ panel.title }}
                                        </div>
                                    </div>
                                    <div class="panel-collapse" *ngIf="isOpen(i)">
                                        <div class="panel-body">
                                            <div *ngIf="i === 0">
                                                <ul class="contact-info">
                                                    <li><h3>{{datos_carrera.grado_jefe}} {{ datos_carrera.nombre_jefe||'-' }}</h3></li>
                                                    <li><i class="fas fa-envelope"></i>{{ datos_carrera.correo_jefe||'-' }}</li>
                                                </ul>
                                            </div>
                                            <div *ngIf="i === 1">
                                                <div class="mision-content">
                                                  <div [innerHTML]="formatText(datos_carrera.mision)"></div>
                                                </div>     
                                            </div>
                                            <div *ngIf="i === 2">
                                                <div class="vision-content">
                                                
                                                    <div [innerHTML]="formatText(datos_carrera.vision)"></div>
                                                  </div>
                                            </div>
                                            <div *ngIf="i === 3">
                                                <div class="objetivo-content">
                                                  <div [innerHTML]="formatText(datos_carrera.objetivo)"></div>
                                                  
                                                </div>
                                            </div>
                                            <div *ngIf="i === 4">
                                                <div class="perfil-ingreso-content">
                                                  <div [innerHTML]="formatText(datos_carrera.perfil_ingreso)"></div>

                                                  
                                                  </div>
                                            </div>
                                            <div *ngIf="i === 5">
                                                <div class="perfil-egreso-content">
                                                  <div [innerHTML]="formatText(datos_carrera.perfil_egreso)"></div>
                                                         
                                                
                                                  </div>
                                            </div>
                                            <div *ngIf="i === 6">
                                                <div class="campo-de-accion-content">
                                                  <div [innerHTML]="formatText(datos_carrera.campo_accion)"></div>
                                                  
                                                  </div>
                                            </div>
                                            <div *ngIf="i === 7">
                                                <div class="plan-de-estudios-content">
                                                    <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse; border: 1px solid #d3d3d3;">
                                                      <tbody>
                                                        <tr>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px; width: 350px;">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  CÁLCULO DIFERENCIAL E INTEGRAL <br />
                                                                  GEOMETRÍA DESCRIPTIVA <br />
                                                                  PROGRAMACIÓN ESTRUCTURADA <br />
                                                                  ESTÁTICA <br />
                                                                  HISTORIA DEL PENSAMIENTO FILOSÓFICO
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px; width: 350px;">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  ÁLGEBRA LINEAL <br />
                                                                  CÁLCULO VECTORIAL <br />
                                                                  DIBUJO ASISTIDO POR COMPUTADORA <br />
                                                                  DINÁMICA <br />
                                                                  TEORÍA GENERAL DE SISTEMAS
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  ECUACIONES DIFERENCIALES <br />
                                                                  QUÍMICA <br />
                                                                  TOPOGRAFÍA <br />
                                                                  ESTRUCTURAS ISOSTÁTICAS <br />
                                                                  RESISTENCIA DE MATERIALES I
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  MÉTODOS NUMÉRICOS <br />
                                                                  GEOLOGÍA <br />
                                                                  GEOMÁTICA <br />
                                                                  ESTRUCTURAS HIPERESTÁTICAS <br />
                                                                  RESISTENCIA DE MATERIALES II
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  PROBABILIDAD Y ESTADÍSTICA <br />
                                                                  MECÁNICA DE SUELOS I <br />
                                                                  VÍAS TERRESTRES DE COMUNICACIÓN <br />
                                                                  ESTRUCTURAS DE CONCRETO <br />
                                                                  HIDRÁULICA
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  MATERIALES DE CONSTRUCCIÓN <br />
                                                                  MECÁNICA DE SUELOS II <br />
                                                                  TERRACERÍAS Y PAVIMENTOS <br />
                                                                  ESTRUCTURAS DE ACERO <br />
                                                                  HIDRÁULICA DE CANALES
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border: 1px solid #d3d3d3;padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  PROCESOS CONSTRUCTIVOS <br />
                                                                  MECÁNICA DE ROCAS <br />
                                                                  TECNOLOGÍA DEL CONCRETO Y DETERIORO DE ESTRUCTURAS <br />
                                                                  INGENIERÍA DE SISMOS <br />
                                                                  HIDROLOGÍA
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                          <td style="border: 1px solid #d3d3d3;padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  MOVIMIENTOS DE SUELOS Y MAQUINARIA <br />
                                                                  CIMENTACIONES <br />
                                                                  ESTRUCTURAS DE MAMPOSTERÍA <br />
                                                                  OBRAS HIDRÁULICAS <br />
                                                                  REDES DE AGUA POTABLE Y ALCANTARILLADO
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  DISEÑO DE PUENTES <br />
                                                                  COSTOS Y PRESUPUESTOS <br />
                                                                  INSTALACIONES ELÉCTRICAS <br />
                                                                  OPTATIVA 1 <br />
                                                                  OPTATIVA 2
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                          <td style="border: 1px solid #d3d3d3; padding: 10px">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  ADMINISTRACIÓN DE LA CONSTRUCCIÓN <br />
                                                                  DESARROLLO URBANO <br />
                                                                  INGENIERÍA AMBIENTAL <br />
                                                                  OPTATIVA 3 <br />
                                                                  OPTATIVA 4
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td colspan="2" style="border: 1px solid #d3d3d3; padding: 10px;">
                                                            <div align="center">
                                                              <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                <strong><font color="#410401">OPTATIVAS</font></strong>
                                                              </span>
                                                            </div>
                                                            <br />
                                                            <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                              <span style="background-color:#ffffff;">
                                                                <span style="display:inline !important;">
                                                                  ESPECIALIDAD ESTRUCTURAS Y SISMICIDAD <br />
                                                                  <ul style="margin-top: 0px; margin-bottom: 0px;">
                                                                    DISEÑO AVANZADO DE ESTRUCTURAS DE CONCRETO <br />
                                                                    SISMOLOGÍA <br />
                                                                    DISEÑO AVANZADO DE ESTRUCTURAS DE ACERO <br />
                                                                    MODELACIÓN Y SISMICIDAD INDUCIDA <br />
                                                                </ul>
                                                                  ESPECIALIDAD ÁREA ADMINISTRATIVA <br />
                                                                  <ul style="margin-top: 0px; margin-bottom: 0px;">
                                                                    CONTABILIDAD Y COSTOS <br />
                                                                    LICITACIONES <br />
                                                                    DIRECCIÓN DE OBRA <br />
                                                                    EVALUACIÓN DE PROYECTOS <br />
                                                                    </ul>
                                                                  ESPECIALIDAD VÍAS TERRESTRES <br />
                                                                  <ul style="margin-top: 0px; margin-bottom: 0px;">
                                                                    DISEÑO GEOMÉTRICO DE VIALIDADES I <br />
                                                                    TRANSPORTE E INGENIERÍA EN TRÁNSITO <br />
                                                                    DISEÑO DE MEZCLAS ASFÁLTICAS <br />
                                                                    DISEÑO GEOMÉTRICO DE VIALIDADES II
                                                                    </ul>
                                                                </span>
                                                              </span>
                                                            </span>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </div>
                                                  
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sección Convocatoria -->
                        

                        <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                            <h2 class="title">Convocatoria</h2>
                            <div class="content">
                                <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                    <p>
                                        <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
