<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
<div class="content">
   <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura">
                    <span>Cultura</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura/publicaciones">
                    <span>Publicaciones</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Libros</span>
            </li>
        </ol>
    </nav>
</div>
<div class="wrapper">
    <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/cultura/publicaciones" data-drupal-link-system-path="node/45" >Publicaciones</a>
                         <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/assets/pdf/Utemita_ENERO-FEBRERO_2024.pdf" data-drupal-link-system-path="node/45" target="_blank">Boletin Universitario</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/catalogo_de_publicaciones" data-drupal-link-system-path="node/45">Catologo de Publicaciones</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/libros" data-drupal-link-system-path="node/45" class="highlight-red">Libros</a>
                                    </li>
                                    <li class="menu-item">
                                        <a  href="/home/cultura/publicaciones/revistas" data-drupal-link-system-path="node/45">Revistas</a>
                                    </li>
                                      </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/libreria" data-drupal-link-system-path="node/37">Librerias</a>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/actividades_culturales_y_deportivas"  data-drupal-link-system-path="node/37">Actividades Culturales & Deportivas </a>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/multimedia"  data-drupal-link-system-path="node/37">Multimedia</a>
                                <ul class="menu">
                                </ul>
                            
                    </li>
                </ul>
            </nav>
        </div>

    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">Libros</span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Libros</span>
                            </h2>
                        </header>

                        <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                            <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="730" height="280" alt="Libros" typeof="foaf:Image" />
                        </div>
                       
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="views-element-container clearfix block block-views block-views-blockvista-nuestra-universidad-block-1" id="block-views-block-vista-nuestra-universidad-block-1">
    <div class="content">
        <div class="cards-grid view view-vista-nuestra-universidad view-id-vista_nuestra_universidad view-display-id-block_1 js-view-dom-id-2d5d65fe762e84bd8aeab2d3a11955b56857df25ece17453c89145a3fa9ff320">
            <div class="view-content">
                <div class="views-view-grid">
                    <div class="views-row">
                        <div class="image-card">
                            <img src="/assets/images/UTM-2022-01.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/una_aproximacion_a_la_espectroscopia_de_resonancia_magnetica_nuclear" hreflang="es">Una aproximación a la espectroscopía de Resonancia Magnética Nuclear</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/portada_newmodel.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/a_new_model_of_university_universitires_for_development" hreflang="es">A New Model of University. Universitires for Development</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/libroModeloUniversidad.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/un_nuevo_modelo_de_universidad_universidades_para_el_desarrollo" hreflang="es">Un Nuevo Modelo de Universidad. Universidades para el Desarrollo</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/SignificadoSuenos.png" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/el_significado_de_los_sueños_y_otros_temas_m" hreflang="es">El significado de los Sueños y otros temas Mixtecos</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/caminosHistoriaMixteca.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/caminos_de_la_historia_mixteca" hreflang="es">Caminos de la Historia Mixteca</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/raicesMixtecas.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/raices_mixtecas" hreflang="es">Raíces Mixtecas</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_patria_mixteca.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/nuu_savi_la_patria_mixteca" hreflang="es">Ñuu Savi, La Patria Mixteca</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_pasado.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/pasado_y_presente_de_la_cultura_mixteca" hreflang="es">Pasado y Presente de la Cultura Mixteca</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_personajesmixtecos3.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/personajes_e_instituciones_del_pueblo_mixteco" hreflang="es">Personajes e Instituciones del Pueblo Mixteco</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_tierradelsol3.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/la_tierra_del_sol_y_de_la_lluvia" hreflang="es">La Tierra del Sol y de la Lluvia</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_libro-cultura.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/presencias_de_la_cultura_mixteca" hreflang="es">Presencias de la Cultura Mixteca</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_libro-vivienda.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/la_vivienda_tradicional_en_la_mixteca_oaxaqueña" hreflang="es">La Vivienda Tradicional en la Mixteca Oaxaqueña</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_balances-hidricos.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/aplicacion_de_un_modelo_de_balances_hdricos_en_la_cuenca_alta_del_rio_mixteco_(oaxaca)" hreflang="es">Aplicación de un Modelo de Balances Hídricos en la Cuenca Alta del Río Mixteco (Oaxaca)</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_libro2.gif" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/una_nueva_carta_de_las_naciones_unidas" hreflang="es">Una Nueva Carta de las Naciones Unidas</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_anew3.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/new_charter_for_the_united_nations" hreflang="es">New Charter for the United Nations</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_libro4.gif "class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/el_agua" hreflang="es">El Agua</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_cuadernoc.jpg" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/huajuapan_de_leon_estado_de_oaxaca_cuaderno_estadistico_municipal" hreflang="es">Huajuapan de León, Estado de Oaxaca, Cuaderno Estadístico Municipal</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_libro3.gif" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/electrónica_y_computación_en_mexico" hreflang="es">Electrónica y Computación en México</a>
                        </div>
                        <div class="image-card">
                            <img src="/assets/images/l_libro1.gif" class="img-fluid" />
                            <a href="/home/cultura/publicaciones/libros/inteligencia_artificial_en_mexico" hreflang="es">Inteligencia Artificial en México</a>
                        </div>
                    </div>
                        
                
                </div>
            </div>
        </div>
    </div>
</div>

