<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
<div class="content">
   <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura">
                    <span>Cultura</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura/publicaciones">
                    <span>Publicaciones</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura/publicaciones/libros">
                    <span>Libros</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Pasado y Presente de la Cultura Mixteca</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
    <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/cultura/publicaciones" data-drupal-link-system-path="node/45" >Publicaciones</a>
                         <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/assets/pdf/Utemita_ENERO-FEBRERO_2024.pdf" data-drupal-link-system-path="node/45" target="_blank">Boletin Universitario</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/catalogo_de_publicaciones" data-drupal-link-system-path="node/45">Catologo de Publicaciones</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/libros" data-drupal-link-system-path="node/45" >Libros</a>
                                    </li>
                                    <li class="menu-item">
                                        <a  href="/home/cultura/publicaciones/revistas" data-drupal-link-system-path="node/45">Revistas</a>
                                    </li>
                                      </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/libreria" data-drupal-link-system-path="node/37">Librerias</a>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/actividades_culturales_y_deportivas"  data-drupal-link-system-path="node/37">Actividades Culturales & Deportivas </a>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/multimedia"  data-drupal-link-system-path="node/37">Multimedia</a>
                                <ul class="menu">
                                </ul>
                            
                    </li>
                </ul>
            </nav>
        </div>


    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">Pasado y Presente de la Cultura Mixteca</span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Pasado y Presente de la Cultura Mixteca</span>
                            </h2>
                        </header>

                        <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                            <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Pasado y Presente de la Cultura Mixteca" typeof="foaf:Image" />
                        </div>
                        <div class="text-container">
                            <p style="margin-bottom: -15px; font-size: 13px; line-height: 1.5;"><strong>Reseña</strong></p> 
                           <p>Varios autores, 232p. Universidad Tecnológica de la Mixteca, Oaxaca, México, 2005.
                            Libro de variedad temática sobre la cultura mixteca; Arqueología y códices, cultura y religión, migración y género que nos manifiestan la riqueza y la amplia expectativa de la cultura mixteca. Las aportaciones son las siguientes:</p>
                            <ol>
                                <li>Iya si i huidzu, “ñuu dsavui ñuu ñuhu” (Señor 11 Jaguar “dios de la lluvia friso de fuego”) y la fundación de Yucu Sa Tuta en el lienzo de Zacatepec. Mtra. María de los Ángeles Ojeda Díaz.</li>
                                <li>La cultura ñuiñe de la Mixteca Baja: Nuevas aportaciones. Marcus Winter.</li>
                                <li>Perspectivas matemáticas del calendario prehispánico y las grecas de Mitla en la cultura ñuu savi. Octavio Alberto Aquino.</li>
                                <li>El banjo en la música de la Mixteca. Patricia García López.</li>
                                <li>Oralidad, ritual e identidad de ñuu savi en la Montaña en Guerrero. Jaime García Leyva.</li>
                                <li>Cosmovisión en una comunidad transnacional. Estefan Espinoza Hernández.</li>
                                <li>Membresía e identidad en procesos migratorios translocales: La experiencia de la asociación miltepecana. Gustavo López Ángel.</li>
                                <li>La ruta 72, migración justo a tiempo y la comunidad percibida: Mixtecos en Estados Unidos. Ernesto Hernández Sánchez.</li>
                                <li>¿Puede la migración mixteca internacional ayudar al desarrollo local o regional?. Josafat López Cruz.</li>
                                <li>Prácticas económicas alternas frente a una economía de mercado. Maximino Matus Ruíz.</li>
                                <li>La situación actual de la mujer mixteca en el estado de Guerrero. Estela Ramírez Hoyos.</li>
                                <li>El desarrollo humano relativo al género en los municipios de la Mixteca oaxaqueña. Luis Armando Serrano López.</li>
                              
                            </ol>
                                <div class="iformacion">

                            <p><strong>Autor(es)</strong>
                            <p style="font-size: 15px;">Ignacio Ortiz Castro, Reina Ortiz Escamilla</p>
                            <br>
                            <p><strong>Editorial</strong>
                            <p style="font-size: 15px;">Universidad Tecnológica de la Mixteca</p>
                            <br>
                            <p><strong>Año de publicación</strong>
                            <p style="font-size: 15px;">2005</p>
                            <br>
                            <p><strong>Precio</strong>
                            <p style="font-size: 15px;">-</p>
                             <br>
                            <p><strong>Disponibilidad</strong>
                            <p style="font-size: 15px;"><a href="https://www.amazon.com.mx/Pasado-y-presente-cultura-mixteca/dp/968588210X" style="color:#4a1110;" target="_blank">Amazon</a></p>
                             <br>
                              
           <p><strong>ISBN</strong>
            <p style="font-size: 15px;">968588210X</p>
            <p style="font-size: 15px;">978-9685882101
                </p>
           <br>
        </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
