<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licenciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Ingenieria en Mecanica Automotriz</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
        <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/web/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/licenciatura_estudios_mexicanos.html" target="_blank">Licenciatura en Estudios Mexicanos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz"  class="highlight-red">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>

<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Mecanica Automotriz</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Mecanica Automotriz</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Ingenieria en Mecanica Automotriz" typeof="foaf:Image" />
                    </div>

                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                            <ul class="contact-info">
                                                <li><h3>M.C. Víctor Manuel Cruz Martínez</h3></li>
                                                <li><i class="fas fa-envelope"></i>jcautomotriz@mixteco.utm.mx</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="i === 1">
                                            <div class="mision-content">
                                            <p>Misión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                          
                                          </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                            <div class="vision-content">
                                                <p>Visión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                              
                                              </div>
                                        </div>
                                        <div *ngIf="i === 3">
                                            <div class="objetivo-content">
                                                <p>Objetivo en revisión por parte de las autoridades universitarias correspondientes.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-ingreso-content">
                                                <p>El aspirante deberá haber cursado su enseñanza media superior preferentemente con una formación en el área físico-matemática o áreas afines, que cuente con lo siguiente:</p>
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul>
                                                  <li>Básicos en matemáticas y física.</li>
                                                </ul>
                                                <li><strong>Habilidades:</strong></li>
                                                <ul>
                                                  <li>Trabajo en equipo.</li>
                                                  <li>Solución de problemas prácticos.</li>
                                                  <li>Capacidad para el razonamiento matemático.</li>
                                                </ul>
                                                <li><strong>Actitudes y Valores:</strong></li>
                                                <ul>
                                                  <li>Responsabilidad social y ambiental.</li>
                                                  <li>Respeto, tolerancia y disciplina.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <div class="perfil-egreso-content">
                                               
                                                
                                                <p>El Ingeniero Mecánico Automotriz será capaz de diseñar, manufacturar y realizar mantenimiento a las partes y componentes de sistemas automotrices.</p>
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>En física y matemáticas que le permiten desarrollar las ciencias de la ingeniería mecánica y automotriz.</li>
                                                  <li>En ciencias de la ingeniería como mecánica vectorial, resistencia e ingeniería de materiales, termodinámica y transferencia de calor, mecánica de fluidos, electromagnetismo, circuitos eléctricos y electrónicos para comprender y analizar el funcionamiento de los diferentes componentes de los sistemas automotrices.</li>
                                                  <li>De herramientas computacionales para el diseño, modelado y análisis de partes y componentes de sistemas automotrices.</li>
                                                  <li>De planificación y procesos de manufactura para desarrollar y evaluar prototipos de partes y componentes de sistemas automotrices.</li>
                                                  <li>De técnicas de diagnóstico para realizar planes de mantenimiento predictivo, preventivo y correctivo de los sistemas automotrices.</li>
                                                  <li>Para continuar estudios de especialización o posgrado.</li>
                                                </ul>
                                                
                                                <li><strong>Habilidades:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Trabajar en equipos multidisciplinarios y de manera independiente.</li>
                                                  <li>Proponer soluciones prácticas a problemas reales.</li>
                                                  <li>Identificar las causas de problemas en el funcionamiento de los sistemas automotrices.</li>
                                                  <li>Adaptarse y asimilar los cambios tecnológicos en la industria automotriz.</li>
                                                  <li>Administrar y desarrollar proyectos.</li>
                                                </ul>
                                                
                                                <li><strong>Actitudes y Valores:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Responsabilidad y cumplimiento en tareas asignadas.</li>
                                                  <li>Proactividad ante problemas que se presenten en el trabajo individual y colectivo.</li>
                                                  <li>Dignidad y profesionalismo.</li>
                                                  <li>Promover el respeto por el medio ambiente.</li>
                                                  <li>Iniciativa para proponer innovación tecnológica.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 6">
                                            <div class="campo-de-accion-content">
                                                <p>El Ingeniero Mecánico Automotriz podrá desempeñarse profesionalmente en:</p>
                                                <ul class="reduce-spacing">
                                                  <li>Plantas armadoras de automóviles.</li>
                                                  <li>Industria de maquinaria agrícola, marítima, ferroviaria, construcción y transporte de carga y pasaje.</li>
                                                  <li>Centros de investigación y desarrollo tecnológico.</li>
                                                  <li>Empresas de manufactura de equipo original.</li>
                                                  <li>Empresas proveedoras de la industria automotriz.</li>
                                                  <li>Capacitación y consultoría.</li>
                                                  <li>Agencias y centros de servicio automotriz.</li>
                                                  <li>Establecer su propia empresa de mantenimiento.</li>
                                                </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 7">
                                            <div class="plan-de-estudios-content">
                                                <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse;">
                                                  <tbody>
                                                    <tr>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px; width:350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Cálculo Diferencial <br />
                                                              Química General <br />
                                                              Programación Estructurada <br />
                                                              Historia del Pensamiento Filosófico <br />
                                                              Taller Automotriz I
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Cálculo Integral <br />
                                                              Álgebra Lineal <br />
                                                              Ingeniería de Materiales <br />
                                                              Teoría General de Sistemas <br />
                                                              Dibujo Asistido por computadora
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Cálculo Vectorial <br />
                                                              Ecuaciones Diferenciales <br />
                                                              Estática <br />
                                                              Electromagnetismo <br />
                                                              Taller Automotriz II
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Probabilidad y Estadística <br />
                                                              Métodos Numéricos <br />
                                                              Dinámica <br />
                                                              Mecánica de Materiales <br />
                                                              Circuitos Eléctricos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Máquinas Eléctricas <br />
                                                              Mecanismos <br />
                                                              Termodinámica y Máquinas Térmicas <br />
                                                              Fundamentos de Electrónica <br />
                                                              Taller Automotriz III
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Procesos de Manufactura <br />
                                                              Diseño de Elementos de Máquinas <br />
                                                              Mecánica de Fluidos y Máquinas Hidráulicas <br />
                                                              Análisis de Vibraciones Mecánicas <br />
                                                              Metrología y Transductores
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Elemento Finito <br />
                                                              Diseño Asistido por Computadora <br />
                                                              Transferencia de Calor <br />
                                                              Electrónica de Potencia <br />
                                                              Microcontroladores
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Administración de Empresas Automotrices <br />
                                                              Manufactura Asistida por Computadora <br />
                                                              Máquinas de Combustión Interna <br />
                                                              Diseño de Herramentales <br />
                                                              Sistema Eléctrico Automotriz
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Ecología y Desarrollo Automotriz <br />
                                                              Sistema Mecánico Automotriz <br />
                                                              Sistema Electrónico Automotriz <br />
                                                              Optativa I <br />
                                                              Desarrollo de Proyectos Automotrices I
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Administración del Trabajo Interdisciplinario <br />
                                                              Análisis Digital Automotriz <br />
                                                              Optativa II <br />
                                                              Optativa III <br />
                                                              Desarrollo de Proyectos Automotrices II
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">ESPECIALIDAD I</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Automatización Industrial <br />
                                                              Líneas de Ensamble Automotriz <br />
                                                              Control y Sistemas de Calidad
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d0d0d0; padding:10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">ESPECIALIDAD II</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Celdas de Combustible <br />
                                                              Motores Eléctricos Automotrices <br />
                                                              Tecnología Híbrida Automotriz
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Convocatoria -->
                    <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                        <h2 class="title">Convocatoria</h2>
                        <div class="content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>
                                    <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
