<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/directorio">
                    <span>Directorio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/directorio/profesores">
                    <span>Profesores-Investigadores</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/directorio/profesores/huajuapan_de_leon">
                    <span>Huajuapan de Leon</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Instituto de Minería</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
    <div class="region region-sidebar-first">
        <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
            <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
            <ul class="clearfix menu">
                <li class="menu-item menu-item--expanded menu-item--active-trail">
                    <a href="/home/directorio/rectoria" data-drupal-link-system-path="node/38">Rectoria</a>
                </li>
                <li class="menu-item menu-item--expanded">
                    <a href="/home/directorio/vice_rectorias" data-drupal-link-system-path="node/37">Vice-Rectorias</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/division_de_estudios_de_posgrado" data-drupal-link-system-path="node/36" >Division de Estudios de Posgrados</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/directores_de_institutos" data-drupal-link-system-path="node/35" >Directores de Institutos</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/jefes_de_carreras" data-drupal-link-system-path="node/34">Jefes de Carreras</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/personal_administrativo" data-drupal-link-system-path="node/405">Personal Administrativo</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/profesores" data-drupal-link-system-path="node/98" >Profesores-Investigadores</a>
                    <ul class="menu">
                        <li class="menu-item menu-item--expanded menu-item--active-trail">
                            <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_computacion">Instituto de Computación</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_electronica_y_mecatronica"  >Instituto de Electrónica y Mecatrónica</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_agroindustrias" >Instituto de Agroindustrias</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_fisica_y_matematicas" >Instituto de Física y Matemáticas</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_diseno" >Instituto de Diseño</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_ciencias_sociales_y_humanidades" >Instituto de Ciencias Sociales y Humanidades</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_hidrologia" >Instituto de Hidrología</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_minera" class="highlight-red">Instituto de Minería</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_ingenieria_industrial_y_automotriz">Instituto de Ingeniería Industrial y Automotriz</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/division_de_estudios_de_postgrado">División de Estudios de Postgrado</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/centro_de_estudios_estrategicos_de_la_empresa">Centro de Estudios Estratégicos de la Empresa</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/centro_de_estudios_de_nuevos_materiales">Centro de Estudios de Nuevos Materiales</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/coordinacion_de_promocion_del_desarrollo">Coordinación de Promoción del Desarrollo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/centro_de_idiomas">Centro de Idiomas</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/profesores_de_catedras_conacyt">Profesores de Cátedras (CONACYT)</a>
                                </li>
                                
                                
                                
                                
                                    
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>


    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">Instituto de Minería</span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Instituto de Minería</span>
                            </h2>
                        </header>

                        <div class="views-element-container clearfix block block-views block-views-blockvista-nuestra-universidad-block-1" id="block-views-block-vista-nuestra-universidad-block-1">
                            <div class="content">
                                <div class="cards-grid view view-vista-nuestra-universidad view-id-vista_nuestra_universidad view-display-id-block_1 js-view-dom-id-2d5d65fe762e84bd8aeab2d3a11955b56857df25ece17453c89145a3fa9ff320">
                                    <div class="view-content">
                                        <div class="views-view-grid">
                                            <div class="views-row">
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dra. Patricia Magaly Gallegos"/>
                                                    <a href="/home/" hreflang="es">Dra. Patricia Magaly Gallegos</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Juan Manuel Espinoza"/>
                                                    <a href="/home/" hreflang="es">Dr. Juan Manuel Espinoza</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Ing. Marcos Germán"/>
                                                    <a href="/home/" hreflang="es">Ing. Marcos Germán</a>
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
