<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/posgrados">
                    <span>Posgrados</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>{{datos_carrera.nombre_carrera}}</span>
            </li>
        </ol>
    </nav>
  </div>
  
  <div class="wrapper">
       <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let licenciatura of licenciaturas">
                                        <a 
                                            (click)="navigateTo(licenciatura.nombre)">
                                          {{ licenciatura.nombre }}
                                        </a>
                                      </li>
                                       
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let posgrado of posgrados">
                                        <a 
                                        [ngClass]="{ 'highlight-red': posgrado.nombre === datos_carrera.nombre_carrera }"
                                        
                                          (click)="navigateTo(posgrado.nombre)">
                                          {{ posgrado.nombre }}
                                        </a>
                                      </li> 
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
  
  <div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">{{datos_carrera.nombre_carrera}}</span>
                </h1>
            </div>
        </div>
  
        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">{{datos_carrera.nombre_carrera}}</span>
                        </h2>
                    </header>
  
                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="{{datos_carrera.url_imagen}}" width="1140" height="450" alt="{{datos_carrera.nombre_carrera}}" typeof="foaf:Image" />
                    </div>
  
                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                          <div class="mision-content">
                                              <div [innerHTML]="textToHtml(datos_carrera.mision)"></div>
                                          </div>
                                        </div>
                                        <div *ngIf="i === 1">
                                          <div class="vision-content">
                                              <div [innerHTML]="textToHtml(datos_carrera.vision)"></div>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                            <div class="objetivo-content">
                                              <div [innerHTML]="textToHtml(datos_carrera.objetivo)"></div>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 3">
                                            <div class="perfil-ingreso-content">
                                              <div [innerHTML]="textToHtml(datos_carrera.perfil_ingreso)"></div>
                                            </div>
                                        </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-egreso-content">
                                              <div [innerHTML]="textToHtml(datos_carrera.perfil_egreso)"></div>
                                                </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <body>

                                                <!-- Tabla de Asignaturas Semestrales -->
                                                <table>
                                                    <caption>Asignaturas Semestrales</caption>
                                                    <thead>
                                                        <tr>
                                                            <th>Semestre</th>
                                                            <th>Materias</th>
                                                            <th>Clave</th>
                                                            <th>Créditos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Primer Semestre -->
                                                        <tr>
                                                            <td rowspan="2">Primer Semestre</td>
                                                            <td>Modelación Matemática</td>
                                                            <td>291101</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Inteligencia Artificial</td>
                                                            <td>291102</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <!-- Segundo Semestre -->
                                                        <tr>
                                                            <td rowspan="2">Segundo Semestre</td>
                                                            <td>Ciencia de Datos</td>
                                                            <td>291201</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Optativa I</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <!-- Tercer Semestre -->
                                                        <tr>
                                                            <td rowspan="2">Tercer Semestre</td>
                                                            <td>Cómputo Cuántico</td>
                                                            <td>291301</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Optativa II</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <!-- Cuarto Semestre -->
                                                        <tr>
                                                            <td rowspan="2">Cuarto Semestre</td>
                                                            <td>Seminario de Tesis I</td>
                                                            <td>291401</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Optativa III</td>
                                                            <td>-</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <!-- Quinto Semestre -->
                                                        <tr>
                                                            <td>Quinto Semestre</td>
                                                            <td>Seminario de Tesis II</td>
                                                            <td>291501</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <!-- Sexto Semestre -->
                                                        <tr>
                                                            <td>Sexto Semestre</td>
                                                            <td>Seminario de Tesis III</td>
                                                            <td>291601</td>
                                                            <td>12</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            
                                                <!-- Tabla de Asignaturas Optativas -->
                                                <table>
                                                    <caption>Asignaturas Optativas</caption>
                                                    <thead>
                                                        <tr>
                                                            <th>Línea de Investigación</th>
                                                            <th>Asignaturas</th>
                                                            <th>Clave</th>
                                                            <th>Créditos</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Ecuaciones Diferenciales y Problemas Inversos -->
                                                        <tr>
                                                            <td rowspan="5">Ecuaciones Diferenciales y Problemas Inversos</td>
                                                            <td>Ecuaciones Diferenciales Parciales</td>
                                                            <td>291701ED</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Biología Matemática</td>
                                                            <td>291702ED</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Problemas Inversos</td>
                                                            <td>291703ED</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Análisis Funcional</td>
                                                            <td>291704ED</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Espacios de Sobolev y Aplicaciones</td>
                                                            <td>291705ED</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <!-- Optimización y Aproximación de Funciones -->
                                                        <tr>
                                                            <td rowspan="5">Optimización y Aproximación de Funciones</td>
                                                            <td>Lattices de Banach y Operadores Positivos</td>
                                                            <td>291706OA</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Espacios de Complejidad de Algoritmos</td>
                                                            <td>291707OA</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Análisis Asimétrico</td>
                                                            <td>291708OA</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Introducción a la Teoría de Aproximación</td>
                                                            <td>291709OA</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Optimización Aplicada</td>
                                                            <td>291710OA</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <!-- Modelación Estocástica y Estadística -->
                                                        <tr>
                                                            <td rowspan="5">Modelación Estocástica y Estadística</td>
                                                            <td>Modelación Financiera Avanzada</td>
                                                            <td>291711EE</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Procesos Estocásticos Avanzado</td>
                                                            <td>291712EE</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Análisis Multivariado</td>
                                                            <td>291713EE</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Series de Tiempo</td>
                                                            <td>291714EE</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Estadística Bayesiana</td>
                                                            <td>291715EE</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <!-- Topología y Sistemas Dinámicos -->
                                                        <tr>
                                                            <td rowspan="5">Topología y Sistemas Dinámicos</td>
                                                            <td>Ecuaciones en Diferencias</td>
                                                            <td>291716TS</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dinámica Topológica Avanzada</td>
                                                            <td>291717TS</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dinámica Colectiva</td>
                                                            <td>291718TS</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Modelos Matemáticos en Biología Mediante Sistemas Dinámicos Discretos</td>
                                                            <td>291719TS</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Modelos Matemáticos en Economía y Finanzas Mediante Sistemas Dinámicos Discretos</td>
                                                            <td>291720TS</td>
                                                            <td>10</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            
                                            </body>
                                        </div>
                                        <div *ngIf="i === 6">
                                          
                                            <div class="universal">
                                                <body>
                                               
                                                <table class="tabla-estudiantes"  *ngIf="alumnos_matriculados.length > 0; else noData">
                                                    <thead>
                                                        <tr>
                                                            <th>GENERACIÓN</th>
                                                            <th>ALUMNOS</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="matriculados" *ngFor="let alumno of alumnos_matriculados">
                                                            <td>{{alumno.generacion}}</td>
                                                            <td>{{alumno.Alumno}}</td>
                                                         </tr>
                                                    </tbody>
                                                </table>
                                                <ng-template #noData>
                                                    <p>Números de alumnos matriculados en revisión por parte de las autoridades universitarias correspondientes.</p>
                                                </ng-template>
                                            </body>
                                        </div>

                                        </div>
                                        <div *ngIf="i === 7">
                                           
                                            <div class="universal universal2" *ngIf="nucleo_academico.length>0; else noData">
                                                <table  border="1">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre del Profesor</th>
                                                            <th>SNI</th>
                                                            <th>PROMEP</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="text-align: center;" *ngFor="let nucleo of nucleo_academico">
                                                            <td style="text-align: left;">{{nucleo.grado}} {{nucleo.nombre}}</td>
                                                            <td>{{nucleo.SNI}}</td>
                                                            <td>{{nucleo.perfil_deseable}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div *ngFor="let nucleo of nucleo_academico">
                                                  <h1>{{nucleo.grado}} {{nucleo.nombre}}</h1>
                                                  <div *ngIf="nucleo.correo">
                                                  <p><strong>Email:</strong> {{nucleo.correo}}</p>
                                                  </div>
                                                  <div *ngIf="nucleo.SNI">
                                                  <p><strong>Pertenencia al SNI:</strong> {{nucleo.SNI}}</p>
                                                  </div>
                                                  <div *ngIf="nucleo.perfil_deseable">
                                                    <p><strong>Perfil deseable:</strong> {{nucleo.perfil_deseable}}</p>
                                                    </div>
                                                 <br>
                                                  <div *ngIf="nucleo.imagen_url" class="profile-image">
                                                    <img src="{{nucleo.imagen_url}}" alt="{{nucleo.nombre}}">
                                                </div>
                                                  <p>{{nucleo.descripcion_perfil}}</p>
                                                  <br>
                                                </div>
                                            
                                                </div>
                                            
                                                <ng-template #noData>
                                                    <div class="universal">
                                                    <p>Núcleo Académico en revisión por parte de las autoridades universitarias correspondientes.</p>
                                                </div>
                                                </ng-template>
                                            
                                            
                                        </div>
                                        <div *ngIf="i === 8">
                                            <div *ngIf="lineas_de_generacion.length > 0; else noData">
                                            <div class="universal" *ngFor="let linea of lineas_de_generacion">
            
                                                <div *ngIf="linea.descripcion_linea" [innerHTML]="textToHtml(linea.descripcion_linea)"></div>
                                            </div>
                                           </div>
                                           <ng-template #noData>
                                            <div class="universal">
                                            <p>Líneas de Generación y Aplicación de Conocimiento del Programa en revisión por las autoridades universitarias correspondientes.</p>
                                        </div>
                                        </ng-template>
                                      </div>
                                      <div *ngIf="i === 9">
                                        <div *ngIf="tutoria_segumiento.length>0; else noData">

                                          <div class="universal">
                                            <table border="1">
                                                <thead>
                                                    <tr>
                                                        <th>Generación</th>
                                                        <th>Nombre del Estudiante</th>
                                                        <th>Director de Tesis</th>
                                                        <th>Codirector de Tesis</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="text-align: center;"
                                                        *ngFor="let tutoria of tutoria_segumiento">
                                                        <td>{{tutoria.Generacion}}</td>
                                                        <td>{{tutoria.Alumno}}</td>
                                                        <td>{{tutoria.nombre_dir}}</td>
                                                        <td>{{tutoria.nombre_cod}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                                <ng-template #noData>
                                <div class="universal">
                                 <p>Tutoría de Seguimiento Académico revisión por las autoridades universitarias correspondientes.</p>
                                </div>
                                </ng-template>
                                      </div>

                                      <div *ngIf="i === 10">
                                        <div *ngIf="productividad_publicaciones.length > 0 || productividad_eventos.length > 0 || productividad_proyectos.length>0; else noData">

                                       
                                                            
                                        <div class="universal">
                                            <table class="tabla-publicaciones" border="1">
                                                <thead>
                                                    <tr>
                                                        <th class="autores-td">Año</th>
                                                        <th class="autores-td">Tipo de Publicación</th>
                                                        <th class="publicaciones-td">Descripcion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="text-align:left;"
                                                        *ngFor="let publicacion of productividad_publicaciones">
                                                        <td style="text-align:center;">{{publicacion.year}}</td>
                                                        <td>{{publicacion.publicacion}}</td>
                                                        <td>{{publicacion.autores}} {{publicacion.descripcion}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="tabla-publicaciones" border="1">
                                                <thead>
                                                    <tr>
                                                        <th >Evento/Lugar</th>
                                                        <th >	Ponente</th>
                                                        <th>Título de la Ponencia</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="text-align:left;"
                                                        *ngFor="let evento of productividad_eventos">
                                                       
                                                        <td>{{evento.descripcion}}</td>
                                                        <td>{{evento.Ponente}}</td>
                                                        <td>{{evento.Evento}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                                <ng-template #noData>
                                <div class="universal">
                                 <p>Productividad Académica Relevante en revisión por las autoridades universitarias correspondientes.</p>
                                </div>
                                </ng-template>
                                      </div>
                                      <div *ngIf="i === 11">
                                        <div *ngIf="vinculacion_sector.length>0; else noData">
                                        <div class="universal" *ngFor="let vinculacion of vinculacion_sector">
                                            <div [innerHTML]="textToHtml(vinculacion.descripcion)"></div>
                                        </div>
                                        </div>
                                        <ng-template #noData>
                                        <div class="universal">
                                            <p> Vinculación con otros Sectores de la Sociedad en revisión por las autoridades universitarias correspondientes.</p>
                                        </div>
                                        </ng-template>
                                      </div>
                                      <div *ngIf="i === 12">
                                        <div class="universal">
                                           <p>Egresados en revisión por las autoridades universitarias correspondientes.</p>
                                        </div>
                                      </div>
                                      <div *ngIf="i === 13">
                                        
                                      </div>
                                      <div *ngIf="i === 14">
                                          <div class="beca-content">
                                              <div [innerHTML]="textToHtml(datos_carrera.beca)"></div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
        </article>
    </div>
  </div>
  