<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licenciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Ingenieria en Alimentos</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
        <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos" class="highlight-red">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/licenciatura_estudios_mexicanos.html" target="_blank">Licenciatura en Estudios Mexicanos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="/home/ensenanza/licenciaturas/ingenieria_quimica_en_procesos_sostenibles">Ingeniería Química en Procesos Sostenibles</a>
                                    </li>                                    
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
 
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Alimentos</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Alimentos</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Ingenieria en Alimentos" typeof="foaf:Image" />
                    </div>

                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                            <ul class="contact-info">
                                                <li><h3>Dra. Paula Cecilia Guadarrama Mendoza</h3></li>
                                                <li><i class="fas fa-envelope"></i>jcagroindustrias@mixteco.utm.mx</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="i === 1">
                                            <div class="mision-content">
                                                <p>Misión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                              
                                              </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                            <div class="vision-content">
                                                <p>Visión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                              
                                              </div>
                                        </div>
                                        <div *ngIf="i === 3">
                                            <div class="objetivo-content">
                                                <p>Objetivo en revisión por parte de las autoridades universitarias correspondientes.</p>
                                              
                                              </div>
                                        </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-ingreso-content">
                                                <p>El aspirante a cursar la carrera de Ingeniería en Alimentos en la UTM deberá tener los siguientes conocimientos, habilidades y actitudes:</p>
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Básicos en el área físico-matemática.</li>
                                                  <li>Básicos de redacción para la elaboración de textos.</li>
                                                </ul>
                                                <li><strong>Habilidades:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Comunicación oral y escrita.</li>
                                                  <li>Disposición para trabajar en equipo.</li>
                                                  <li>Creatividad.</li>
                                                </ul>
                                                <li><strong>Actitudes y Valores:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Interés por el conocimiento, la aplicación tecnológica y la investigación.</li>
                                                  <li>Capacidad de adaptación al cambio y a la asimilación de nuevos conocimientos.</li>
                                                  <li>Búsqueda de la superación y mejora personal.</li>
                                                  <li>Empatía y respeto con sus semejantes.</li>
                                                  <li>Apertura al diálogo.</li>
                                                  <li>Comprensión y tolerancia hacia la diversidad étnica, de clase, género, preferencias políticas o sexuales.</li>
                                                  <li>Respeto y aprecio por la diversidad ecológica.</li>
                                                  <li>Aprecio por la diversidad cultural de la región, el estado y el país.</li>
                                                  <li>Responsabilidad y puntualidad.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <div class="perfil-egreso-content">
                                                <p>El egresado de la carrera de Ingeniería en Alimentos de la UTM es un profesionista líder, eficaz, emprendedor, responsable, con compromiso social, elevada capacidad de comunicación y actitud de superación permanente, capaz de aplicar los conocimientos y herramientas científico-tecnológicas al diseño, optimización y evaluación del equipo, plantas, procesos, productos y sistemas de control de calidad, que inciden en la mejora de las condiciones de productividad, conservación, almacenamiento, distribución y manejo de los productos alimenticios, promoviendo así el desarrollo económico, ambiental y social de la región y del país.</p>
                                                
                                                <p>Asimismo, el egresado de la carrera de Ingeniería en Alimentos de la UTM posee los siguientes conocimientos, habilidades y actitudes:</p>
                                                
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Ciencias básicas.</li>
                                                  <li>En las áreas químico-biológicas y físico-matemáticas para la resolución de las problemáticas relacionadas con los alimentos.</li>
                                                  <li>En el área empresarial y de sistemas de calidad.</li>
                                                  <li>En las metodologías y tecnologías innovadoras para el desarrollo de productos y procesos de los alimentos.</li>
                                                  <li>En las estrategias y manejo de la información y comunicación para el alcance de un conocimiento significativo.</li>
                                                </ul>
                                                
                                                <li><strong>Habilidades:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Comunicación asertiva tanto verbal como escrita.</li>
                                                  <li>Identificación, resolución y evaluación de problemáticas.</li>
                                                  <li>Pensamiento analítico orientado a la resolución de problemas prácticos.</li>
                                                  <li>Disposición de trabajar en equipo.</li>
                                                  <li>Creativo.</li>
                                                </ul>
                                                
                                                <li><strong>Actitudes y Valores:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Actitud de superación personal y profesional permanente.</li>
                                                  <li>Ético y con valores morales.</li>
                                                  <li>Responsable y de compromiso social.</li>
                                                  <li>Entusiasta y solidario para el trabajo en equipo.</li>
                                                  <li>Interés por el conocimiento, la aplicación tecnológica y la investigación.</li>
                                                  <li>Capacidad de adaptación al cambio y a la asimilación de nuevos conocimientos.</li>
                                                  <li>Apertura al diálogo.</li>
                                                  <li>Comprensión y tolerancia hacia la diversidad étnica, de clase, género, preferencias políticas o sexuales.</li>
                                                  <li>Respeto y aprecio por la diversidad ecológica.</li>
                                                  <li>Aprecio por la diversidad cultural de la región, el estado y el país.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 6">
                                            <div class="campo-de-accion-content">
                                                <p>El Ingeniero en Alimentos es un profesionista que puede incorporarse en:</p>
                                                <ul class="reduce-spacing">
                                                  <li>Sector industrial relacionado con el área de alimentos: Control de calidad, producción, desarrollo de nuevos productos.</li>
                                                  <li>Empresarial: En la dirección de proyectos del área en alimentos.</li>
                                                  <li>Sector académico/investigación: En el área química o tecnológica relacionada con el área de los alimentos.</li>
                                                  <li>Auditoría/Consultoría: En la industria de los alimentos.</li>
                                                </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 7">
                                            <div class="plan-de-estudios-content">
                                                <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
                                                  <tbody>
                                                    <tr>
                                                      <td style="border: 1px solid #ccc; padding: 8px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Química General <br />
                                                              Fundamentos de Matemáticas para Ingenieros <br />
                                                              Herramientas de Computación <br />
                                                              Historia del Pensamiento Filosófico <br />
                                                              Introducción a la Ingeniería en Alimentos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Química Orgánica I <br />
                                                              Cálculo Diferencial e Integral para Ingenieros <br />
                                                              Mecánica Clásica <br />
                                                              Teoría General de Sistemas <br />
                                                              Cálculos Básicos en Ingeniería de Alimentos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Química Orgánica II <br />
                                                              Ecuaciones Diferenciales para Ingenieros <br />
                                                              Microbiología de Alimentos <br />
                                                              Balance de Materia y Energía
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Bioquímica <br />
                                                              Química de Alimentos <br />
                                                              Termodinámica <br />
                                                              Estadística y Quimiometría <br />
                                                              Análisis Clásico de Alimentos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Análisis Instrumental de Alimentos <br />
                                                              Fisicoquímica de Alimentos <br />
                                                              Transporte de Movimiento con Aplicaciones <br />
                                                              Diseño y Análisis de Experimentos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Nutrición y Alimentos Funcionales <br />
                                                              Transferencia de Calor y Masa con Aplicaciones <br />
                                                              Procesos Tecnológicos de Productos Cárnicos <br />
                                                              Taller de Evaluación Sensorial
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Sistemas de Gestión de la Calidad <br />
                                                              Operaciones Unitarias con Procesos Térmicos <br />
                                                              Procesos Biotecnológicos Alimentarios <br />
                                                              Procesos Tecnológicos de Cereales <br />
                                                              Herramientas Administrativas y Financieras
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Aseguramiento de la Calidad e Inocuidad Alimentaria <br />
                                                              Seminario de Planeación y Análisis de Negocios <br />
                                                              Operaciones por Etapas de Equilibrio <br />
                                                              Procesos Tecnológicos de Frutas y Hortalizas <br />
                                                              Metodología de la Investigación
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Procesos de Separación Físico-Mecánicos <br />
                                                              Procesos Tecnológicos de Productos Lácteos <br />
                                                              Dibujo en Ingeniería <br />
                                                              Gestión Ambiental y Sustentabilidad <br />
                                                              Optativa I
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Desarrollo de Nuevos Productos <br />
                                                              Comportamiento Organizacional y Habilidades Directivas <br />
                                                              Diseño de Plantas Alimentarias <br />
                                                              Fronteras de la Ingeniería en Alimentos <br />
                                                              Optativa II
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td colspan="2" style="border: 1px solid #ccc; padding: 8px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">Optativas según especialidad</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              <strong>Optativa I</strong> <br />
                                                              Serie Empresarial: Mercadotecnia en la Producción y Comercialización de Alimentos <br />
                                                              Serie Industrial: Higiene y Seguridad Industrial <br />
                                                              <strong>Optativa II</strong> <br />
                                                              Serie Empresarial: Seminario de Ejecución y Evaluación de Negocios <br />
                                                              Serie Industrial: Planeación y Control de Producción
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Convocatoria -->
                    
                    
                    <!-- Modal -->
                    
                    <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                        <h2 class="title">Convocatoria</h2>
                        <div class="content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>
                                    <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
