<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
<div class="content">
   <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura">
                    <span>Cultura</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura/publicaciones">
                    <span>Publicaciones</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura/publicaciones/libros">
                    <span>Libros</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Una aproximación a la espectroscopía de Resonancia Magnética Nuclear</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
    <section class="sidebar__section sidebar-first clearfix fade" data-animate-effect="fadeInLeft">
        <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/cultura" data-drupal-link-system-path="node/38">Cultura</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/cultura/publicaciones" data-drupal-link-system-path="node/45">Publicaciones</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/assets/pdf/Utemita_ENERO-FEBRERO_2024.pdf" data-drupal-link-system-path="node/45">Boletin Universitario</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/catalogo_de_publicaciones" data-drupal-link-system-path="node/45">Catalogo de Publicaciones</a>
                                    </li>
                                    <li class="menu-item">
                                         <a href="/home/cultura/publicaciones/libros" data-drupal-link-system-path="node/45">Libros</a>
                                    </li>
                                    <li class="menu-item">
                                        <a  href="/home/cultura/publicaciones/revistas" data-drupal-link-system-path="node/45">Revistas</a>
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/libreria" data-drupal-link-system-path="node/37">Librerias</a>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/actividades_culturales_y_deportivas"  data-drupal-link-system-path="node/37">Actividades Culturales & Deportivas </a>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/multimedia"  data-drupal-link-system-path="node/37">Multimedia</a>
                                <ul class="menu">
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">Una aproximación a la espectroscopía de Resonancia Magnética Nuclear</span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Una aproximación a la espectroscopía de Resonancia Magnética Nuclear</span>
                            </h2>
                        </header>

                        <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                            <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Una aproximación a la espectroscopía de Resonancia Magnética Nuclear" typeof="foaf:Image" />
                        </div>
                        <div class="text-container">
                            <p><b>Reseña</b></p> 

                            <p>Una aproximación a la espectroscopía a la Resonancia Magnética Nuclear (RMN) fue concebida como un primer libro realizado por la Universidad Tecnológica de la Mixteca en colaboración con la Sociedad Mexicana de Resonancia Magnética Nuclear, AC.</p>

                            <p>La Resonancia Magnética Nuclear (RMN) es el método espectroscópico con mayor innovación tanto en aspectos experimentales como en sus aplicaciones. Motivados en estos aspectos se planteó realizar un libro en el que se encontraran desde los aspectos básicos de la RMN hasta alguna de sus aplicaciones más importantes y recientes como son el estudio metabólico.</p>
                            
                            <p>En el presente libro se describe de manera simple y con rigor académico los fundamentos de la RMN, los experimentos más útiles para la asignación de compuestos en una y dos dimensiones, se explica la manera de asignar y elucidar compuestos basados en la evidencia experimental de esta espectroscopía, de manera general se muestran los métodos que permiten demostrar y cuantificar la dinámica de los compuestos químicos, se llama la atención sobre la oportunidad de utilizar espectrómetros de RMN con imanes que no requieren criogénicos se describen algunas aplicaciones en la determinación del reconocimiento molecular.</p>
                            
                            <p><strong>Autor(es)</strong><br>Raúl Salas Coronado<br>Norma Francenia Santos Sánchez<br>Beatriz Hernández Carlos</p>

                            <p><strong>Editorial</strong><br>Universidad Tecnológica de la Mixteca</p>

                            <p><strong>Año de publicación</strong><br>2022</p>

                            <p><strong>Precio</strong><br>$$521.00</p>

                            <p><strong>Disponibilidad</strong><br><a href="https://www.amazon.com.mx/aproximaci%C3%B3n-espectroscop%C3%ADa-Resonancia-Magn%C3%A9tica-Nuclear-ebook/dp/B0B8QVM77V/ref=sr_1_1?dib=eyJ2IjoiMSJ9.HqJYiPj6aiJyKhIjQYY65Q.Xdjw9TgTlnho6p41O94PzsWKdN4vShB8LDXvMoLF6UY&dib_tag=se&qid=1722612720&refinements=p_27%3ARa%C3%BAl++Salas+Coronado&s=digital-text&sr=1-1&text=Ra%C3%BAl++Salas+Coronado" target="_blank">Amazon</a></p>


           <p><strong>ISBN</strong><br>-</p>


                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
