
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    

    <div class="content">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
            <h2 id="system-breadcrumb" class="visually-hidden"></h2>
            <ol class="breadcrumb__items">
                <li class="breadcrumb__item">
                    <a href="/home/web/">
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <a href="/home/investigacion">
                        <span>Investigación</span>
                    </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <a href="/home/investigacion/institutos_de_investigacion/">
                        <span>Institutos de Investigación</span>
                    </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <span>Instituto de Computación</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="wrapper">
        <section class="sidebar__section sidebar-first clearfix fade" data-animate-effect="fadeInLeft">
            <div class="region region-sidebar-first">
                <!-- Menú lateral -->
                <nav role="navigation" aria-labelledby="block-menuinvestigacion-menu" id="block-menuinvestigacion" class="clearfix block block-menu navigation menu--menu-investigacion">
                    <h2 class="visually-hidden" id="block-menuinvestigacion-menu">Menú-Investigación</h2>
                    <ul class="clearfix menu">
                        <li class="menu-item menu-item--expanded menu-item--active-trail">
                            <a href="/home/investigacion/institutos_de_investigacion" data-drupal-link-system-path="node/72" class="is-active">Institutos de Investigación</a>
                            <ul class="menu">
                                <li class="menu-item menu-item--expanded">
                                    <a href="/home/investigacion/institutos_de_investigacion/hujuapan_de_leon" data-drupal-link-system-path="node/74">Huajuapan de Leon</a>
                                    <ul class="menu">
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_computacion" data-drupal-link-system-path="node/77" class="highlight-red">Instituto de Computación</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_electronica_y_mecatronica" data-drupal-link-system-path="node/77">Instituto de Electrónica y Mecatrónica</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_diseno" data-drupal-link-system-path="node/77">Instituto de Diseño</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_fisica_y_matematicas" data-drupal-link-system-path="node/77">Instituto de Física y Matemáticas</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ciencias_sociales_y_humanidades" data-drupal-link-system-path="node/77">Instituto de Ciencias Sociales y Humanidades</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_agroindustrias" data-drupal-link-system-path="node/77">Instituto de Agroindustrias</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_hidrologia" data-drupal-link-system-path="node/77">Instituto de Hidrología</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_mineria" data-drupal-link-system-path="node/77">Instituto de Minería</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ingenieria_industrial_y_automotriz" data-drupal-link-system-path="node/77">Instituto de Ingeniería Industrial y Automotriz</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/centro_de_estudios_de_nuevos_materiales" data-drupal-link-system-path="node/77">Centro de Estudios de Nuevos Materiales</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="/home/investigacion/productos_de_la_investigacion" data-drupal-link-system-path="node/73">Productos de la Investigación</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

        <div class="content-container">
            <div class="region region-content">
                <div id="block-suneo-umar-page-title" class="clearfix block block-core block-page-title-block">
                    <div class="content">
                        <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Instituto de Computación</span></h1>
                    </div>
                </div>

                <article data-history-node-id="77" role="article" about="/home/investigacion/institutos_de_investigacion/institutos_de_Computacion" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                    <div class="node__container">
                        <div class="node__main-content clearfix">
                            <header class="node__header">
                                <h2 class="node__title title sr-only">
                                    <span class="field field--name-title field--type-string field--label-hidden">Instituto de Computación</span>
                                </h2>
                            </header>

                            <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                                <img loading="lazy" src="/assets/images/Computacion.png" width="1140" height="450" alt="Instituto de Computación" typeof="foaf:Image" />
                            </div>

                            <div class="text-container text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>El Instituto de Electrónica y Computación (IEC) fue el primer instituto en ser creado, junto con el decreto de creación de la Universidad, el día 18 de junio de 1990, de acuerdo al decreto publicado por el Diario Oficial de la Federación.</p>

                                <p>El 15 de agosto de 1997 se inauguran las instalaciones del Instituto de Electrónica y Computación de la UTM.</p>
                                <p>Enmarcados en cuerpos académicos de investigación en las áreas de la electrónica y las ciencias computacionales, más de 35 profesores investigadores de tiempo completo, muchos de ellos líderes en su campo, trabajan en laboratorios equipados en busca de soluciones adecuadas que fomenten del desarrollo regional. Su dedicación, preparación y esfuerzo, hacen del Instituto de Electrónica y Computación el compromiso más palpable de la Universidad con la sociedad.</p>

                                <p><strong>Objetivo General</strong></p>
                                <p>El apoyo regional de la Mixteca se realiza a través del desarrollo y aplicación de nuevas tecnologías, derivado de un proceso de investigación científica. Esta es la misión del Instituto de Electrónica y Computación, dedicado a la investigación científica de calidad, al desarrollo y aplicación de nuevas tecnologías, y a la educación superior.</p>

                                <p><strong>Actividades más relevantes</strong></p>
                                <p>Las actividades que realiza este instituto se encuentran clasificadas en 2 categorías:</p>

                                <ul>
                                    <li style="list-style-type: none;"><strong>Investigación básica y aplicada:</strong> </li>
                                   <ul>
                                    <li class="reduce-spacing">El IEC realiza una labor de investigación estrechamente relacionada con la aplicación de nuevas tecnologías, en busca de la solución de problemas regionales, nacionales y de ámbito internacional. El instituto reúne investigadores de tiempo completo en varias ramas de la electrónica y la computación.</li>
                                    <li class="reduce-spacing">Enmarcados en cinco cuerpos académicos, los investigadores del IEC en colaboración con estudiantes realizan en laboratorios proyectos de dos tipos: los proyectos institucionales, que buscan resolver problemas comunes para el desarrollo, aplicando metodologías y tecnologías, así como los proyectos de investigación básica, con objetivos de difusión académica.</li>
                                </ul>
                                    <li style="list-style-type: none;"><strong>Promoción del Desarrollo y difusión de la cultura:</strong></li>
                                    <ul>
                                        <li class="reduce-spacing">El IEC busca también realizar un desarrollo que incluya a la sociedad a la que le debe su trabajo. Es por eso que también realiza labores destinadas a la promoción al desarrollo y difusión cultural. Para esto, realiza labores tradicionales de difusión, como impartición de pláticas y conferencias a la comunidad, así como desarrollo de sistemas de software para dependencias gubernamentales, reparación y mantenimiento de equipos de cómputo en escuelas públicas, y la creación de software que asiste a la educación primaria y para niños con necesidades especiales.</li>
                                    </ul>
                                </ul>

                             </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
