<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pie de Página</title>
  <!-- Incluye Material Icons desde Google Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
</head>
<body>
  <div class="row">
    <div class="col-sm-12">
      <div class="clearfix footer__section footer-first fade animated fadeIn" data-animate-effect="fadeIn">
        <div class="region region-footer-first">
          <div class="footer-content">
            <div class="footer-content-inner">
              <!-- Contenedor para las banderas y la barra de búsqueda -->
              <div class="footer-main-content">
                <!-- Cuadro para las banderas con organización en 5x2 -->
                <div class="footer-banderas">
                  <a href="http://www.utm.mx/" target="_blank" title="Universidad Tecnológica de la Mixteca">
                    <img class="brightness" src="/assets/images/01-UTM-02.png" alt="UTM logo">
                  </a>
                  <a href="http://www.umar.mx/" target="_blank" title="Universidad del Mar">
                    <img class="brightness" src="/assets/images/02-UMAR_small.png" alt="UMAR logo">
                  </a>
                  <a href="http://www.unistmo.edu.mx/" target="_blank" title="Universidad del Istmo">
                    <img class="brightness" src="/assets/images/03-UNISTMO_small.png" alt="UNISTMO logo">
                  </a>
                  <a href="http://www.unpa.edu.mx/" target="_blank" title="Universidad del Papaloapan">
                    <img class="brightness" src="/assets/images/04-UNPA_small.png" alt="UNPA logo">
                  </a>
                  <a href="http://www.unsis.edu.mx/" target="_blank" title="Universidad de la Sierra Sur">
                    <img class="brightness" src="/assets/images/05-UNSIS_small.png" alt="UNSIS logo">
                  </a>
                  <a href="http://www.unsij.edu.mx/" target="_blank" title="Universidad de la Sierra Juárez">
                    <img class="brightness" src="/assets/images/06-UNSIJ_small.png" alt="UNSIJ logo">
                  </a>
                  <a href="http://www.unca.edu.mx/" target="_blank" title="Universidad de la Cañada">
                    <img class="brightness" src="/assets/images/07-UNCA_small.png" alt="UNCA logo">
                  </a>
                  <a href="http://www.novauniversitas.edu.mx/" target="_blank" title="NovaUniversitas">
                    <img class="brightness" src="/assets/images/08-NOVA_small.png" alt="NOVA logo">
                  </a>
                  <a href="http://www.uncos.edu.mx/" target="_blank" title="Universidad de la Costa">
                    <img class="brightness" src="/assets/images/09-UNCOS_small.png" alt="UNCOS logo">
                  </a>
                  <a href="http://www.unicha.edu.mx/" target="_blank" title="Universidad de Chalcatongo">
                    <img class="brightness" src="/assets/images/10-UNICHA_small.png" alt="UNICHA logo">
                  </a>
                </div>
                <div class="search-contact-wrapper">
                  <form action="/web/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
                    <div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label">
                      <label for="edit-keys" class="visually-hidden"></label>
                      <div class="search-form-container">
                        <input title="Escriba lo que quiere buscar." placeholder="Buscar..." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" class="form-search">
                        <button type="submit" class="search-form__submit">
                          <i class="material-icons search-icon">search</i> <!-- Ícono de búsqueda -->
                        </button>
                      </div>
                    </div>
                  </form>
                  <nav role="navigation" aria-labelledby="block-menupie-menu" id="block-menupie" class="clearfix block block-menu navigation menu--menu-pie">
                    <h2 class="visually-hidden" id="block-menupie-menu"></h2>
                    <ul class="clearfix menu">
                      <li class="menu-item">
                        <a href="/web/contact" data-drupal-link-system-path="contact">
                          <span class="menu-item-arrow">></span> Contacto
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="footer-message">
                <a href="https://www.suneo.mx/" target="_blank" class="footer-message-link">
                  SISTEMA DE UNIVERSIDADES ESTATALES DE OAXACA
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix visible-xs-block visible-xs-block"></div>
      </div>
    </div>
  </div>
</body>
</html>
