<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/">
                    <span>Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/institutos_de_investigacion/">
                    <span>Institutos de Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>{{instituto_informacion.nombre}}</span>
            </li>
        </ol>
    </nav>
</div>


<div class="wrapper">
        <div class="region region-sidebar-first">
            <!-- Menú lateral -->
            <nav role="navigation" aria-labelledby="block-menuinvestigacion-menu" id="block-menuinvestigacion" class="clearfix block block-menu navigation menu--menu-investigacion">
                <h4 class="visually-hidden" id="block-menuinvestigacion-menu">Menú-Investigación</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/investigacion/institutos_de_investigacion" data-drupal-link-system-path="node/72" class="is-active">Institutos de Investigación</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/investigacion/institutos_de_investigacion/huajuapan_de_leon" data-drupal-link-system-path="node/74">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let instituto of institutos">
                                        <a [ngClass]="{ 'highlight-red': instituto.nombre === instituto_informacion.nombre}" 
                                        (click)="navigateTo(instituto.nombre)">{{instituto.nombre }}</a>
                                      </li> 
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/investigacion/productos_de_la_investigacion" data-drupal-link-system-path="node/73">Productos de la Investigación</a>
                    </li>
                </ul>
            </nav>
        </div>

<!-- Nueva sección del Instituto de Agroindustrias -->
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">{{instituto_informacion.nombre}}
                </span></h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" about="/home/investigacion/institutos_de_investigacion/instituto_de_agroindustrias" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">{{instituto_informacion.nombre}}
                            </span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="{{instituto_informacion.imagen_url}}" width="730" height="280" alt="Instituto de Agroindustrias" typeof="foaf:Image" />
                    </div>
            
                    <div class="text-container text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <div [innerHTML]="formatText(instituto_informacion.descripcion_general)"></div>
                     
                        <p>El Instituto de Agroindustrias se creó en 1990 con la finalidad de explotar de forma sustentable los recursos agropecuarios convencionales y no convencionales de la región Mixteca, Oaxaca y en general de México.</p>
                        <p>Actualmente, cuenta con una plantilla de 16 PTC, de los cuales el 87.5% cuenta con posgrado en el área disciplinar de su desempeño y el 50.0% tiene Reconocimiento al Perfil Deseable PRODEP, que otorga la SEP. El 62.50% de los PTC con posgrado cuenta con el máximo grado de habilitación de los cuales, el 60.0% se encuentra en el SNI.</p>
                        <p>Las LGAC que se cultivan en el Instituto de Agroindustrias convergen principalmente en tres:</p>
                        <ul>
                            <li class="reduce-spacing">Biotecnología de alimentos y de productos naturales.</li>
                            <li class="reduce-spacing">Ciencia, tecnología e ingeniería de alimentos.</li>
                            <li class="reduce-spacing">Caracterización, medición y monitoreo de compuestos bioactivos en alimentos funcionales y productos naturales.</li>
                        </ul>
                        <p><strong>Objetivo General</strong></p>
                        <p>El objetivo general del Instituto de Agroindustrias consiste en desarrollar proyectos productivos que promuevan a la industria agroquímica, agroalimentaria y biotecnológica de la región Mixteca, Oaxaca y en general de México. Esto se lleva a cabo a través de tres grandes vertientes:</p>
                        <ul>
                            <li class="reduce-spacing">Conocer las propiedades químicas y biológicas de recursos naturales que sean factibles de ser transformados en un alimento de consumo humano o permita el aislamiento de compuestos químicos de interés biológico.</li>
                            <li class="reduce-spacing">Realizar el procesamiento de productos naturales y alimentos, convencionales y no convencionales para conservar e incluso potenciar sus propiedades organolépticas y nutricionales, confiriéndoles de esta manera un valor agregado.</li>
                            <li class="reduce-spacing">Desarrollar proyectos de transferencia tecnológica donde se vincule a los sectores productivos de la sociedad, relacionados con la producción y transformación de alimentos.</li>
                        </ul>
                        <p><strong>Objetivos Específicos</strong></p>
                        <p>Los objetivos particulares del Instituto de Agroindustrias se desglosan de la siguiente manera:</p>
                        <ul>
                            <li class="reduce-spacing">Determinar las propiedades químicas de productos naturales y alimentos, de la región.</li>
                            <li class="reduce-spacing">Determinar las propiedades biológicas de productos naturales y alimentos, de la región.</li>
                            <li class="reduce-spacing">Desarrollar tecnologías y procesos de conservación de alimentos, mediante la investigación y el desarrollo de tecnología verde y menos agresiva.</li>
                            <li class="reduce-spacing">Estudio y evaluación de la seguridad microbiológica y química de alimentos.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
