<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
<div class="content">
   <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/cultura">
                    <span>Cultura</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Centro de Actividades Culturales</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
    <section class="sidebar__section sidebar-first clearfix fade" data-animate-effect="fadeInLeft">
        <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/cultura" data-drupal-link-system-path="node/38">Cultura</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/cultura/publicaciones" data-drupal-link-system-path="node/45">Publicaciones</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/assets/pdf/Utemita_ENERO-FEBRERO_2024.pdf" data-drupal-link-system-path="node/45">Boletin Universitario</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/catalogo_de_publicaciones" data-drupal-link-system-path="node/45">Catalogo de Publicaciones</a>
                                    </li>
                                    <li class="menu-item">
                                         <a href="/home/cultura/publicaciones/libros" data-drupal-link-system-path="node/45">Libros</a>
                                    </li>
                                    <li class="menu-item">
                                        <a  href="/home/cultura/publicaciones/revistas" data-drupal-link-system-path="node/45">Revistas</a>
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/libreria" data-drupal-link-system-path="node/37">Librerias</a>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/actividades_culturales_y_deportivas"  data-drupal-link-system-path="node/37">Actividades Culturales & Deportivas</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/assets/pdf/Utemita_ENERO-FEBRERO_2024.pdf" data-drupal-link-system-path="node/45">Centro de Actividades Culturales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/catalogo_de_publicaciones" data-drupal-link-system-path="node/45">Semana de la Cultura Mixteca</a>
                                    </li>
                                    <li class="menu-item">
                                         <a href="/home/cultura/publicaciones/libros" data-drupal-link-system-path="node/45">Cursos y Conferencias</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/assets/pdf/Utemita_ENERO-FEBRERO_2024.pdf" data-drupal-link-system-path="node/45">Congresos y Seminarios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/catalogo_de_publicaciones" data-drupal-link-system-path="node/45">Eventos Recreativos</a>
                                    </li>
                                    <li class="menu-item">
                                         <a href="/home/cultura/publicaciones/libros" data-drupal-link-system-path="node/45">Año Internacional de la Papa</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/assets/pdf/Utemita_ENERO-FEBRERO_2024.pdf" data-drupal-link-system-path="node/45">Cine Club</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/cultura/publicaciones/catalogo_de_publicaciones" data-drupal-link-system-path="node/45">Concurso de Minirobótica</a>
                                    </li>
                                    <li class="menu-item">
                                         <a href="/home/cultura/publicaciones/libros" data-drupal-link-system-path="node/45">Simposium de Linux de la Mixteca</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/cultura/multimedia"  data-drupal-link-system-path="node/37">Multimedia</a>
                                <ul class="menu">
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">Centro de Actividades Culturales </span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Centro de Actividades Culturales </span>
                            </h2>
                        </header>

                        <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                            <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Centro de Actividades Culturales " typeof="foaf:Image" />
                        </div>
                        <div class="text-container">
                            <p>El Centro de Actividades Culturales alberga talleres artísticos, culturales y deportivos para los alumnos y comunidad de la Universidad Tecnológica de la Mixteca; fomenta la participación recreativa, formativa y apreciativa de sus integrantes.</p>
                            <p>Podrán participar todos los estudiantes con inscripción vigente en la Universidad Tecnológica de la Mixteca. Inscribirse, preferentemente, en las primeras semanas del semestre.</p>
                            <p>La participación en las actividades de los diferentes clubes son gratuitas y no persiguen ningún fin de lucro. Estas actividades buscan complementar la educación académica de sus participantes de tres maneras: enriqueciendo su horizonte cultural, potenciando su visión y campo de acción en sociedad, y desarrollando sus habilidades artísticas. Estos elementos son indispensables para la formación y crecimiento integral del ser humano.</p>
                            
                            <p>Además de los diferentes clubes, el Centro de Actividades Culturales, te ofrece:</p>
                            <ul>
                                <p><li>Salas de Estudio</li><br>Lugar donde puedes realizar tus trabajos en equipo, estudiar y hacer tareas en tu computadora, ya que cuentan con red inalámbrica.</p>
                                <p><li>Sala de Exposiciones Temporales</li><br>Lugar donde se muestran de manera periódica y continua diversas exposiciones de pintura, fotografía, escultura, diseño, entre otras. Asimismo, pueden realizarse conciertos. Este tipo de actividades están dirigidos tanto a la comunidad universitaria como a la población en general. Son actividades con acceso gratuito.</p>
                                <p><li>Sala de Usos Múltiples</li><br>Lugar donde hay proyecciones y conferencias de temas de interés general y sesiones de los Clubes.</p>
                                <p><li>Cine Club UTM</li><br>Todos los miércoles a las 19 hrs. se proyectan ciclos de cine con películas que suscitan un interés por el llamado Séptimo Arte y contribuyen a la formación cultural de la comunidad universitaria.</p>
                                <p><li>Diálogo con Escritores</li><br>Una vez al mes tenemos como invitado a un escritor con quien conversamos sobre temas de la literatura.</p>
                                <p><li>Apreciación Musical</li><br>Un espacio para escuchar Jazz, fusión y otros géneros con un especialista, una vez al mes.</p>
                            </ul>
                            <h1><strong>Clubes</strong></h1>
                            
                                <ul>
                                    <p><li>Ajedrez</li></p>
<p><li>Astronomía</li> </p>
<p><li>Adiestramiento Integral</li> </p>
<p><li>Apreciación Musical (Jazz, Fusión, Rock, etc.)</li> </p>
<p><li>Coro</li> </p>
<p><li>Cine</li> </p>
<p><li>Danza Folclórica</li> </p>
<p><li>Fotografía</li> </p>
<p><li>Tae kwon do</li> </p>
<p><li>Teatro</li> </p>
<p><li>Música</li> </p>
                                </ul>
                            <h1><strong>Horarios e Información</strong></h1><br>

                            <p class="Informacion">De lunes a sábado de 10:00hrs a 14:00 hrs. y de 17:00 a 21:00 hrs.</p>
                            <p class="Informacion">email: coordinadordedifusioncultural@mixteco.utm.mx</p>
                            <p class="Informacion">Teléfonos:</p>
                            <p class="Informacion">(01) 953 532 02 14, 953 53 245 60</p>
                            <p class="Informacion">953 532 03 99, 953 532 29 33</p>
                            <p class="Informacion">Extensiones:167 y 168</p>
                            <h1><strong>Galería</strong></h1>
                            
                            <p class="titulos_carrusel">Sala de Exposiciones Temporales</p>
                    
                            <div class="carousel">
                                <div class="carousel-track" [style.transform]="translateValue">
                                  <a *ngFor="let image of images; let i = index"
                                     [href]="image.src" target="_blank"
                                     class="carousel-item" [ngClass]="{'active': i === currentIndex}"
                                     (click)="changeImage(i)">
                                    <img [src]="image.src" [alt]="image.alt">
                                  </a>
                                </div>
                                <div class="carousel-dots">
                                  <span *ngFor="let image of images; let i = index"
                                        class="dot" [ngClass]="{'active': i === currentIndex}"
                                        (click)="changeImage(i)"></span>
                                </div>
                              </div>

                              <p class="titulos_carrusel">Sala para Talleres Culturales</p>

                              <div class="carousel">
                                  <div class="carousel-track" [style.transform]="translateValue">
                                    <a *ngFor="let image of images; let i = index"
                                       [href]="image.src" target="_blank"
                                       class="carousel-item" [ngClass]="{'active': i === currentIndex}"
                                       (click)="changeImage(i)">
                                      <img [src]="image.src" [alt]="image.alt">
                                    </a>
                                  </div>
                                  <div class="carousel-dots">
                                    <span *ngFor="let image of images; let i = index"
                                          class="dot" [ngClass]="{'active': i === currentIndex}"
                                          (click)="changeImage(i)"></span>
                                  </div>
                                </div>

                                <p class="titulos_carrusel">Ciclos de Cine</p>

                                <div class="carousel">
                                    <div class="carousel-track" [style.transform]="translateValue">
                                      <a *ngFor="let image of images; let i = index"
                                         [href]="image.src" target="_blank"
                                         class="carousel-item" [ngClass]="{'active': i === currentIndex}"
                                         (click)="changeImage(i)">
                                        <img [src]="image.src" [alt]="image.alt">
                                      </a>
                                    </div>
                                    <div class="carousel-dots">
                                      <span *ngFor="let image of images; let i = index"
                                            class="dot" [ngClass]="{'active': i === currentIndex}"
                                            (click)="changeImage(i)"></span>
                                    </div>
                                  </div>
                              
                                  <p class="titulos_carrusel">Eventos Artísticos</p>

                                <div class="carousel">
                                    <div class="carousel-track" [style.transform]="translateValue">
                                      <a *ngFor="let image of images; let i = index"
                                         [href]="image.src" target="_blank"
                                         class="carousel-item" [ngClass]="{'active': i === currentIndex}"
                                         (click)="changeImage(i)">
                                        <img [src]="image.src" [alt]="image.alt">
                                      </a>
                                    </div>
                                    <div class="carousel-dots">
                                      <span *ngFor="let image of images; let i = index"
                                            class="dot" [ngClass]="{'active': i === currentIndex}"
                                            (click)="changeImage(i)"></span>
                                    </div>
                                  </div>
                             
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>


                        
                
              

