<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué es la UTM?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 
</head>
<body>
    <div class="content">
        <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
            <h2 id="system-breadcrumb" class="visually-hidden"></h2>
            <ol class="breadcrumb__items">
                <li class="breadcrumb__item">
                    <a href="/home/web/">
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <a href="/home/nuestra_universidad">
                        <span>Nuestra Universidad</span>
                    </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <span>¿Qué es la UTM?</span>
                </li>
            </ol>
        </nav>

        <div class="content-container">
            <div class="region-sidebar-first">
                <nav role="navigation" aria-labelledby="block-menunuestrauniversidad-menu" id="block-menunuestrauniversidad" class="clearfix block block-menu navigation menu--menu-nuestra-universidad">
                    <h2 class="visually-hidden" id="block-menunuestrauniversidad-menu">Menu lateral</h2>
                    <ul class="menu">
                        <li class="menu-item menu-item--active-trail">
            
                            <a href="/home/nuestra_universidad/que_es_la_utm" data-drupal-link-system-path="node/26" class="is-active">¿Qué es la UTM?</a>
                        
                        </li>
                        <li class="menu-item">
                            <a href="/home/nuestra_universidad/historia" data-drupal-link-system-path="node/25">Historia</a>
                        </li>
                        <li class="menu-item">
                            <a href="/home/nuestra_universidad/modelo_educativo" data-drupal-link-system-path="node/24">Modelo Educativo</a>
                        </li>
                        <li class="menu-item">
                            <a href="/home/nuestra_universidad/premios_y_reconocimientos" data-drupal-link-system-path="node/23">Premios & Reconocimientos</a>
                        </li>
                        <li class="menu-item">
                            <a href="/home/nuestra_universidad/estructura_general" data-drupal-link-system-path="node/22">Estructura General</a>
                        </li>
                        <li class="menu-item">
                            <a href="/home/nuestra_universidad/legislacion_universitaria" data-drupal-link-system-path="node/21">Legislación Universitaria</a>
                        </li>
                        <li class="menu-item">
                            <a href="/home/nuestra_universidad/correo_electronico" data-drupal-link-system-path="node/401">Correo electrónico</a>
                        </li>
                        <li class="menu-item">
                            <a href="/home/nuestra_universidad/contacto" data-drupal-link-system-path="node/406">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <main class="region-content">
                <h1 class="page-title">¿Qué es la UTM?</h1>

                <div class="image-container">
                    <img src="/assets/images/UTM.png" alt="UTM" width="720" height="300">
                </div>

                <div class="text-container">
                    <p>En el estado de Oaxaca, en el corazón de México, varias universidades públicas responden a un mismo modelo, diferente al de las universidades tradicionales. Las cuales forman parte del Sistema de Universidades Estatales de Oaxaca (SUNEO). Entre ellas se encuentra la <strong>Universidad Tecnológica de la Mixteca</strong>.</p>
                    <p>Esta institución ha sido concebida como instrumento cultural de transformación del entorno social además de los fines tradicionales de las universidades clásicas:</p>
                    <ul>
                        <li>Enseñanza</li>
                        <li>Investigación</li>
                        <li>Difusión Cultural</li>
                        <li>Promoción del Desarrollo</li>
                        <li>Propuesta del Nuevo Modelo</li>
                    </ul>
                    <p>Esta universidad se encuentra localizada en la ciudad de Huajuapan de León, Oaxaca.</p>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
