<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licenciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Ingenieria en Electronica</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
     <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica" class="highlight-red ">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/licenciatura_estudios_mexicanos.html" target="_blank">Licenciatura en Estudios Mexicanos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
   
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Electronica</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Electronica</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Ingenieria en Electronica" typeof="foaf:Image" />
                    </div>

                           
                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                            <ul class="contact-info">
                                                <li><h3>Dr. Edgardo Yescas Mendoza</h3></li>
                                                <li><i class="fas fa-envelope"></i>jcelectronica@mixteco.utm.mx</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="i === 1">
                                            <div class="mision-content">
                                                <p>La Ingeniería en Electrónica de la Universidad Tecnológica de la Mixteca (UTM) tiene la misión de formar profesionales en las áreas del Internet de las cosas y de la electrónica de potencia, con espíritu emprendedor y valores universales, que contribuyan a elevar la calidad de vida y el desarrollo de la sociedad, a través de la formulación y la dirección de proyectos tecnológicos innovadores; haciendo uso sostenible de los recursos naturales, en los ámbitos local, estatal y nacional.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                            <div class="vision-content">
                                                <p>Formar Ingenieros en Electrónica altamente competitivos, capaces de investigar, innovar, crear, sintetizar, diseñar, evaluar, desarrollar, utilizar y mantener sistemas empotrados, con la opción de especializarse en dos áreas, Internet de las cosas o Electrónica de Potencia; de tal forma que propicien un cambio económico y social de su entorno, con el uso sostenible de los recursos naturales en los ámbitos local, estatal y nacional.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 3">
                                            <div class="objetivo-content">
                                                <p>Objetivo en revisión por parte de las autoridades universitarias correspondientes.</p>
                                            </div>
                                        </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-ingreso-content">
                                                <p>Egresado de bachillerato preferentemente en el área de Físico-Matemáticas, disciplinado y constante en su aprendizaje. Curiosidad por saber cómo funcionan las cosas, interés en comprender el funcionamiento de dispositivos, sistemas electrónicos y en la tecnología, habilidades y destrezas para construir prototipos.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <div class="perfil-egreso-content">
                                                <p>El egresado de la Ingeniería en Electrónica es el profesionista que se caracteriza por su visión creativa e innovadora para diseñar sistemas electrónicos que integren hardware y software con tecnología de vanguardia. Está preparado para enfrentar desafíos en el campo de la electrónica y es apto para continuar con estudios de posgrado, como maestría o doctorado.</p>
                                                
                                                <p>Te invitamos a sumergirte en el fascinante mundo de la Ingeniería en Electrónica a través de nuestro canal de YouTube. Descubre las <a href="https://www.youtube.com/playlist?list=PLryMJrShwg0mNJjF5Coh6KI8x7ZekYlVg" target="_blank">23 Charlas con Egresados </a>, donde conocerás de primera mano los increíbles logros de nuestros egresados. Observa cómo aplican sus conocimientos en su trabajo actual y explora los emocionantes proyectos que están desarrollando en el campo de la electrónica. ¡No te pierdas esta oportunidad de inspirarte y descubrir tu potencial en esta apasionante carrera!</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 6">
                                            <div class="campo-de-accion-content">
                                                <p>El ingeniero en Electrónica tiene un amplio campo de acción en empresas e instituciones tanto públicas como privadas, industriales o de servicios. Además, puede desempeñarse de manera independiente, ofreciendo sus servicios en el diseño, implementación, análisis y mantenimiento de circuitos, dispositivos y sistemas electrónicos.</p>
                                                
                                                <p>La Ingeniería en Electrónica se enfoca en el diseño, implementación, análisis y mantenimiento de circuitos, dispositivos y sistemas electrónicos. Incluye sectores como la industria electrónica, la industria médica, automotriz y aeroespacial, entre otros.</p>
                                      
                                                <p>La industria electrónica es una de las de mayor crecimiento en el mundo. En México, se encuentra instalada una industria electrónica compuesta por más de 766 empresas, las cuales se especializan en el ensamblaje y la manufactura de productos electrónicos de consumo, de la industria médica, automotriz y aeroespacial, por mencionar algunos. Las principales empresas del sector electrónico que tienen presencia en el país son Samsung®, LG®, Toshiba®, Foxconn®, Flextronics®, Continental® e Intel®, las cuales también han invertido en México, no solamente en plantas manufactureras, sino también en Centros de Ingeniería y Diseño, donde trabajan muchos de nuestros egresados.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 7">
                                            <div class="plan-de-estudios-content">
                                                <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse; border: 1px solid #d3d3d3;">
                                                  <tbody>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Cálculo I <br />
                                                              Mecánica para Ingeniería <br />
                                                              Historia del pensamiento filosófico <br />
                                                              Programación Estructurada <br />
                                                              Fundamentos de Sistemas Electrónicos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Cálculo II <br />
                                                              Álgebra Lineal <br />
                                                              Teoría general de sistemas <br />
                                                              Estructura de Datos <br />
                                                              Instrumentación Electrónica
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Análisis Vectorial <br />
                                                              Ecuaciones Diferenciales <br />
                                                              Circuitos Eléctricos I <br />
                                                              Programación Orientada a Objetos <br />
                                                              Construcción de Sistemas Electrónicos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Transformadas para Ingeniería <br />
                                                              Electricidad y Magnetismo <br />
                                                              Circuitos Eléctricos II <br />
                                                              Programación Visual <br />
                                                              Circuitos Lógicos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Química para Ingeniería <br />
                                                              Métodos Numéricos <br />
                                                              Circuitos Electrónicos <br />
                                                              Sensores y Actuadores <br />
                                                              Circuitos Digitales Reconfigurables
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Fundamentos de Administración <br />
                                                              Microcontroladores <br />
                                                              Sistemas de Control <br />
                                                              Electrónica de Potencia <br />
                                                              Comunicación de Datos
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Dirección de Empresas <br />
                                                              Microcontroladores Avanzados <br />
                                                              Máquinas Eléctricas <br />
                                                              Procesamiento de Señales <br />
                                                              Redes de Computadoras
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Derecho Mercantil, Laboral y Propiedad Industrial <br />
                                                              Sistemas Operativos Empotrados <br />
                                                              Fundamentos de Robótica <br />
                                                              Administración de Redes <br />
                                                              Fundamentos de Internet de las Cosas
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Arquitectura de Computadoras <br />
                                                              Ingeniería de Sistemas Empotrados <br />
                                                              Inteligencia Artificial <br />
                                                              Redes Industriales <br />
                                                              Optativa I
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Proyecto Terminal <br />
                                                              Controladores Lógicos Programables <br />
                                                              Visión Artificial <br />
                                                              Optativa II <br />
                                                              Optativa III
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>

                                                  </tbody>
                                                </table>
                                              </div>
                                               <div class="text-container">
                                                 <p style="color:#410401"><strong>Áreas Terminales</strong></p>
                                                  <p>El Ingeniero en Electrónica se va a especializar en una de dos áreas terminales: <strong>Internet de las cosas</strong> y <strong>Electrónica de Potencia</strong>. La especialización se realiza por medio de 3 asignaturas optativas, los estudiantes deben seleccionar una de las siguientes opciones:</p>
                                               </div>
                                              <div class="plan-de-estudios-content">
                                                <table align="center" style="border-collapse: collapse; width: 100%; color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; border: 1px solid #d3d3d3;">
                                                  <thead>
                                                    <tr style="background-color: trasparent; color:#410401;">
                                                      <th style="border: 1px solid #d3d3d3; padding: 10px; text-align: left;">Optativa</th>
                                                      <th style="border: 1px solid #d3d3d3; padding: 10px; text-align: left;">Internet de la Cosas</th>
                                                      <th style="border: 1px solid #d3d3d3; padding: 10px; text-align: left;">Electrónica de potencia</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Optativa I</td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Internet de las cosas</td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Energías Renovables</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Optativa II</td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Análisis de Datos</td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Tópicos Selectos de Control</td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Optativa III</td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Desarrollo de Soluciones IoT</td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px;">Sistemas de Accionamiento Eléctrico</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sección Convocatoria -->
                    <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                        <h2 class="title">Convocatoria</h2>
                        <div class="content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>
                                    <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
