<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/">
                    <span>Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/institutos_de_investigacion/">
                    <span>Institutos de Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Instituto de Ciencias Sociales y Humanidades</span>
            </li>
        </ol>
    </nav>
</div>
<div class="wrapper">
    <div class="region region-sidebar-first">
            <!-- Menú lateral -->
            <nav role="navigation" aria-labelledby="block-menuinvestigacion-menu" id="block-menuinvestigacion" class="clearfix block block-menu navigation menu--menu-investigacion">
                <h3 class="visually-hidden" id="block-menuinvestigacion-menu">Menú-Investigación</h3>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/investigacion/institutos_de_investigacion" data-drupal-link-system-path="node/72" class="is-active">Institutos de Investigación</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/investigacion/institutos_de_investigacion/huajuapan_de_leon" data-drupal-link-system-path="node/74">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let instituto of institutos">
                                        <a [ngClass]="{ 'highlight-red': instituto.nombre === 'Instituto de Ciencias Sociales y Humanidades' }" 
                                        (click)="navigateTo(instituto.nombre)">{{instituto.nombre }}</a>
                                      </li> 
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/investigacion/productos_de_la_investigacion" data-drupal-link-system-path="node/73">Productos de la Investigación</a>
                    </li>
                </ul>
            </nav>
        </div>
   
<!-- A partir de aquí sigue la otra parte -->
<!-- Nueva sección del Instituto de Ciencias Sociales y Humanidades -->
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Instituto de Ciencias Sociales y Humanidades
                </span></h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" about="/home/investigacion/institutos_de_investigacion/instituto_de_ciencias_sociales_y_humanidades" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Instituto de Ciencias Sociales y Humanidades
                            </span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/sociales2.jpeg" width="730" height="280" alt="Instituto de Ciencias Sociales y Humanidades" typeof="foaf:Image" />
                    </div>

                    <div class="text-container text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <p>El ICSyH está integrado por profesores-investigadores de tiempo completo que realizan una labor de investigación en diversas áreas de las Ciencias Sociales y Humanidades. Estas investigaciones tienen como finalidad contribuir en la búsqueda de soluciones a problemas regionales, estatales, nacionales y de ámbito internacional. El instituto busca difundir los conocimientos entre las comunidades, por lo que también realiza actividades destinadas a la promoción del desarrollo.</p>

                        <p><strong>Objetivo General</strong></p>
                        <p>Fomentar el desarrollo humano y económico-social asesorando a organizaciones públicas y privadas de la Región Mixteca y del Estado mediante la acción participativa.</p>

                        <p><strong>Objetivos Particulares</strong></p>
                        <ul>
                            <li class="reduce-spacing">Cumplir con los objetivos institucionales referentes al desarrollo económico de la región a través de las investigaciones de campo.</li>
                            <li class="reduce-spacing">Coadyuvar en el desarrollo de proyectos que reactiven la economía y generen empleos directos e indirectos, revitalizando las comunidades y el entorno regional.</li>
                        </ul>

                        <p><strong>Actividades Principales</strong></p>
                        <ul>
                            <li class="reduce-spacing">Estudios del potencial socio-económico de las comunidades.</li>
                            <li class="reduce-spacing">Capacitación y asesoría técnica en el área fiscal, contable, mercadotecnia y administración a organizaciones públicas y privadas sin fines de lucro.</li>
                            <li class="reduce-spacing">Actividades de apoyo a través de la incubación de empresas.</li>
                            <li class="reduce-spacing">Estudios sobre la cultura regional: formas de organización, principales actividades y toma de decisiones.</li>
                            <li class="reduce-spacing">Investigaciones sobre aspectos macroeconómicos y su impacto en la región: monto y destino de las remesas, migración, caracterización de las crisis, crecimiento económico, tratados internacionales, entre otros.</li>
                            <li class="reduce-spacing">Formulación y evaluación de proyectos productivos sustentables.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
