<div *ngIf="perfiles">
  <h2>Perfil de Egreso</h2>
  <p>{{ perfiles.perfil }}</p>

  <div *ngIf="perfiles.descripcion_conocimiento.length > 0">
    <h3>Descripción de Conocimiento</h3>
    <div *ngFor="let desc of perfiles.descripcion_conocimiento">
      <p>{{ desc }}</p>
    </div>
  </div>

  <div *ngIf="perfiles.descripcion_habilidad.length > 0">
    <h3>Descripción de Habilidad</h3>
    <div *ngFor="let desc of perfiles.descripcion_habilidad">
      <p>{{ desc }}</p>
    </div>
  </div>

  <div *ngIf="perfiles.descripcion_valores.length > 0">
    <h3>Descripción de Valores</h3>
    <div *ngFor="let desc of perfiles.descripcion_valores">
      <p>{{ desc }}</p>
    </div>
  </div>
</div>

<div *ngIf="campos">
  <h2>Perfil de Egreso</h2>
  <p>{{ campos.campo }}</p>

  <div *ngIf="campos.descripcion_campo_accion.length>0">
    <h3>Descripción de Conocimiento</h3>
    <div *ngFor="let desc of campos.descripcion_campo_accion">
      <p>{{ desc }}</p>
    </div>
  </div>
