<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/directorio">
                    <span>Directorio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/directorio/profesores">
                    <span>Profesores-Investigadores</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/directorio/profesores/huajuapan_de_leon">
                    <span>Huajuapan de Leon</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Instituto de Física y Matemáticas</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
    <div class="region region-sidebar-first">
        <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
            <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
            <ul class="clearfix menu">
                <li class="menu-item menu-item--expanded menu-item--active-trail">
                    <a href="/home/directorio/rectoria" data-drupal-link-system-path="node/38">Rectoria</a>
                </li>
                <li class="menu-item menu-item--expanded">
                    <a href="/home/directorio/vice_rectorias" data-drupal-link-system-path="node/37">Vice-Rectorias</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/division_de_estudios_de_posgrado" data-drupal-link-system-path="node/36" >Division de Estudios de Posgrados</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/directores_de_institutos" data-drupal-link-system-path="node/35" >Directores de Institutos</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/jefes_de_carreras" data-drupal-link-system-path="node/34">Jefes de Carreras</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/personal_administrativo" data-drupal-link-system-path="node/405">Personal Administrativo</a>
                </li>
                <li class="menu-item">
                    <a href="/home/directorio/profesores" data-drupal-link-system-path="node/98" >Profesores-Investigadores</a>
                    <ul class="menu">
                        <li class="menu-item menu-item--expanded menu-item--active-trail">
                            <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Hujuapan de Leon</a>
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_computacion">Instituto de Computación</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_electronica_y_mecatronica"  >Instituto de Electrónica y Mecatrónica</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_agroindustrias" >Instituto de Agroindustrias</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_fisica_y_matematicas" class="highlight-red">Instituto de Física y Matemáticas</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_diseno">Instituto de Diseño</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_ciencias_sociales_y_humanidades">Instituto de Ciencias Sociales y Humanidades</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_hidrologia">Instituto de Hidrología</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_minera">Instituto de Minería</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/instituto_de_ingenieria_industrial_y_automotriz">Instituto de Ingeniería Industrial y Automotriz</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/division_de_estudios_de_postgrado">División de Estudios de Postgrado</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/centro_de_estudios_estrategicos_de_la_empresa">Centro de Estudios Estratégicos de la Empresa</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/centro_de_estudios_de_nuevos_materiales">Centro de Estudios de Nuevos Materiales</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/coordinacion_de_promocion_del_desarrollo">Coordinación de Promoción del Desarrollo</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/centro_de_idiomas">Centro de Idiomas</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/home/directorio/profesores/profesores_de_catedras_conacyt">Profesores de Cátedras (CONACYT)</a>
                                </li>
                                
                                
                                
                                
                                    
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>


    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">Instituto de Física y Matemáticas</span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Instituto de Física y Matemáticas</span>
                            </h2>
                        </header>

                        <div class="views-element-container clearfix block block-views block-views-blockvista-nuestra-universidad-block-1" id="block-views-block-vista-nuestra-universidad-block-1">
                            <div class="content">
                                <div class="cards-grid view view-vista-nuestra-universidad view-id-vista_nuestra_universidad view-display-id-block_1 js-view-dom-id-2d5d65fe762e84bd8aeab2d3a11955b56857df25ece17453c89145a3fa9ff320">
                                    <div class="view-content">
                                        <div class="views-view-grid">
                                            <div class="views-row">
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dra. Alicia Santiago"/>
                                                    <a href="/home/" hreflang="es">Dra. Alicia Santiago</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Rafael Martínez"/>
                                                    <a href="/home/" hreflang="es">Dr. Rafael Martínez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Jesús Fernando Tenorio"/>
                                                    <a href="/home/" hreflang="es">Dr. Jesús Fernando Tenorio</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Raúl Juárez"/>
                                                    <a href="/home/" hreflang="es">Dr. Raúl Juárez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Cuauhtémoc Héctor Castañeda"/>
                                                    <a href="/home/" hreflang="es">Dr. Cuauhtémoc Héctor Castañeda</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Salomón González"/>
                                                    <a href="/home/" hreflang="es">Dr. Salomón González</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Jorge González"/>
                                                    <a href="/home/" hreflang="es">Dr. Jorge González</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Guillermo Arturo Lancho"/>
                                                    <a href="/home/" hreflang="es">Dr. Guillermo Arturo Lancho</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Franco Barragán"/>
                                                    <a href="/home/" hreflang="es">Dr. Franco Barragán</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Ricardo Rosas"/>
                                                    <a href="/home/" hreflang="es">Dr. Ricardo Rosas</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Salvador Sánchez"/>
                                                    <a href="/home/" hreflang="es">Dr. Salvador Sánchez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Julián Javier Carmona"/>
                                                    <a href="/home/" hreflang="es">Dr. Julián Javier Carmona</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. José Margarito Hernández"/>
                                                    <a href="/home/" hreflang="es">Dr. José Margarito Hernández</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Iván René Corrales"/>
                                                    <a href="/home/" hreflang="es">Dr. Iván René Corrales</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Hugo David Sánchez"/>
                                                    <a href="/home/" hreflang="es">Dr. Hugo David Sánchez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Alejandro Iván Aguirre"/>
                                                    <a href="/home/" hreflang="es">Dr. Alejandro Iván Aguirre</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Virgilio Vázquez"/>
                                                    <a href="/home/" hreflang="es">Dr. Virgilio Vázquez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Sergio Palafox"/>
                                                    <a href="/home/" hreflang="es">Dr. Sergio Palafox</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Octavio Alberto Agustín"/>
                                                    <a href="/home/" hreflang="es">Dr. Octavio Alberto Agustín</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dra. Marisol López"/>
                                                    <a href="/home/" hreflang="es">Dra. Marisol López</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Emmanuel Abdias Romano"/>
                                                    <a href="/home/" hreflang="es">Dr. Emmanuel Abdias Romano</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. en C.A. Mario Lomeli"/>
                                                    <a href="/home/" hreflang="es">Dr. en C.A. Mario Lomeli</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Juan Ramón Tijerina"/>
                                                    <a href="/home/" hreflang="es">M.C. Juan Ramón Tijerina</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Adolfo Maceda"/>
                                                    <a href="/home/" hreflang="es">Dr. Adolfo Maceda</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Juan Luis Hernández"/>
                                                    <a href="/home/" hreflang="es">M.C. Juan Luis Hernández</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Graciela Castro"/>
                                                    <a href="/home/" hreflang="es">M.C. Graciela Castro</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. José del Carmen Jiménez"/>
                                                    <a href="/home/" hreflang="es">M.C. José del Carmen Jiménez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Verónica Borja"/>
                                                    <a href="/home/" hreflang="es">M.C. Verónica Borja</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Jesús Alejandro Hernández"/>
                                                    <a href="/home/" hreflang="es">M.C. Jesús Alejandro Hernández</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Armando Romero"/>
                                                    <a href="/home/" hreflang="es">M.C. Armando Romero</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Maxvell Gustavo Jiménez"/>
                                                    <a href="/home/" hreflang="es">M.C. Maxvell Gustavo Jiménez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. José Luis Carrasco"/>
                                                    <a href="/home/" hreflang="es">M.C. José Luis Carrasco</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.C. Ana Delia Olvera"/>
                                                    <a href="/home/" hreflang="es">M.C. Ana Delia Olvera</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.M. Tirso Miguel Ángel Ramírez"/>
                                                    <a href="/home/" hreflang="es">M.M. Tirso Miguel Ángel Ramírez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.M. Alma Lidia Piceno"/>
                                                    <a href="/home/" hreflang="es">M.M. Alma Lidia Piceno</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dra. Luz Del Carmen Álvarez"/>
                                                    <a href="/home/" hreflang="es">Dra. Luz Del Carmen Álvarez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.M. Vulfrano Tochihuitl"/>
                                                    <a href="/home/" hreflang="es">M.M. Vulfrano Tochihuitl</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="L.F.M. Juan Carlos Mendoza"/>
                                                    <a href="/home/" hreflang="es">L.F.M. Juan Carlos Mendoza</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="M.M.M. Armando Alcalá"/>
                                                    <a href="/home/" hreflang="es">M.M.M. Armando Alcalá</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Tomás Pérez"/>
                                                    <a href="/home/" hreflang="es">Dr. Tomás Pérez</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Ulises Ramírez Meza"/>
                                                    <a href="/home/" hreflang="es">Dr. Ulises Ramírez Meza</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dra. Mirna Bareiro"/>
                                                    <a href="/home/" hreflang="es">Dra. Mirna Bareiro</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dra. María Espinoza"/>
                                                    <a href="/home/" hreflang="es">Dra. María Espinoza</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Juan Montes"/>
                                                    <a href="/home/" hreflang="es">Dr. Juan Montes</a>
                                                </div>
                                                
                                                <div class="image-card">
                                                    <img src="/assets/images/0.png" class="img-fluid" alt="Dr. Antonio Soto Pedro Alberto"/>
                                                    <a href="/home/" hreflang="es">Dr. Antonio Soto Pedro Alberto</a>
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
