<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institutos de Investigación</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
 
</head>
<body>
    <div class="content">
        <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
            <h2 id="system-breadcrumb" class="visually-hidden"></h2>
            <ol class="breadcrumb__items">
                <li class="breadcrumb__item">
                    <a href="/home/web/">
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <a href="home/investigacion">
                        <span>Investigación</span>
                    </a>
                </li>
                <li class="breadcrumb__item">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <span>Institutos de Investigación</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="wrapper">
              <div class="region region-sidebar-first">
                <!-- Menú lateral -->
                <nav role="navigation" aria-labelledby="block-menuinvestigacion-menu" id="block-menuinvestigacion" class="clearfix block block-menu navigation menu--menu-investigacion">
                    <h2 class="visually-hidden" id="block-menuinvestigacion-menu">Menú-Investigación</h2>
                    <ul class="clearfix menu">
                        <li class="menu-item menu-item--expanded menu-item--active-trail">
                            <a href="/home/investigacion/institutos_de_investigacion" data-drupal-link-system-path="node/72" class="is-active" class="highlight-red">Institutos de Investigación</a>
                            <ul class="menu">
                                <li class="menu-item menu-item--expanded">
                                    <a href="/home/investigacion/institutos_de_investigacion/huajuapan_de_leon" data-drupal-link-system-path="node/74">Hujuapan de Leon</a>
                                    <ul class="menu">
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_computacion" data-drupal-link-system-path="node/77">Instituto de Computación</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_electronica_y_mecatronica" data-drupal-link-system-path="node/77">Instituto de Electrónica y Mecatrónica</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_diseno" data-drupal-link-system-path="node/77">Instituto de Diseño</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_fisica_y_matematicas" data-drupal-link-system-path="node/77">Instituto de Física y Matemáticas</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ciencias_sociales_y_humanidades" data-drupal-link-system-path="node/77">Instituto de Ciencias Sociales y Humanidades</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_agroindustrias" data-drupal-link-system-path="node/77">Instituto de Agroindustrias</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_hidrologia" data-drupal-link-system-path="node/77">Instituto de Hidrología</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_mineria" data-drupal-link-system-path="node/77">Instituto de Minería</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ingenieria_industrial_y_automotriz" data-drupal-link-system-path="node/77">Instituto de Ingeniería Industrial y Automotriz</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/investigacion/institutos_de_investigacion/centro_de_estudios_de_nuevos_materiales" data-drupal-link-system-path="node/77">Centro de Estudios de Nuevos Materiales</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="/home/investigacion/productos_de_la_investigacion" data-drupal-link-system-path="node/73">Productos de la Investigación</a>
                        </li>
                    </ul>
                </nav>
            </div>
        
        <div class="region region-content">
            <div id="block-suneo-umar-page-title" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">Institutos de Investigación</h1>
                </div>
            </div>

            <article data-history-node-id="72" role="article" about="/web/investigacion/institutos_de_investigacion" class="node node--type-pagina-investigacion node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Institutos de Investigación</span>
                            </h2>
                        </header>

                        <div class="image-container">
                            <img loading="lazy" src="/assets/images/Computacion.png" width="700" height="280" alt="Institutos de Investigación" />
                        </div>

                        <div class="accordion-container">
                            <div class="panel-group">
                                <div *ngFor="let panel of panels; let i = index" class="panel">
                                    <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                        <div class="panel-title">
                                            {{ panel.title }}
                                        </div>
                                    </div>
                                    <div class="panel-collapse" *ngIf="isOpen(i)">
                                        <div class="panel-body">
                
                                       
                                            <div *ngIf="i === 0">
                                                
                                            <div class="text-container">
                                                <ul>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_computacion">Instituto de Computación</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_electronica_y_mecatronica">Instituto de Electrónica y Mecatrónica</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_diseno">Instituto de Diseño</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_fisica_y_matematicas">Instituto de Física y Matemáticas</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_ciencias_sociales_y_humanidades">Instituto de Ciencias Sociales y Humanidades</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_agroindustrias">Instituto de Agroindustrias</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_hidrologia">Instituto de Hidrología</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_mineria">Instituto de Minería</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/instituto_de_ingenieria_industrial_y_automotriz">Instituto de Ingeniería Industrial y Automotriz</a></li>
                                                    <li><a style="color: #4a1110;" href="/home/investigacion/institutos_de_investigacion/centro_de_estudios_de_muevos_materiales">Centro de Estudios de Nuevos Materiales</a></li>   
                                                </ul>
                                        </div>
                                            </div>
                
                                         </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </div>
</body>
</html>
