<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Actualidad</title>
</head>

<body>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap">

  <img src="/assets/images/UTM.jpg" data-entity-type="file" alt="UTM" width="100%">
  <div class="container">
    
    <h2 class="actualidad-centrado">Actualidad</h2>

    <div class="jornada-container">
      
      <div class="card">
        <header class="card-header">
          <h2 class="jornada-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/8va_jornada_de_ingenieria_en_alimentos" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">8va Jornada de Ingeniería en Alimentos</span>
            </a>
          </h2>
        </header>
        <div class="card-date">17 de octubre del 2023</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/8va_jornada_de_ingenieria_en_alimentos">
            <img loading="lazy" src="/assets/images/JIA-8.png?itok=jmq4N8O6" width="150" height="60" alt="JIA-8" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/8va_jornada_de_ingenieria_en_alimentos" rel="tag" title="8va Jornada de Ingeniería en Alimentos" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

     
      <div class="card">
        <header class="card-header">
          <h2 class="card-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/nueva_jornada" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">Hechos 2023</span>
            </a>
          </h2>
        </header>
        <div class="card-date">Información General del Sistema de Universidades Estatales de Oaxaca</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/nueva_jornada">
            <img loading="lazy" src="/assets/images/UTM.jpg" width="150" height="60" alt="Hechos 2023" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/nueva_jornada" rel="tag" title="Hechos 2023" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

      
      <div class="card">
        <header class="card-header">
          <h2 class="card-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/jornada_de_ingenieria_en_alimentos" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">Convocatoria Santander X México</span>
            </a>
          </h2>
        </header>
        <div class="card-date">Reto University 2024</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/jornada_de_ingenieria_en_alimentos">
            <img loading="lazy" src="/assets/images/UTM.jpg" width="150" height="60" alt="Convocatoria Santander X México" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/jornada_de_ingenieria_en_alimentos" rel="tag" title="Convocatoria Santander X México" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <header class="card-header">
          <h2 class="jornada-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">Gratuidad en la Educación Superior 2024</span>
            </a>
          </h2>
        </header>
        <div class="card-date">A partir del 1º de enero de 2024 los jóvenes que deseen inscribirse a nivel licenciatura y posgrado no pagarán cuotas de inscripción y/o reinscripción</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos">
            <img loading="lazy" src="/assets/images/UTM.jpg" width="150" height="60" alt="Gratuidad en la Educación Superior 2024" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" rel="tag" title="Gratuidad en la Educación Superior 2024" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <header class="card-header">
          <h2 class="jornada-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">Pronunciamiento</span>
            </a>
          </h2>
        </header>
        <div class="card-date">En el marco del Día Internacional de la Eliminación de la Violencia contra la Mujer</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos">
            <img loading="lazy" src="/assets/images/UTM.jpg" width="150" height="60" alt="4ta Jornada de Ingeniería en Alimentos" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" rel="tag" title="4ta Jornada de Ingeniería en Alimentos" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <header class="card-header">
          <h2 class="jornada-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">Pronunciamiento</span>
            </a>
          </h2>
        </header>
        <div class="card-date">En el marco del Día Internacional de la Eliminación de la Violencia contra la Mujer</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos">
            <img loading="lazy" src="/assets/images/UTM.jpg" width="150" height="60" alt="4ta Jornada de Ingeniería en Alimentos" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" rel="tag" title="4ta Jornada de Ingeniería en Alimentos" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <header class="card-header">
          <h2 class="jornada-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">Pronunciamiento</span>
            </a>
          </h2>
        </header>
        <div class="card-date">En el marco del Día Internacional de la Eliminación de la Violencia contra la Mujer</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos">
            <img loading="lazy" src="/assets/images/UTM.jpg" width="150" height="60" alt="4ta Jornada de Ingeniería en Alimentos" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" rel="tag" title="4ta Jornada de Ingeniería en Alimentos" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <header class="card-header">
          <h2 class="jornada-titulo">
            <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" class="jornada-titulo" rel="bookmark">
              <span class="field field--name-title field--type-string field--label-hidden">Pronunciamiento</span>
            </a>
          </h2>
        </header>
        <div class="card-date">En el marco del Día Internacional de la Eliminación de la Violencia contra la Mujer</div>
        <div class="card-image-wrapper">
          <a class="overlay-target-link image-popup" href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos">
            <img loading="lazy" src="/assets/images/UTM.jpg" width="150" height="60" alt="4ta Jornada de Ingeniería en Alimentos" class="image-style-medium">
            <div class="overlay-icon">+</div> 
          </a>
        </div>
        <div class="card-link">
          <ul class="links inline">
            <li class="node-readmore">
              <a href="/web/cultura/publicaciones/boletin_universitario/4ta_jornada_de_ingenieria_en_alimentos" rel="tag" title="4ta Jornada de Ingeniería en Alimentos" hreflang="es">Ver más</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="more-link">
      <a href="/web/cultura/publicaciones/boletin_universitario">IR AL UTEMITA</a>
    </div>
  </div>
</body>
</html>
