<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Ingreso a Posgrado</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
        <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Hujuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_tecnologia_avanzada_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_tecnologias_computo_aplicado">Maestría en Tecnologías de Cómputo Aplicado</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_electronica_sistemas_inteligentes">Maestría en Electrónica Opción: Sistemas Inteligentes</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_robotica">Doctorado en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_tecnologias_computo_aplicado">Doctorado en Tecnologías de Cómputo Aplicado</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_electronica_sistemas_inteligentes">Doctorado en Electrónica, Opción: Sistemas Inteligentes</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
    
    <div class="content">
        <div id="umar-page-title" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Ingreso a Posgrado</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="35" role="article" about="/home/ensenanza/ingreso_a_posgrado" class="node node--type-pagina-ensenanza node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Ingreso a Posgrado</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-ensenanza field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/Computacion.png" width="700" height="280" alt="Ingreso a Posgrado" typeof="foaf:Image" />
                    </div>

                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                       <div class="text-container">
                        <p><strong>Curso Propedéutico 2024</strong></p>
                        <p>Solicitud y entrega de documentos: <strong>16 de febrero al 26 de junio de 2024</strong><br />
                        Examen de selección: <strong>01 de julio de 2024</strong><br />
                        Entrevista: <strong>02 de julio de 2024</strong><br />
                        Inscripción al curso Propedéutico: <strong>08 al 12 de julio de 2024</strong><br />
                        Curso propedéutico: <strong>29 de julio al 20 de septiembre de 2024</strong></p>

                        <p><strong>Requisitos para trámite de ficha</strong></p>
                        <ul>
                            <li>Dos copias del acta de nacimiento actualizada</li>
                            <li>Dos copias del certificado de licenciatura o maestría</li>
                            <li>Dos copias del título profesional o grado de Maestría</li>
                            <li>Dos copias de la cédula profesional</li>
                            <li>Carta de exposición de motivos, mínimo 3 y máximo 5 cuartillas</li>
                            <li>Carta compromiso de dedicación de tiempo completo al programa</li>
                            <li>Curriculum Vitae actualizado</li>
                            <li>Constancia de inglés con una equivalencia de 450 TOEFL para aspirantes a los programas de Maestría y 500 puntos TOEFL para aspirantes a los programas de doctorado</li>
                            <li>Presentar un proyecto de tesis en caso de estudios de doctorado</li>
                            <li>Seis fotografías tamaño infantil blanco y negro</li>
                            <li>Dos cartas de recomendación avaladas por profesores o investigadores ya sea nacionales o extranjeros</li>
                        </ul>
                        <p style="font-size: 15px;"><em>Nota: Toda la documentación debe entregarse en tamaño carta junto con el pago del examen de selección en original y copia. En caso de ser extranjero todos los documentos deben venir apostillados.</em></p>

                        <p><strong>FORMA DE PAGO DE SERVICIOS</strong></p>
                        <p><a href="https://siox.finanzasoaxaca.gob.mx/pagos#" target="_blank">Enlace a Finanzas del Estado</a><br />
                        <a href="/assets/pdf/Procedimiento_para_pagar_con_Linea_de_Captura_de_posgrado.pdf" target="_blank">Procedimiento para pagar</a></p>

                        <p><strong>INFORMES</strong></p>
                        <p>Av. Doctor Modesto Seara Vázquez No.1, Acatlima, Heroica Ciudad de Huajuapan de León, Oax., México, C.P.69004<br />
                        División de Estudios de Posgrado y Departamento de Servicios Escolares.<br />
                        Tel. y Fax. (953) 53 2 03 99 ext. 300, 110 y 768<br />
                        e-mail: <a href="mailto:jdivisionposgrado@mixteco.utm.mx">jdivisionposgrado@mixteco.utm.mx</a><br />
                        Servicios Escolares: <a href="mailto:escolar@mixteco.utm.mx">escolar@mixteco.utm.mx</a></p>
                    
                        <p><strong>Entrega de Fichas</strong></p>
                        <p>En las instalaciones de la UTM, Av. Doctor Modesto Seara Vázquez No.1, Acatlima, Heroica Ciudad de Huajuapan de León, Oax. Tel 01 953 53 22933 ext. 300<br />
                        Oficinas en Oaxaca, Pino Suárez 509, Col. Centro, Tel. (951) 132 69 58<br />
                        Horario de 9-14 hrs. y de 16-19 hrs. <br><a href="/assets/pdf/TarifasPorServiciosEducativos.pdf" target="_blank">Tarifas por servicios educativos</a></p>
                        
        
                        <p><strong>Universidad Virtual</strong></p>
                        <p style="margin-bottom:-20px;" >Maestría en Ciencia de Datos</p>
                        <ul>
                        <p style="margin-bottom: -20px;"><li><a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Más información</a></li></p>
                        <p><li><a href="/assets/pdf/Calendario_Escolar_2023-B_virtual.pdf" target="_blank">Calendario Escolar de la Universidad Virtual</a></li></p>
                    </ul>
                    </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
