<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licenciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Ingenieria en Mecatronica</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
      <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let licenciatura of licenciaturas">
                                        <a 
                                          [ngClass]="{ 'highlight-red': licenciatura.nombre === 'Ingeniería en Mecatrónica' }"
                                          (click)="navigateTo(licenciatura.nombre)">
                                          {{ licenciatura.nombre }}
                                        </a>
                                      </li>   
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let posgrado of posgrados">
                                        <a 
                                          
                                          (click)="navigateTo(posgrado.nombre)">
                                          {{ posgrado.nombre }}
                                        </a>
                                      </li>  
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
    
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Mecatronica</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Mecatronica</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Ingenieria en Mecatronica" typeof="foaf:Image" />
                    </div>

                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                            <ul class="contact-info">
                                                <li><h3>Dr.  {{ datos_carrera.nombre_jefe||'-' }}</h3></li>
                                                <li><i class="fas fa-envelope"></i> {{ datos_carrera.nombre_jefe||'-' }}</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="i === 1">
                                            <div class="mision-content">
                                                <div [innerHTML]="formatText(datos_carrera.mision)"></div>
                                                <ng-container *ngIf="datos_carrera.descripcion_mision">
                                                    <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_mision)"></div>
                                                </ng-container>
                                          </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                            <div class="vision-content">
                                                <div [innerHTML]="formatText(datos_carrera.vision)"></div>
                                                <ng-container *ngIf="datos_carrera.descripcion_vision">
                                                <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_vision)"></div>
                                                </ng-container>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 3">
                                            <div class="objetivo-content">
                                                <div [innerHTML]="formatText(datos_carrera.objetivos)"></div>
                                                <ng-container *ngIf="datos_carrera.descripcion_objetivo">
                                                  <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_objetivo)"></div>
                                                </ng-container>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-ingreso-content">
                                                <div [innerHTML]="formatText(datos_carrera.perfil_ingreso)"></div>

                                              <ul style="list-style-type: none;">
                                                <!-- Mostrar sección de Conocimientos solo si datos_carrera.descripcion_conocimiento_in no es nulo o vacío -->
                                                <ng-container *ngIf="datos_carrera.descripcion_conocimiento_ingreso">
                                                  <li><strong>Conocimientos:</strong></li>
                                                  <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_conocimiento_ingreso)"></div>
                                                </ng-container>
                                              
                                                <!-- Mostrar sección de Habilidades solo si datos_carrera.descripcion_habilidad_in no es nulo o vacío -->
                                                <ng-container *ngIf="datos_carrera.descripcion_habilidad_ingreso">
                                                  <li><strong>Habilidades:</strong></li>
                                                  <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_habilidad_ingreso)"></div>
                                                </ng-container>
                                              
                                                <!-- Mostrar sección de Actitudes y Valores solo si datos_carrera.descripcion_valores_in no es nulo o vacío -->
                                                <ng-container *ngIf="datos_carrera.descripcion_valores_ingreso">
                                                  <li><strong>Actitudes y Valores:</strong></li>
                                                  <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_valores_ingreso)"></div>
                                                </ng-container>
                                              </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <div class="perfil-egreso-content">
                                                <div [innerHTML]="formatText(datos_carrera.perfil_egreso)"></div>
                                                         
                                              <ul style="list-style-type: none;">
                                                <!-- Mostrar sección de Conocimientos solo si datos_carrera.descripcion_conocimiento_in no es nulo o vacío -->
                                                <ng-container *ngIf="datos_carrera.descripcion_conocimiento_egreso">
                                                  <li><strong>Conocimientos:</strong></li>
                                                  <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_conocimiento_egreso)"></div>
                                                </ng-container>
                                              
                                                <!-- Mostrar sección de Habilidades solo si datos_carrera.descripcion_habilidad_in no es nulo o vacío -->
                                                <ng-container *ngIf="datos_carrera.descripcion_habilidad_egreso">
                                                  <li><strong>Habilidades:</strong></li>
                                                  <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_habilidad_egreso)"></div>
                                                </ng-container>
                                              
                                                <!-- Mostrar sección de Actitudes y Valores solo si datos_carrera.descripcion_valores_in no es nulo o vacío -->
                                                <ng-container *ngIf="datos_carrera.descripcion_valores_egreso">
                                                  <li><strong>Actitudes y Valores:</strong></li>
                                                  <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_valores_egreso)"></div>
                                                </ng-container>
                                              </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 6">
                                            <div class="campo-de-accion-content">
                                                <div [innerHTML]="formatText(datos_carrera.campo_accion)"></div>
                                              <ng-container *ngIf="datos_carrera.descripcion_campo">
                                              <div [innerHTML]="formatTextAsList(datos_carrera.descripcion_campo)"></div>
                                              </ng-container>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 7">
                                            <div class="plan-de-estudios-content">
                                                <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse; border: 1px solid #ddd;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px; width: 350px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Cálculo Diferencial e Integral <br />
                                                                            Dibujo Asistido por Computadora <br />
                                                                            Historia del Pensamiento Filosófico <br />
                                                                            Expresión oral y escrita <br />
                                                                            Programación estructurada
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px; width: 350px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Cálculo Vectorial <br />
                                                                            Fundamentos de Probabilidad y Estadística <br />
                                                                            Teoría General de Sistemas <br />
                                                                            Álgebra Lineal <br />
                                                                            Programación Orientada a Objetos
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Ecuaciones Diferenciales <br />
                                                                            Métodos Numéricos <br />
                                                                            Estática <br />
                                                                            Ingeniería de Materiales <br />
                                                                            Electro - Magnetismo
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Métodos matemáticos para Ingeniería <br />
                                                                            Dinámica <br />
                                                                            Mecánica de Materiales <br />
                                                                            Procesos de Manufactura <br />
                                                                            Circuitos Eléctricos I
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Metrología y Transductores <br />
                                                                            Mecanismos <br />
                                                                            Electrónica Digital <br />
                                                                            Circuitos Eléctricos II <br />
                                                                            Electrónica Analógica
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Modelado y Simulación de Sistemas Dinámicos <br />
                                                                            Diseño de Elementos de Máquinas <br />
                                                                            Circuitos Digitales Reconfigurables <br />
                                                                            Mecánica de Fluidos <br />
                                                                            Electrónica de Potencia
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Control Clásico <br />
                                                                            Micro - Controladores <br />
                                                                            Máquinas Eléctricas <br />
                                                                            Neumática e Hidráulica <br />
                                                                            Termodinámica y Transferencia de Calor
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Control Moderno <br />
                                                                            Procesamiento Digital de Señales <br />
                                                                            Diseño Mecatrónico <br />
                                                                            Autómatas Programables <br />
                                                                            Robótica de Manipuladores
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Seminario de Investigación <br />
                                                                            Optativa I <br />
                                                                            Proyecto Integrador de Ingeniería Mecatrónica <br />
                                                                            Optativa II <br />
                                                                            Administración para Ingenieros
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Ecología y Desarrollo Sostenible <br />
                                                                            Manufactura Avanzada <br />
                                                                            Optativa III <br />
                                                                            Formulación y Evaluación de Proyectos <br />
                                                                            Optativa IV
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">Optativas según especialidad</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            <strong>Optativa I</strong> <br />
                                                                            Control Avanzado <br />
                                                                            Elementos Finitos Aplicados a la Ingeniería <br />
                                                                            Fundamentos de Inteligencia Artificial <br />
                                                                            <strong>Optativa II</strong> <br />
                                                                            Control de Máquinas de CD Mediante Convertidores CD-CD <br />
                                                                            Técnicas de Clustering para el Diagnóstico de Procesos <br />
                                                                            Vibraciones Mecánicas <br />
                                                                            <strong>Optativa III</strong> <br />
                                                                            Control de Máquinas de CA <br />
                                                                            Control de Vibraciones Mecánicas <br />
                                                                            Diagnóstico y Supervisión de Procesos <br />
                                                                            <strong>Optativa IV</strong> <br />
                                                                            Administración de la Calidad <br />
                                                                            Nanotecnología <br />
                                                                            Procesamiento Digital de Imágenes <br />
                                                                            Recursos y Necesidades de México <br />
                                                                            Robótica Móvil <br />
                                                                            Tópicos Selectos de Biomecatrónica
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Convocatoria -->
                    <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                        <h2 class="title">Convocatoria</h2>
                        <div class="content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>
                                    <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
