<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licenciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Ingenieria en Mecatronica</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
      <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/licenciatura_estudios_mexicanos.html" target="_blank">Licenciatura en Estudios Mexicanos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica"  class="highlight-red">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_quimica_en_procesos_sostenibles">Ingeniería Química en Procesos Sostenibles</a>
                                      </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
    
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Mecatronica</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Ingenieria en Mecatronica</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Ingenieria en Mecatronica" typeof="foaf:Image" />
                    </div>

                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                            <ul class="contact-info">
                                                <li><h3>Dr. Esther Lugo</h3></li>
                                                <li><i class="fas fa-envelope"></i>jcmecatronica@mixteco.utm.mx</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="i === 1">
                                            <div class="mision-content">
                                            <p>Misión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                          
                                          </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                            <div class="vision-content">
                                                <p>Visión en revisión por parte de las autoridades universitarias correspondientes.</p>
                                              
                                              </div>
                                        </div>
                                        <div *ngIf="i === 3">
                                            <div class="objetivo-content">
                                                <p>Objetivo en revisión por parte de las autoridades universitarias correspondientes.</p>
                                              
                                              </div>
                                        </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-ingreso-content">
                                                <p>El aspirante a la carrera de Ingeniería en Mecatrónica de la UTM, debe poseer:</p>
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Básicos en física, matemáticas y computación.</li>
                                                </ul>
                                                <li><strong>Habilidades:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Creatividad y capacidad analítica.</li>
                                                  <li>Autodidactismo.</li>
                                                  <li>Gusto por las aplicaciones ingenieriles.</li>
                                                  <li>Trabajo en equipo.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <div class="perfil-egreso-content">
                                                <p>El egresado en Ingeniería en Mecatrónica de la UTM, será un profesionista con conocimientos en las áreas de ingeniería mecánica, electrónica, de control y computación, capaz de automatizar procesos, diseñar sistemas mecatrónicos, aplicar herramientas computacionales especializadas, dirigir grupos de trabajo, continuar con estudios de posgrado, así como crear, innovar y adaptar tecnologías con conciencia ambiental y ética profesional que contribuya al desarrollo del país. Poseerá los siguientes:</p>
                                                <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Ciencias básicas, mecánica, electrónica, control y computación para el análisis y desarrollo de productos y Sistemas Mecatrónicos.</li>
                                                </ul>
                                                
                                                <li><strong>Habilidades:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Capacidad para comprender problemas y presentar alternativas de solución mediante el uso de recursos tecnológicos.</li>
                                                  <li>Innovación, mejora y adaptación de la tecnología en proyectos mecatrónicos.</li>
                                                </ul>
                                                
                                                <li><strong>Valores:</strong></li>
                                                <ul class="reduce-spacing">
                                                  <li>Ética profesional y toma de decisiones que favorezcan condiciones dignas de trabajo, salud y seguridad para las personas.</li>
                                                  <li>Conciencia del entorno ecológico y responsabilidad ambiental.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 6">
                                            <div class="campo-de-accion-content">
                                                <p>El Ingeniero en Mecatrónica puede:</p>
                                                <ul class="reduce-spacing">
                                                  <li>Incorporarse con alta competitividad a instituciones o empresas, públicas o privadas, para diseñar, innovar o adaptar tecnologías emergentes.</li>
                                                  <li>Especializarse en áreas como automotriz, bioingeniería, manufactura industrial, robótica, electromecánica y automatización de sistemas industriales.</li>
                                                </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 7">
                                            <div class="plan-de-estudios-content">
                                                <table align="center" style="color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; width: 100%; border-collapse: collapse; border: 1px solid #ddd;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px; width: 350px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Cálculo Diferencial e Integral <br />
                                                                            Dibujo Asistido por Computadora <br />
                                                                            Historia del Pensamiento Filosófico <br />
                                                                            Expresión oral y escrita <br />
                                                                            Programación estructurada
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px; width: 350px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Cálculo Vectorial <br />
                                                                            Fundamentos de Probabilidad y Estadística <br />
                                                                            Teoría General de Sistemas <br />
                                                                            Álgebra Lineal <br />
                                                                            Programación Orientada a Objetos
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Ecuaciones Diferenciales <br />
                                                                            Métodos Numéricos <br />
                                                                            Estática <br />
                                                                            Ingeniería de Materiales <br />
                                                                            Electro - Magnetismo
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Métodos matemáticos para Ingeniería <br />
                                                                            Dinámica <br />
                                                                            Mecánica de Materiales <br />
                                                                            Procesos de Manufactura <br />
                                                                            Circuitos Eléctricos I
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Metrología y Transductores <br />
                                                                            Mecanismos <br />
                                                                            Electrónica Digital <br />
                                                                            Circuitos Eléctricos II <br />
                                                                            Electrónica Analógica
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Modelado y Simulación de Sistemas Dinámicos <br />
                                                                            Diseño de Elementos de Máquinas <br />
                                                                            Circuitos Digitales Reconfigurables <br />
                                                                            Mecánica de Fluidos <br />
                                                                            Electrónica de Potencia
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Control Clásico <br />
                                                                            Micro - Controladores <br />
                                                                            Máquinas Eléctricas <br />
                                                                            Neumática e Hidráulica <br />
                                                                            Termodinámica y Transferencia de Calor
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Control Moderno <br />
                                                                            Procesamiento Digital de Señales <br />
                                                                            Diseño Mecatrónico <br />
                                                                            Autómatas Programables <br />
                                                                            Robótica de Manipuladores
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Seminario de Investigación <br />
                                                                            Optativa I <br />
                                                                            Proyecto Integrador de Ingeniería Mecatrónica <br />
                                                                            Optativa II <br />
                                                                            Administración para Ingenieros
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            Ecología y Desarrollo Sostenible <br />
                                                                            Manufactura Avanzada <br />
                                                                            Optativa III <br />
                                                                            Formulación y Evaluación de Proyectos <br />
                                                                            Optativa IV
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="border: 1px solid #ddd; padding: 10px;">
                                                                <div align="center">
                                                                    <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                        <strong><font color="#410401">Optativas según especialidad</font></strong>
                                                                    </span>
                                                                </div>
                                                                <br />
                                                                <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                                    <span style="background-color:#ffffff;">
                                                                        <span style="display:inline !important;">
                                                                            <strong>Optativa I</strong> <br />
                                                                            Control Avanzado <br />
                                                                            Elementos Finitos Aplicados a la Ingeniería <br />
                                                                            Fundamentos de Inteligencia Artificial <br />
                                                                            <strong>Optativa II</strong> <br />
                                                                            Control de Máquinas de CD Mediante Convertidores CD-CD <br />
                                                                            Técnicas de Clustering para el Diagnóstico de Procesos <br />
                                                                            Vibraciones Mecánicas <br />
                                                                            <strong>Optativa III</strong> <br />
                                                                            Control de Máquinas de CA <br />
                                                                            Control de Vibraciones Mecánicas <br />
                                                                            Diagnóstico y Supervisión de Procesos <br />
                                                                            <strong>Optativa IV</strong> <br />
                                                                            Administración de la Calidad <br />
                                                                            Nanotecnología <br />
                                                                            Procesamiento Digital de Imágenes <br />
                                                                            Recursos y Necesidades de México <br />
                                                                            Robótica Móvil <br />
                                                                            Tópicos Selectos de Biomecatrónica
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Convocatoria -->
                    <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                        <h2 class="title">Convocatoria</h2>
                        <div class="content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>
                                    <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
