<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Servicios Escolares</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
        <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="http://virtual.utm.mx/licenciatura_estudios_mexicanos.html" target="_blank">Licenciatura en Estudios Mexicanos (modalidad virtual)</a>
                                  </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                        </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" class="highlight-red" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
    

    <div class="content-container">
        <div class="region region-content">
            <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
                <div class="content">
                    <h1 class="title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">Servicios Escolares</span>
                    </h1>
                </div>
            </div>

            <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
                <div class="node__container">
                    <div class="node__main-content clearfix">
                        <header class="node__header">
                            <h2 class="node__title title sr-only">
                                <span class="field field--name-title field--type-string field--label-hidden">Servicios Escolares</span>
                            </h2>
                        </header>

                        <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                            <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Servicios Escolares" typeof="foaf:Image" />
                        </div>

                        <div class="accordion-container">
                            <div class="panel-group">
                                <div *ngFor="let panel of panels; let i = index" class="panel">
                                    <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                        <div class="panel-title">
                                            {{ panel.title }}
                                        </div>
                                    </div>
                                    <div class="panel-collapse" *ngIf="isOpen(i)">
                                        <div class="panel-body">

                                       
                                            <div *ngIf="i === 0">
                                                <style>
                                                .avisos a {
                                                    text-decoration: none; /* Elimina el subrayado del enlace */
                                                    color: #4a1110; /* Color del texto del enlace */
                                                    display: inline-block;
                                                    margin-bottom: -5px;
                                                    
                                                }
                                                .avisos a:hover{
                                                    text-decoration: none;
                                                }
                                                
                                                .avisos ul{
                                                    color: #000;
                                                }
                                                 .avisos h1 {
                                                    font-size: 26px; 
                                                 }                                                
                                            </style>
                                                <div class="avisos">
                                                <ul>
                                                <li><h1>Iniciamos nuestro Proceso de Ingreso.</h1></li>
                                            </ul>


                                                <li style="list-style-type: circle; margin-left: 50px;"><a href="javascript:void(0)">Consulta el Cronograma de <strong>PROCESOS ESCOLARES</strong> Enero-Mayo 2024</a></li>
                                                <li style="list-style-type: circle; margin-left: 50px;"><a href="javascript:void(0)">Consulta el Cronograma de <strong>PROCESOS ESCOLARES</strong> Junio-Diciembre 2024</a></li>
                                            </div>
                        
                                            </div>
                                            <div *ngIf="i === 1">
                                                <div class="content">
                                                    <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                        <p>
                                                            <iframe class="pdf-viewer" src="/assets/pdf/2023-2024.pdf" lang="en" width="100%" height="600px"></iframe>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                         <div *ngIf="i === 2">
                                            <img src="assets/images/Convocatoria.jpg" alt="Descripción de la imagen" width="700" height="800">

                                         </div>
                                         <div *ngIf="i === 3">
                                            <style>
                                            .inscripciones ul{
                                                text-decoration: none;
                                            }
                                            .inscripciones a{
                                                text-decoration: none;
                                                color:#4a1110;
                                            }
                                            </style>
                                        <div class="inscripciones">
                                            <ul>
                                            <li><a href="assets/pdf/Instrucciones_reinscripciones_2024-B.pdf" target="_blank">Procedimiento de Reinscripción a Licenciatura</a><br></li>

                                        <li><a href="assets/pdf/solicitud_de_reinscripcion_UTM.pdf" target="_blank">Solicitud de Reinscripción a Licenciatura</a><br></li>
                                        <li><a href="assets/pdf/solicitud_de_reinscripcion_CONDICIONADA.pdf" target="_blank">Solicitud de Reinscripción Condicionado</a><br></li>
                                        
                                        <li><a href="assets/pdf/SOLICITUD_INSCRIPCION-REINSCRIPCION_POR_MATERIAS.pdf" target="_blank">Solicitud de Inscripción/Reinscripción por materias</a><br><br><br><br></li>

                                    <li><a href="assets/pdf/reinscripciones_2024-B_Posgrado.pdf" target="_blank">Procedimiento de Reinscripción a Posgrado</a><br></li>

                                <li><a href="assets/pdf/FORMATO_REINSCRIPCION_POSGRADO.pdf" target="_blank">Solicitud de Reinscripción a Posgrado</a><br><br><br><br></li>

                            <li><a href="javascript:void(0)">Solicitud de Inscripción a Licenciatura</a><br></li>

                            <li><a href="FORMATO_INSCRIPCION_POSGRADO.pdf">Solicitud de Inscripción a Posgrado</a><br><br><br><br></li>
                        </ul>
                        </div>
                                         </div>
                                         <div *ngIf="i === 4">
                                            <p>Solicitudes de Becas en Revision por las autoridades universitarias</p>
                                        </div>
                                        <div *ngIf="i === 5">
                                           
                                            <p><strong>Exámenes Extraordinarios</strong></p>
                                            <p>Del 04 al 11 de julio de 2024.</p>
                                            <p>Del 20 al 27 de septiembre de 2024.</p>
                                            <h2>Examen Especial</h2>
                                            <p>08 y 09 de octubre de 2024.</p>
  
                                            <h2><a href="javascript:void(0);">Formato de solicitud de examen extraordinario</a></h2>


                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
