<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
    <!-- Barra de Navegación (Breadcrumb) -->
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/nuestra_universidad">
                    <span>Nuestra Universidad</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Modelo Educativo</span>
            </li>
        </ol>
    </nav>
  </div>
  <div class="wrapper">
    <div class="region-sidebar-first">
        <!-- Menú lateral -->
        <nav role="navigation" aria-labelledby="block-menunuestrauniversidad-menu" id="block-menunuestrauniversidad" class="clearfix block block-menu navigation menu--menu-nuestra-universidad">
            <h2 class="visually-hidden" id="block-menunuestrauniversidad-menu">Menú Lateral</h2>
            <ul class="menu">
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/que_es_la_utm" data-drupal-link-system-path="node/26">¿Qué es la UTM?</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/historia" data-drupal-link-system-path="node/25">Historia</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/modelo_educativo" data-drupal-link-system-path="node/24" class="highlight-red">Modelo Educativo</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/premios_reconocimientos" data-drupal-link-system-path="node/23">Premios & Reconocimientos</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/estructura_general" data-drupal-link-system-path="node/22">Estructura General</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/legislacion_universitaria" data-drupal-link-system-path="node/21">Legislación Universitaria</a>
                </li>
                <li class="menu-item menu-item--active-trail">
                    <a href="/home/nuestra_universidad/correo_electronico" data-drupal-link-system-path="node/401" class="is-active">Correo electrónico</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/contacto" data-drupal-link-system-path="node/406">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
  <div class="region region-content">
      <div id="block-suneo-umar-page-title" class="clearfix block block-core block-page-title-block">
          <div class="content">
              <div class="content-container">
                  <h1 class="title page-title">
                      <span class="field field--name-title field--type-string field--label-hidden">Modelo Educativo</span>
                  </h1>
              </div>
          </div>
      </div>
  
      <article data-history-node-id="13" role="article" class="node node--type-pagina-nuestra-universidad node--view-mode-full clearfix">
          <div class="node__container">
              <div class="node__main-content clearfix">
                  <header class="node__header">
                      <h2 class="node__title title sr-only">
                          <span class="field field--name-title field--type-string field--label-hidden">Modelo Educativo</span>
                      </h2>
                  </header>
                  <div class="image-container">
                      <div class="field field--name-field-portada-nuestra-universida field--type-image field--label-hidden field__item">
                          <img loading="lazy" src="/assets/images/UTM-Modelo.png" width="1140" height="450" alt="Modelo Educativo" />
                      </div>
                  </div>
                  <div class="text-container clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                      <p> </p>
                      <p>La Universidad Tecnológica de la Mixteca es un organismo público descentralizado del gobierno del estado de Oaxaca, fundada por decreto del ejecutivo estatal, el cual fue publicado en el diario oficial, el día 18 de junio de 1990. Su creación responde a la múltiple finalidad de ofrecer oportunidades de formación científica y tecnológica relevantes y de calidad a quienes deseen proseguir estudios superiores, desalentar la emigración de los jóvenes oaxaqueños, coadyuvar en el desarrollo de proyectos que activen la economía y creen empleo, así como abrir espacios de cultura que hagan extensivos los beneficios del conocimiento a la población en general.</p>
                      <p><strong>Misión</strong></p>
                      <p>Servir como instrumento para transformar la sociedad, formando profesionistas de alta calidad, realizando investigaciones que permitan la mejor explotación de los valores de nuestra sociedad y fomentando el desarrollo económico y social de Oaxaca y México.</p>
                      <p><strong>Visión</strong></p>
                      <p>Mantener y reforzar el liderazgo de la Universidad Tecnológica de la Mixteca en el ámbito académico de la enseñanza y la investigación para que siga siendo motor de transformación.</p>
                      <p>La UTM se crea con un nuevo modelo de universidad cuyos criterios básicos de funcionamiento están referidos a la calidad académica para el desarrollo de sus funciones sustantivas de docencia, investigación, difusión de la cultura y promoción al desarrollo. Dicho modelo comprende una dedicación de tiempo completo a los estudios de licenciatura y de posgrado, por parte de estudiantes y profesores, los cuales interactúan en diversas actividades académicas como las clases teóricas, las prácticas de campo y laboratorio, las actividades programadas en salas de cómputo, biblioteca y laboratorios de idiomas.</p>
                      <p>Es una política permanente de la universidad la de garantizar las mejores condiciones de infraestructura para el adecuado desempeño académico de estudiantes y profesores, de tal forma que actualmente la UTM cuenta con instalaciones amplias, modernas y completamente equipadas conforme a las áreas de formación profesional y de investigación que realiza.</p>
                      <p>En los planes y programas de estudio de licenciatura y de postgrado se establece un equilibrio entre la formación teórica y la práctica, se tienen disponibles talleres especializados como los de plásticos, madera y metal, mecánica, procesamiento de alimentos, electrónica, cerámica y serigrafía, así como laboratorios de física, química y telecomunicaciones, además de salas de idiomas de auto-acceso.</p>
                      <p>Los estudiantes cuentan con el apoyo del programa de becas de colegiatura, el cual, considerando la situación económica de los mismos y su desempeño académico, excenta total o parcialmente del pago correspondiente a este concepto. Este programa es de amplia cobertura, ya que más del 90% de los alumnos inscritos en la universidad tiene apoyo de este programa, por lo que ningún joven con interés por el estudio, deja de tener acceso a nuestra casa de estudios por razones económicas.</p>
                  </div>
              </div>
          </div>
      </article>
  </div>
  