<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/">
                    <span>Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="/home/investigacion/institutos_de_investigacion/">
                    <span>Institutos de Investigación</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Instituto de Diseño</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
    <section class="sidebar__section sidebar-first clearfix fade" data-animate-effect="fadeInLeft">
        <div class="region region-sidebar-first">
            <!-- Menú lateral -->
            <nav role="navigation" aria-labelledby="block-menuinvestigacion-menu" id="block-menuinvestigacion" class="clearfix block block-menu navigation menu--menu-investigacion">
                <h4 class="visually-hidden" id="block-menuinvestigacion-menu">Menú-Investigación</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/investigacion/institutos_de_investigacion" data-drupal-link-system-path="node/72" class="is-active">Institutos de Investigación</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/investigacion/institutos_de_investigacion/puerto_escondido" data-drupal-link-system-path="node/74">Hujuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_computacion" data-drupal-link-system-path="node/77">Instituto de Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_electronica_y_mecatronica" data-drupal-link-system-path="node/77">Instituto de Electrónica y Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_diseno" data-drupal-link-system-path="node/77">Instituto de Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_fisica_y_matematicas" data-drupal-link-system-path="node/77">Instituto de Física y Matemáticas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ciencias_sociales_y_humanidades" data-drupal-link-system-path="node/77">Instituto de Ciencias Sociales y Humanidades</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_agroindustrias" data-drupal-link-system-path="node/77">Instituto de Agroindustrias</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_hidrologia" data-drupal-link-system-path="node/77">Instituto de Hidrología</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_mineria" data-drupal-link-system-path="node/77">Instituto de Minería</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/instituto_de_ingenieria_industrial_y_automotriz" data-drupal-link-system-path="node/77">Instituto de Ingeniería Industrial y Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/investigacion/institutos_de_investigacion/centro_de_estudios_de_nuevos_materiales" data-drupal-link-system-path="node/77">Centro de Estudios de Nuevos Materiales</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/investigacion/productos_de_la_investigacion" data-drupal-link-system-path="node/73">Productos de la Investigación</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
<!-- Nueva sección del Instituto de Diseño -->
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Instituto de Diseño
                </span></h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" about="/home/investigacion/institutos_de_investigacion/instituto_de_diseno" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Instituto de Diseño
                            </span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/disenio2.jpeg" width="1140" height="450" alt="Instituto de Diseño" typeof="foaf:Image" />
                    </div>

                    <div class="text-container text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <p>El Instituto de Diseño se crea en 1991, un año posterior a la formación de la Universidad Tecnológica de la Mixteca.</p>
                        
                        <h3>Objetivo General</h3>
                        <p>Realizar investigación científica y tecnológica en diversas áreas del diseño, que contribuya al desarrollo en la región y en consecuencia, en el estado de Oaxaca y en México.</p>
                        
                        <h3>Objetivos Específicos</h3>
                        <ul>
                            <li>Proporcionar el desarrollo de las comunidades de Oaxaca mediante proyectos de diseño basados en la identificación de necesidades específicas.</li>
                            <li>Formar profesionistas que den solución integral a problemas de la sociedad contemporánea a través del desarrollo de objetos y espacios, así como de comunicar visualmente las necesidades y el sentir comunitario a través de sus creaciones.</li>
                        </ul>
                        
                        <h3>Actividades más importantes</h3>
                        <p>Las actividades que realiza este instituto se encuentran clasificadas en 4 categorías:</p>
                        <ul>
                            <li><strong>INVESTIGACIÓN:</strong> Investigación básica y aplicada en distintas áreas del diseño.</li>
                            <li><strong>PROMOCIÓN AL DESARROLLO:</strong> Desarrollo de proyectos, asesorías técnicas y cursos de capacitación en:
                                <ul>
                                    <li>Ingeniería Civil.</li>
                                    <li>Arquitectura.</li>
                                    <li>Diseño Industrial.</li>
                                    <li>Diseño Gráfico.</li>
                                    <li>Ingeniería en Diseño.</li>
                                    <li>Ingeniería Textil.</li>
                                    <li>Ingeniería Mecánica.</li>
                                    <li>Ciencias y Materiales Cerámicos.</li>
                                </ul>
                            </li>
                            <li><strong>DIFUSIÓN CULTURAL:</strong> Mediante:
                                <ul>
                                    <li>Evento bianual de diseño.</li>
                                    <li>Apoyo a las exposiciones de la semana de la cultura mixteca.</li>
                                    <li>Apoyo a los institutos de la universidad en sus eventos anuales.</li>
                                </ul>
                            </li>
                            <li><strong>APOYO AL SISTEMA DE UNIVERSIDADES ESTATALES DE OAXACA (SUNEO):</strong> De la siguiente forma:
                                <ul>
                                    <li>Diseño de proyectos ejecutivos (diseño espacial).</li>
                                    <li>Diseño industrial: mobiliario y señalización.</li>
                                    <li>Diseño gráfico: imagen corporativa, diseño editorial y multimedia.</li>
                                    <li>Pruebas de resistencia de materiales.</li>
                                    <li>Levantamientos topográficos.</li>
                                    <li>Apoyo en el diseño de la Primera Reunión Estatal de Investigación.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
