<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="content">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <a href="/home/ensenanza/">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <a href="/home/ensenanza/posgrados">
                    <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                    <span>Posgrados</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Huajuapan de Leon</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
        <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_quimica_en_procesos_sostenibles">Ingeniería Química en Procesos Sostenibles</a>
                                      </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58" class="highlight-red">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_de_datos">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
    
<!--Aquí comienza el resto de la página-->

<div class="main-content">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title" class="block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">Huajuapan de Leon</h1>
            </div>
        </div>
    </div>

<!--Aquí van las imágenes de enlaces-->

<div class="views-element-container clearfix block block-views block-views-blockvista-nuestra-universidad-block-1" id="block-views-block-vista-nuestra-universidad-block-1">
    <div class="content">
        <div class="cards-grid view view-vista-nuestra-universidad view-id-vista_nuestra_universidad view-display-id-block_1 js-view-dom-id-2d5d65fe762e84bd8aeab2d3a11955b56857df25ece17453c89145a3fa9ff320">
            <div class="view-content">
                <div class="views-view-grid">
                    <div class="views-row">
                        
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios" hreflang="es">Maestría en Administración de Negocios</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales" hreflang="es">Maestría en Ciencias de Materiales</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion" hreflang="es">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas" hreflang="es">Maestría en Diseño de Modas</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles" hreflang="es">Maestría en Diseño de Muebles</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes" hreflang="es">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software" hreflang="es">Maestría en Ingeniería de Software</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial" hreflang="es">Maestría en Inteligencia Artificial</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos" hreflang="es">Maestría en Medios Interactivos</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica" hreflang="es">Maestría en Modelación Matemática</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_robotica" hreflang="es">Maestría en Robótica</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura" hreflang="es">Maestría en Tecnología Avanzada de Manufactura</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/maestria_en_ciencias_de_datos" hreflang="es">Maestría en Ciencia de Datos (modalidad virtual)</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/doctorado_en_ciencias_productos_naturales_alimentos" hreflang="es">Doctorado en Ciencias: Productos Naturales y Alimentos</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados" hreflang="es">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial" hreflang="es">Doctorado en Inteligencia Artificial</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica" hreflang="es">Doctorado en Modelación Matemática</a>
                        </div>
                        
                        <div class="image-card">
                            <img src="/assets/images/UTM.png" class="img-fluid" />
                            <a href="/home/ensenanza/posgrados/doctorado_en_robotica" hreflang="es">Doctorado en Robótica</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

