<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza/licenciaturas">
                    <span>Licenciaturas</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Licenciatura en Ciencias Empresariales</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
       <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_computacion">Ingeniería en Computación</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_electronica">Ingeniería en Electrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_diseno">Ingeniería en Diseño</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_ciencias_empresariales" class="highlight-red">Licenciatura en Ciencias Empresariales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/licenciatura_en_matematicas_aplicadas">Licenciatura en Matemáticas Aplicadas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_alimentos">Ingeniería en Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_industrial">Ingeniería Industrial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/licenciatura_estudios_mexicanos.html" target="_blank">Licenciatura en Estudios Mexicanos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecatronica">Ingeniería en Mecatrónica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_fisica_aplicada">Ingeniería en Física Aplicada</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_en_mecanica_automotriz">Ingeniería Mecánica Automotriz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/licenciaturas/ingenieria_civil">Ingeniería Civil</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_administracion_negocios">Maestría en Administración de Negocios</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_materiales">Maestría en Ciencias de Materiales</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_productos_naturales_alimentacion">Maestría en Ciencias: Productos Naturales y Alimentos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_modas">Maestría en Diseño de Modas</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_diseno_muebles">Maestría en Diseño de Muebles</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_electronica_en_sistemas_inteligentes">Maestría en Electrónica Opción en Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ingenieria_de_software">Maestría en Ingeniería de Software</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_inteligencia_artificial">Maestría en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_medios_interactivos">Maestría en Medios Interactivos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_modelacion_matematica">Maestría en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_robotica">Maestría en Robótica</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_tecnologia_avanzada_de_manufactura">Maestría en Tecnología Avanzada de Manufactura</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/maestria_en_ciencias_de_datos">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="http://virtual.utm.mx/maestria_ciencia_datos.html" target="_blank">Maestría en Ciencia de Datos (modalidad virtual)</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_electronica_especialidad_sistemas_inteligentes_aplicados">Doctorado en Electrónica Especialidad Sistemas Inteligentes Aplicados</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_inteligencia_artificial">Doctorado en Inteligencia Artificial</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_modelacion_matematica">Doctorado en Modelación Matemática</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/home/ensenanza/posgrados/doctorado_en_robotica">Doctorado en Robótica</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
 
<div class="content-container">
    <div class="region region-content">
        <div id="block-suneo-umar-page-title-ifm" class="clearfix block block-core block-page-title-block">
            <div class="content">
                <h1 class="title page-title">
                    <span class="field field--name-title field--type-string field--label-hidden">Licenciatura en Ciencias Empresariales</span>
                </h1>
            </div>
        </div>

        <article data-history-node-id="78" role="article" class="node node--type-pagina-inv-cpe node--view-mode-full clearfix">
            <div class="node__container">
                <div class="node__main-content clearfix">
                    <header class="node__header">
                        <h2 class="node__title title sr-only">
                            <span class="field field--name-title field--type-string field--label-hidden">Licenciatura en Ciencias Empresariales</span>
                        </h2>
                    </header>

                    <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                        <img loading="lazy" src="/assets/images/InstAgroindustrias.jpeg" width="1140" height="450" alt="Licenciatura en Ciencias Empresariales" typeof="foaf:Image" />
                    </div>

                    <div class="accordion-container">
                        <div class="panel-group">
                            <div *ngFor="let panel of panels; let i = index" class="panel">
                                <div class="panel-heading" (click)="toggle(i)" [class.active]="isOpen(i)">
                                    <div class="panel-title">
                                        {{ panel.title }}
                                    </div>
                                </div>
                                <div class="panel-collapse" *ngIf="isOpen(i)">
                                    <div class="panel-body">
                                        <div *ngIf="i === 0">
                                            <ul class="contact-info">
                                                <li><h3>Lic. Francisca Adriana Sánchez Meza</h3></li>
                                                <li><i class="fas fa-envelope"></i>jcempresariales@mixteco.utm.mx</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="i === 1">
                                            <div class="mision-content">
                                                <p>Formar profesionales con habilidades y competencias necesarias para emprender proyectos de negocios y/o dirigir organizaciones bajo una visión integradora, global y estratégica; capaces de aplicar con ética, conocimientos administrativos, contables, financieros y de mercadotecnia, basados en la experiencia transmitida por los profesores investigadores, así como en actividades de vinculación con el sector empresarial e infraestructura óptima, que contribuyan al desarrollo sustentable de la región, del estado y del país.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 2">
                                            <div class="vision-content">
                                                <p>Ser una licenciatura comprometida con la excelencia académica; líder en el desarrollo empresarial, coadyuvante de la formación de directivos y empresarios capaces de satisfacer las necesidades de mejora continua que demanda la sociedad.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 3">
                                            <div class="objetivo-content">
                                                <p>Formar profesionistas altamente calificados, competitivos, visionarios con sólidos valores, sensibles a las necesidades sociales y de su entorno, comprometidos a contribuir con su conocimiento al desarrollo de la región y del estado.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 4">
                                            <div class="perfil-ingreso-content">
                                                <p>El aspirante a la Licenciatura en Ciencias Empresariales deberá contar preferentemente con los siguientes conocimientos, habilidades, actitudes y valores:</p>
                                                 <ul style="list-style-type: none;">
                                                <li><strong>Conocimientos en:</strong></li>
                                                <ul>
                                                  <li>Administración, contabilidad, economía, derecho y álgebra básica.</li>
                                                </ul>
                                          
                                                <li><strong>Habilidades para:</strong></li>
                                                <ul>
                                                  <li>Realizar planteamientos y análisis de casos empresariales.</li>
                                                  <li>Administración de su tiempo.</li>
                                                  <li>Realizar trabajo en equipo con personas de su misma formación.</li>
                                                  <li>Realizar trabajo interdisciplinario.</li>
                                                </ul>
                                          
                                                <li><strong>Actitudes y Valores:</strong></li>
                                                <ul>
                                                  <li>Compromiso.</li>
                                                  <li>Responsabilidad.</li>
                                                  <li>Honestidad.</li>
                                                  <li>Perseverancia.</li>
                                                </ul>
                                            </ul>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 5">
                                            <div class="perfil-egreso-content">
                                                <p>El egresado de la Licenciatura en Ciencias Empresariales tendrá la capacidad para iniciar una empresa y/o gestionar una existente. De Identificar oportunidades de negocios, de proponer y emprender responsablemente proyectos en beneficio de su entorno. Además, su formación integral, conocimientos, habilidades, actitudes y valores le permitirá:</p>
                                                
                                                <ul class="reduce-spacing">
                                                  <li>Identificar y evaluar oportunidades de negocio con una actitud emprendedora.</li>
                                                  <li>Desarrollar y evaluar proyectos de inversión con ética y responsabilidad social.</li>
                                                  <li>Crear, dirigir, desarrollar y/o consolidar empresas desde una perspectiva creativa e innovadora.</li>
                                                  <li>Tomar decisiones efectivas en el manejo y la aplicación de los recursos.</li>
                                                  <li>Dirigir grupos multidisciplinarios, motivar a las personas y resolver conflictos interpersonales.</li>
                                                  <li>Coordinar y realizar negociaciones efectivas necesarias para solución de problemas específicos y el logro de objetivos empresariales.</li>
                                                  <li>Diseñar e implementar estrategias para lograr la competitividad.</li>
                                                  <li>Coadyuvar en el desarrollo regional y sustentable bajo una perspectiva global.</li>
                                                  <li>Propiciar la productividad y rentabilidad de la empresa con un enfoque de servicio al cliente, desarrollo organizacional y mejora de la calidad de vida en el trabajo.</li>
                                                </ul>
                                                
                                              </div>
                                        </div>
                                        <div *ngIf="i === 6">
                                            <div class="campo-de-accion-content">
                                                <p>El Licenciado en Ciencias Empresariales tiene conocimientos, habilidades y aptitudes para desempeñarse en la iniciativa privada, el sector público, en instituciones educativas como docente y centros de investigación. Además, tiene la capacidad para conducir una empresa existente e iniciar una nueva.</p>
                                              </div>
                                        </div>
                                        <div *ngIf="i === 7">
                                            <div class="plan-de-estudios-content">
                                                <table align="center" style="border-collapse: collapse; width: 100%; color: rgb(0, 0, 0); font-style: normal; font-weight: 400; text-align: start; white-space: normal; text-decoration: none; border: 1px solid #d3d3d3;">
                                                  <tbody>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">PRIMER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Matemáticas para Ciencias Empresariales <br />
                                                              Introducción a las Ciencias Administrativas <br />
                                                              Introducción a la Contabilidad <br />
                                                              Historia del Pensamiento Filosófico <br />
                                                              Informática Empresarial
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 350px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEGUNDO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Probabilidad y Estadística Descriptiva <br />
                                                              Administración de Recursos Humanos I <br />
                                                              Contabilidad Financiera <br />
                                                              Teoría General de Sistemas <br />
                                                              Introducción al Derecho
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">TERCER SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Estadística Inferencial <br />
                                                              Administración de Recursos Humanos II <br />
                                                              Administración de Compras e Inventarios <br />
                                                              Contabilidad de Costos <br />
                                                              Derecho Mercantil
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">CUARTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Fundamentos de la Mercadotecnia <br />
                                                              Matemáticas Financieras <br />
                                                              Microeconomía <br />
                                                              Metodología de la Investigación <br />
                                                              Derecho Laboral
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">QUINTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Administración de Sueldos y Salarios <br />
                                                              Finanzas Empresariales I <br />
                                                              Macroeconomía <br />
                                                              Taller de Metodología de la Investigación <br />
                                                              Derecho Fiscal
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SEXTO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Desarrollo Sustentable y Empresa <br />
                                                              Finanzas Empresariales II <br />
                                                              Investigación de Mercados <br />
                                                              Economía Internacional <br />
                                                              Sistemas de Información Gerencial
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">SÉPTIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Investigación de Operaciones <br />
                                                              Planeación Estratégica <br />
                                                              Administración Estratégica de Ventas <br />
                                                              Sistema Financiero <br />
                                                              Economía del Sector Público Mexicano
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">OCTAVO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Desarrollo Organizacional <br />
                                                              Dirección Comercial <br />
                                                              Emprendedurismo <br />
                                                              Presupuestos <br />
                                                              Desarrollo Regional
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">NOVENO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Cultura Empresarial <br />
                                                              Gestión de la Calidad <br />
                                                              Emprendimiento de Negocios <br />
                                                              Finanzas corporativas <br />
                                                              Comercio Exterior
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                      <td style="border: 1px solid #d3d3d3; padding: 10px; width: 400px;">
                                                        <div align="center">
                                                          <span style="font-size:12px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                            <strong><font color="#410401">DÉCIMO SEMESTRE</font></strong>
                                                          </span>
                                                        </div>
                                                        <br />
                                                        <span style="font-size:12px; text-align:start; color:#000000; font-family:Arial, Helvetica, sans-serif;">
                                                          <span style="background-color:#ffffff;">
                                                            <span style="display:inline !important;">
                                                              Dirección y liderazgo <br />
                                                              Estrategia Publicitaria y Promocional <br />
                                                              Desarrollo y Evaluación de Proyectos de Inversión <br />
                                                              Toma de Decisiones Financieras <br />
                                                              Mercadotecnia Digital
                                                            </span>
                                                          </span>
                                                        </span>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                              
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Convocatoria -->
                    <div id="block-bloqueconvocatoriapdf" class="clearfix block block-block-content block-block-content1e85b51b-15f3-42e6-89f4-6b6fe1df8ee9">
                        <h2 class="title">Convocatoria</h2>
                        <div class="content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p>
                                    <iframe class="pdf-viewer" src="/assets/pdf/Convocatoria.pdf" lang="en" width="100%" height="600px"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
