<div class="content">
  <!-- Barra de navegación (breadcrumb) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
      <h2 id="system-breadcrumb" class="visually-hidden"></h2>
      <ol class="breadcrumb__items">
          <li class="breadcrumb__item">
              <a href="/home/web/">
                  <span>Inicio</span>
              </a>
          </li>
          <li class="breadcrumb__item">
              <span class="breadcrumb__item-separator fa fa-angle-right"></span>
              <a href="/home/nuestra_universidad">
                  <span>Nuestra Universidad</span>
              </a>
          </li>
          <li class="breadcrumb__item">
              <span class="breadcrumb__item-separator fa fa-angle-right"></span>
              <span>Legislación Universitaria</span>
          </li>
      </ol>
  </nav>
</div>
<div class="wrapper">
    <div class="region-sidebar-first">
        <!-- Menú lateral -->
        <nav role="navigation" aria-labelledby="block-menunuestrauniversidad-menu" id="block-menunuestrauniversidad" class="clearfix block block-menu navigation menu--menu-nuestra-universidad">
            <h2 class="visually-hidden" id="block-menunuestrauniversidad-menu">Menú Lateral</h2>
            <ul class="menu">
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/que_es_la_utm" data-drupal-link-system-path="node/26">¿Qué es la UTM?</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/historia" data-drupal-link-system-path="node/25">Historia</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/modelo_educativo" data-drupal-link-system-path="node/24">Modelo Educativo</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/premios_y_reconocimientos" data-drupal-link-system-path="node/23">Premios & Reconocimientos</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/estructura_general" data-drupal-link-system-path="node/22">Estructura General</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/legislacion_universitaria" data-drupal-link-system-path="node/21" class="highlight-red">Legislación Universitaria</a>
                </li>
                <li class="menu-item menu-item--active-trail">
                    <a href="/home/nuestra_universidad/correo_electronico" data-drupal-link-system-path="node/401" class="is-active">Correo electrónico</a>
                </li>
                <li class="menu-item">
                    <a href="/home/nuestra_universidad/contacto" data-drupal-link-system-path="node/406">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
<div class="region region-content">
  <div id="block-suneo-umar-page-title" class="clearfix block block-core block-page-title-block">
      <div class="content">
          <h1 class="title page-title">
              <span class="field field--name-title field--type-string field--label-hidden">Legislación Universitaria</span>
          </h1>
      </div>
  </div>

  <article data-history-node-id="16" role="article" class="node node--type-pagina-nuestra-universidad node--view-mode-full clearfix">
      <div class="node__container">
          <div class="node__main-content clearfix">
              <header class="node__header">
                  <h2 class="node__title title sr-only">
                      <span class="field field--name-title field--type-string field--label-hidden">Legislación Universitaria</span>
                  </h2>
              </header>
              <div class="image-container">
                  <div class="field field--name-field-portada-nuestra-universida field--type-image field--label-hidden field__item">
                      <img loading="lazy" src="/assets/images/UTM-Legislacion.png" width="1140" height="450" alt="Legislación Universitaria" />
                  </div>
              </div>
              <div class="text-container clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                  <p></p>
                  <p>Decretos</p>
                  <ul>
                      <li><a href="assets/pdf/Decreto_de_Creacion_UTM.pdf" target="_blank">Decreto de Creación</a></li>
                      <li><a href="assets/pdf/AcuerdoCodigoDeEticaDelPoderEjecutivo_Edo_Oax-Reglas_Int-Lineam_Grales-POGEO24-04-19.pdf" target="_blank">Decreto del Código de Ética</a></li>
                  </ul>
                  <p>Reglamentos</p>
                  <ul>
                      <li><a href="assets/pdf/9_ALMACEN.pdf" target="_blank">Reglamento de Almacén</a></li>
                      <li><a href="assets/pdf/Reglamento_de_Alumnos_2010.pdf" target="_blank">Reglamento de Licenciatura 2010</a></li>
                      <li><a href="assets/pdf/REGLAMENTO_ALUMNOS_2012.pdf" target="_blank">Reglamento de Licenciatura 2012</a></li>
                      <li><a href="assets/pdf/REGLAMENTO_LICENCIATURA_UTM.pdf" target="_blank">Reglamento de Licenciatura 2016</a></li>
                      <li><a href="assets/pdf/5_BIBLIOTE.pdf" target="_blank">Reglamento de Biblioteca</a></li>
                      <li><a href="assets/pdf/3_ESTIMULO.pdf" target="_blank">Reglamento de Estímulos a la Carrera Académica</a></li>
                      <li><a href="assets/pdf/14_EXA-PRO.pdf" target="_blank">Reglamento de Exámenes Profesionales</a></li>
                      <li><a href="assets/pdf/8_CASA-HAB.pdf" target="_blank">Reglamento de las Casas Habitación</a></li>
                      <li><a href="assets/pdf/7_SALA-COM.pdf" target="_blank">Reglamento de las Salas de Cómputo</a></li>
                      <li><a href="assets/pdf/6_TALLERES.pdf" target="_blank">Reglamento de Talleres</a></li>
                      <li><a href="assets/pdf/16_LAB-QUIM.pdf"target="_blank">Reglamento de Trabajo del Laboratorio de Química</a></li>
                      <li><a href="assets/pdf/13_COMITad.pdf" target="_blank">Reglamento del Comité de Adquisiciones</a></li>
                      <li><a href="assets/pdf/1_CONS-ACA.pdf" target="_blank">Reglamento del Consejo Académico</a></li>
                      <li><a href="assets/pdf/15_RED-UTM.pdf" target="_blank">Reglamento del Uso de la Red de Cómputo</a></li>
                      <li><a href="assets/pdf/REGLAMENTO_%20FONDO%20DE%20AHORRO%20DE%20LOS%20TRABAJADORES%20DE%20LA%20UTM.pdf" target="_blank">Reglamento Fondo de Ahorro de los Trabajadores de la UTM</a></li>
                      <li><a href="assets/pdf/Reglamento_de_Posgrado_2010.pdf" target="_blank">Reglamento General de Posgrado 2010</a></li>
                      <li><a href="assets/pdf/REGLAMENTO_POSGRADO_UTM.pdf" target="_blank">Reglamento General de Posgrado 2016</a></li>
                      <li><a href="assets/pdf/RIT_UTM_SEC07-03RA-2023-02-18.pdf" target="_blank">Reglamento Interior de Trabajo</a></li>
                      <li><a href="assets/pdf/REGLAMENTO%20INTERIOR%20DE%20TRABAJO-UTM_VFinal(OK).pdf" target="_blank">Reglamento Interior de Trabajo de la Universidad Tecnológica de la Mixteca</a></li>
                      <li><a href="assets/pdf/18_REGLAMENTO_INTERIOR_Y_DE_PROCEDIMIENTOS_DEL_SUBCOMITE_DE_INFORMACION_Y_UNIDAD_DE_ENLACE.pdf" target="_blank">Reglamento Interior y de Procedimientos del Subcomité de Información y Unidad de Enlace</a></li>
                      <li><a href="assets/pdf/REGLAMENTO_INTERNO_UTM.pdf" target="_blank">Reglamento Interno de Trabajo</a></li>
                      <li><a href="assets/pdf/REGLAMENTO%20PARA%20EL%20OTORGAMIENTO_DESPENSA_UTM.pdf" target="_blank">Reglamento para el Otorgamiento de la Despensa UTM</a></li>
                  </ul>
                  <p>Planes</p>
                  <ul>
                      <li><a href="assets/pdf/PLAN_ESTRATEGICO_UTM.pdf" target="_blank">Plan Estratégico Institucional de la Universidad Tecnológica de la Mixteca</a></li>
                  </ul>
                  <p>Códigos</p>
                  <ul>
                      <li><a href="assets/pdf/CODIGO_DE_CONDUCTA_CEPCI-UTM_2019.pdf" target="_blank">Código de Conducta</a></li>
                  </ul>
                  <p>Protocolos</p>
                  <ul>
                      <li><a href="assets/pdf/PROTOCOLO_UTM.pdf" target="_blank">Protocolo para la Prevención, Atención y Sanción de la Violencia de Género en la UTM, aprobado en sesión del H. Consejo Académico de fecha 6 de abril de 2022</a></li>
                      <li><a href="assets/pdf/PROTOCOLO.pdf" target="_blank">Protocolo para la Prevención, Atención y Sanción del Hostigamiento Sexual y/o Acoso Sexual en la Administración Pública Estatal</a></li>
                  </ul>
                  <p>Manuales</p>
                  <ul>
                      <li><a href="assets/pdf/MANUAL_DE_ORGANIZACION_UTM.pdf" target="_blank">Manual de organización</a></li>
                      <li><a href="assets/pdf/MOE2006.pdf" target="_blank">Manual de Organización Específico</a></li>
                      <li><a href="assets/pdf/MANUAL_DE_PROCEDIMIENTOS_UTM.pdf" target="_blank">Manual de Procedimientos</a></li>
                      <li><a href="assets/pdf/MANUAL_PROCEDIMIENTOS_SUSTANTIVOS_UTM_2019'Ago'2021_(POGEO_SEC12-04TA-2022-03-19).pdf" target="_blank">Manual de Procedimientos Sustantivos</a></li>
                      <li><a href="assets/pdf/ORGANIGRAMA_AUTORIZADO_UTM.pdf" target="_blank">Organigrama</a></li>
                  </ul>
                  <p>Otros</p>
                  <ul>
                      <li><a href="assets/pdf/COMISION%20MIXTA_%20ADMIN%20DEL%20FONDO%20DE%20AHORO_%20TRAB%20DE%20LA%20UTM.pdf" target="_blank">Comisión Mixta Administración del Fondo de Ahorro de los Trabajadores de la UTM</a></li>
                      <li><a href="assets/pdf/MARCO%20NORMATIVO%20OPERATIVO_%20PLAN%20PREVISION%20SOCIAL%20_%20UTM.pdf" target="_blank">Marco Normativo Operativo Plan Previsión Social UTM</a></li>
                      <li><a href="assets/pdf/PROCEDIMIENTOquejas-denuncias_incumplir_CE-RI-CC.pdf" target="_blank">Procedimiento para la Recepción y Atención de Quejas y Denuncias</a></li>
                      <li><a href="assets/pdf/Programa_Anual_de_Desarrollo_Archivistico_2020-UTM_Firmas.pdf" target="_blank">Programa Anual de Desarrollo Archivístico PADA UTM 2020</a></li>
                      <li><a href="assets/pdf/PTAR_UTM_2023.pdf" target="_blank">Programa de Trabajo de Administración de Riesgos PTAR UTM 2023</a></li>
                      <li><a href="assets/pdf/PTCI_UTM_2023.pdf" target="_blank">Programa de Trabajo de Control Interno PTCI UTM 2023</a></li>
                      <li><a href="assets/pdf/P_CERO_TOLERANCIA.pdf" target="_blank">Pronunciamiento de "Cero Tolerancia" de la Universidad Tecnológica de la Mixteca</a></li>
                      <li><a href="assets/pdf/Reconocimiento_por_M%C3%A9xico_Eliminaci%C3%B3n%20de%20la%20Discriminaci%C3%B3n%20Racial-Convenci%C3%B3n%20Internacional.pdf" target="_blank">Reconocimiento por parte de México de la Competencia del Comité para la Eliminación de la Discriminación Racial establecida en la Convención Internacional sobre la eliminación de todas las formas de Discriminación Racial</a></li>
                      <li><a href="assets/pdf/Resolucion_69-16_Programa%20de%20actividades%20del%20Decenio%20Internacional%20para%20los%20Afrodescendientes.pdf" target="_blank">Resolución aprobada por la Asamblea General el 18 de noviembre de 2014 No. 69/16. Programa de actividades del Decenio Internacional para los Afrodescendientes</a></li>
                      <li><a href="assets/pdf/A-RES_68-237_ONU-Proclamaci%C3%B3n%20del%20Decenio%20Internacional%20de%20los%20Afrodescendientes.pdf" target="_blank">Resolución aprobada por la Asamblea General el 23 de diciembre de 2013 No. 68/237. Proclamación del Decenio Internacional de los Afrodescendientes</a></li>
                      <li><a href="assets/pdf/Triptico_CodigodeEtica,ReglasdeIntegridadyCodigodeConducta.pdf" target="_blank">Tríptico de Código de Ética</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </article>
</div>
