<div class="content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden"></h2>
        <ol class="breadcrumb__items">
            <li class="breadcrumb__item">
                <a href="/home/web/">
                    <span>Inicio</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <a href="home/ensenanza">
                    <span>Enseñanza</span>
                </a>
            </li>
            <li class="breadcrumb__item">
                <span class="breadcrumb__item-separator fa fa-angle-right"></span>
                <span>Becas</span>
            </li>
        </ol>
    </nav>
</div>

<div class="wrapper">
       <div class="region region-sidebar-first">
            <nav role="navigation" aria-labelledby="block-menuensenanza-menu" id="block-menuensenanza" class="clearfix block block-menu navigation menu--menu-ensenanza">
                <h4 class="visually-hidden" id="block-menuensenanza-menu">Menú-Enseñanza</h4>
                <ul class="clearfix menu">
                    <li class="menu-item menu-item--expanded menu-item--active-trail">
                        <a href="/home/ensenanza/licenciaturas" data-drupal-link-system-path="node/38">Licenciaturas</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded menu-item--active-trail">
                                <a href="/home/ensenanza/licenciaturas/huajuapan_de_leon" data-drupal-link-system-path="node/45">Hujuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item" *ngFor="let licenciatura of licenciaturas">
                                        <a 
                                          (click)="navigateTo(licenciatura.nombre)">
                                          {{ licenciatura.nombre }}
                                        </a>
                                      </li>   
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item--expanded">
                        <a href="/home/ensenanza/posgrados" data-drupal-link-system-path="node/37">Posgrados</a>
                        <ul class="menu">
                            <li class="menu-item menu-item--expanded">
                                <a href="/home/ensenanza/posgrados/huajuapan_de_leon" data-drupal-link-system-path="node/58">Huajuapan de Leon</a>
                                <ul class="menu">
                                    <li class="menu-item"*ngFor="let posgrado of posgrados">
                                        <a (click)="navigateTo(posgrado.nombre)">{{ posgrado.nombre }}</a>
                                      </li> 
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_licenciatura" data-drupal-link-system-path="node/36">Ingreso a Licenciatura</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/ingreso_a_posgrado" data-drupal-link-system-path="node/35">Ingreso a Posgrado</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/becas" data-drupal-link-system-path="node/34" class="highlight-red">Becas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/bibliotecas" data-drupal-link-system-path="node/405">Bibliotecas</a>
                    </li>
                    <li class="menu-item">
                        <a href="/home/ensenanza/servicios_escolares" data-drupal-link-system-path="node/98">Servicios Escolares</a>
                    </li>
                </ul>
            </nav>
        </div>
    
    <div class="region region-content">
        <div id="block-suneo-umar-page-title" class="clearfix block block-core block-page-title-block">
      
        
          <div class="content">
          
      <h1 class="title page-title"><span class="field field--name-title field--type-string field--label-hidden">Becas</span>
    </h1>
    
    
        </div>
      </div>
    
    
      <article data-history-node-id="34" role="article" about="/web/ensenanza/becas" class="node node--type-pagina-ensenanza node--view-mode-full clearfix">
        <div class="node__container">
          <div class="node__main-content clearfix">
            <header class="node__header">
              <h2 class="node__title title sr-only">
                <span class="field field--name-title field--type-string field--label-hidden">Becas</span>
              </h2>
            </header>
      
            <div class="field field--name-field-portada-inv-cpe field--type-image field--label-hidden field__item">
                <img loading="lazy" src="/assets/images/Computacion.png" width="700" height="280" alt="Becas" typeof="foaf:Image" />
              </div>
      
            <div class="text-container field--type-text-with-summary field--label-hidden field__item">
              <p>La Universidad Tecnologíca de la Mixteca ofrece diferentes tipos de apoyos para los estudiantes:</p>
              <ul>
                <li>De Colegiatura y otros servicios: Programa por el cual se asigna una beca del 25 al 100% según el estudio socioeconómico realizado al alumno, adicionalmente por su rendimiento académico y su participación en actividades complementarias. La beca se aplica al pago de colegiatura, reinscripción, examen extraordinario y examen especial. Cada semestre se actualiza el porcentaje de la beca.</li>
                <li>Beca Alimentaria: Se proporciona a los alumnos que lo solicitan, según su situación económica y la disponibilidad de la beca en la Universidad, conforme a la convocatoria.</li>
                <li>Programa Nacional de Becas (MANUTENCIÓN): La Universidad Tecnológica de la Mixteca apoya a los alumnos a tramitar esta beca de acuerdo con la convocatoria anual emitida por el Programa, siempre y cuando no cuenten con otra beca externa.</li>
                <li>Otras Becas externas: De acuerdo con las convocatorias recibidas o vigentes de diversas instituciones y a la solicitud de los alumnos, se les apoya en la expedición de constancias u otros documentos solicitados, por ejemplo, para becas de Vinculación, de Servicio Social, de Titulación y de Vinculación.</li>
                <li>Becas Prospera: Se apoya al alumno a mantener actualizada su ficha escolar en la página del SUBES y con la expedición de constancias que solicite.</li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      
    </div>
</div>
